/* karthik 07-15 18:32*/ 
/* Date: 18-06-2014 Time: 06.00pm */

.private-bank #header .header-container, .tpc #header .header-container,.treasures #header .header-container { 
border-bottom: 0;
background: 0;
}

.treasures #header .header-container { 
  background-image: url("/iwov-resources/images/backgrounds/TR-iWealth.png");
}
.tpc #header .header-container { 
  background-image: url("/iwov-resources/images/backgrounds/TPC-iWealth.png");
} 
.private-bank #header .header-container { 
  background-image: url("/iwov-resources/images/backgrounds/PB-iWealth.png");
} 
.compact.private-bank .get-in-touch-container, .compact.tpc .get-in-touch-container, .compact.treasures .get-in-touch-container {
  top: 0 !important;
}
.compact.private-bank .your-dbs-hero-block .get-in-touch-container, .compact.tpc .your-dbs-hero-block .get-in-touch-container, 
.compact.treasures .your-dbs-hero-block .get-in-touch-container {
  position: absolute;
  right: -10px;
}
.compact.private-bank .get-in-touch-container .col4-module.get-in-touch, .compact.tpc .get-in-touch-container .col4-module.get-in-touch, .compact.treasures .get-in-touch-container .col4-module.get-in-touch {
  background-color: transparent;
  border-bottom: 0;
  margin: 10px 0 20px 0 !important;
}
.compact.private-bank .col4-module.get-in-touch .title, .compact.tpc .col4-module.get-in-touch .title, .compact.treasures .col4-module.get-in-touch .title {
  height: 20px; 
  position: relative;
  background-color: #c00;
  padding: 10px 20px;
  background-image: url("/iwov-resources/images/backgrounds/icn-phone-iWealth.png"); 
  /* background-position: 288px; */
  background-position: right;
}
.compact.private-bank .git-container .title span.seo-span-title, .compact.tpc .git-container .title span.seo-span-title, .compact.treasures .git-container .title span.seo-span-title {
  display: none 
}
.compact.private-bank .col4-module.get-in-touch .title p, .compact.tpc .col4-module.get-in-touch .title p, .compact.treasures .col4-module.get-in-touch .title p {
  clear: both;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  padding: 0;
  color: #300;
  text-shadow: 0 1px 1px #e52e2e;
  height: auto;
  width: 100%;
  white-space: nowrap;
  font-weight: 700\0;
}
.compact.private-bank .get-in-touch .title.icn-phone a, .compact.tpc .get-in-touch .title.icn-phone a, .compact.treasures .get-in-touch .title.icn-phone a { 
  display: none; 
}
.compact.private-bank .col4-module.get-in-touch .git-container ul.unstyled, .compact.tpc .col4-module.get-in-touch .git-container ul.unstyled, 
.compact.treasures .col4-module.get-in-touch .git-container ul.unstyled {
  margin-top: 0 !important;
}
.compact.private-bank .col4-module.get-in-touch ul, 
.compact.tpc .col4-module.get-in-touch ul, 
.compact.treasures .col4-module.get-in-touch ul { 
  font-size: 18px !important; 
  padding-bottom: 0px;  
}
.compact.private-bank .col4-module.get-in-touch .git-container ul li , 
.compact.tpc .col4-module.get-in-touch  .git-container ul li , 
.compact.treasures .col4-module.get-in-touch  .git-container ul li {
  padding: 10px 20px !important;
  border-bottom: 0;
  line-height: 20px;
}

.compact.private-bank .col4-module.get-in-touch ul li:hover , 
.compact.tpc .col4-module.get-in-touch ul li:hover , 
.compact.treasures .col4-module.get-in-touch ul li:hover {
  border-bottom: 0;
}
  

.private-bank #header .header-container, .tpc #header .header-container, .treasures #header .header-container {
  height: 110px;
}
.private-bank #header .header-container .logo, .tpc #header .header-container .logo, .treasures #header .header-container .logo {
  height: 70px; 
}
.private-bank #header .header-menu, .tpc #header .header-menu, .treasures #header .header-menu {
  min-height: 80px;
}
.private-bank #header .header-menu>li, .tpc #header .header-menu>li, .treasures #header .header-menu>li {
  min-height: 70px; 
}
.private-bank .main-navigation ul li a, .tpc .main-navigation ul li a, .treasures .main-navigation ul li a{
  padding-top: 15px;
  padding-bottom: 10px;
  line-height: 20px;
}
.private-bank .main-navigation .scope-note, .tpc .main-navigation .scope-note, .treasures .main-navigation .scope-note {
  line-height: 13px;
}
/*
.compact.private-bank .landing-page-hero img.hero-bg, .compact.tpc .landing-page-hero img.hero-bg, .compact.treasures .landing-page-hero img.hero-bg { 
  width: 100%;
  height: 272px;
}
.compact.private-bank .landing-page-hero .hero-image, .compact.tpc .landing-page-hero .hero-image, .compact.treasures .landing-page-hero .hero-image { 
  height: 272px;
  overflow: hidden;
  background-color: #bcafa6;  
}
 
.compact.private-bank .landing-page-hero .landing-page-hero-content, 
.compact.tpc .landing-page-hero .landing-page-hero-content, 
.compact.treasures .landing-page-hero .landing-page-hero-content { 
  top: 0;
  width: 400px;
  height: 272px;
  background: none;
}
.compact.private-bank .landing-page-hero .landing-page-hero-content a, 
.compact.tpc .landing-page-hero .landing-page-hero-content a, 
.compact.treasures .landing-page-hero .landing-page-hero-content a { 
 cursor: default !important; 
}

.compact.private-bank .landing-page-hero .landing-page-hero-content .content, 
.compact.tpc .landing-page-hero .landing-page-hero-content .content, 
.compact.treasures .landing-page-hero .landing-page-hero-content .content {
  padding: 30px 0 0 20px;
  width: 380px;
  position: relative;
  height:212px;
}
.compact.private-bank .landing-page-hero .landing-page-hero-content .content .seo-carousel-title, 
.compact.tpc .landing-page-hero .landing-page-hero-content .content .seo-carousel-title, 
.compact.treasures .landing-page-hero .landing-page-hero-content .content .seo-carousel-title { 
  color: #363434;
  line-height: 50px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
  white-space: normal;
  cursor: default;
  pointer-events: none;
}
.compact.private-bank .landing-page-hero .landing-page-hero-content .content span, 
.compact.tpc .landing-page-hero .landing-page-hero-content .content span, 
.compact.treasures .landing-page-hero .landing-page-hero-content .content span {
display: none;
}
.compact.private-bank .landing-page-hero .landing-page-hero-content .content p.intro-text, 
.compact.tpc .landing-page-hero .landing-page-hero-content .content p.intro-text, 
.compact.treasures .landing-page-hero .landing-page-hero-content .content p.intro-text { 
  padding-top: 10px;
  color: #363434;
  line-height: 25px;
  position: static;
}
*/
.compact.private-bank .content p.intro-text b, .compact.tpc .content p.intro-text b, .compact.treasures .content p.intro-text b { 
color: #fcfcfc !important;
text-shadow: 0 -1px 0 #300;
background-color: #c00;
background-image: none;
border-bottom: 2px solid #7f0000 !important;
padding: 7px 12px;
font-size: 18px;
line-height: 20px;
font-weight: 700;
font-weight: 400\0;
text-align: center;
cursor: pointer;
background-repeat: repeat-x;
border: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
filter: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
position: absolute;
/*
left: 20px;
bottom: 30px;
*/
left:20px;
bottom:30px;
}
/*
.compact.private-bank #textHolder p.intro-text b, .compact.tpc #textHolder p.intro-text b, .compact.treasures #textHolder p.intro-text b { 
font-weight: 700;
font-weight: 400\0;
}
.compact.private-bank .landing-page-hero .landing-page-hero-content .content p.shadow-text, 
.compact.tpc .landing-page-hero .landing-page-hero-content .content p.shadow-text, 
.compact.treasures .landing-page-hero .landing-page-hero-content .content p.shadow-text { 
display: none;
}
.compact.private-bank .landing-page-hero-tiles, .compact.tpc .landing-page-hero-tiles, .compact.treasures .landing-page-hero-tiles { 
margin-top: 0;
height: auto;
}
.compact.private-bank .landing-page-hero-tiles .tile, .compact.tpc .landing-page-hero-tiles .tile, .compact.treasures .landing-page-hero-tiles .tile { 
	height: 20px; 
	font-size: 16px;
    line-height: 20px;
    padding-top: 15px!important;
    padding-bottom: 15px!important;	
} 
.compact.private-bank .landing-page-hero .landing-page-hero-content .content #imageHolder, 
.compact.tpc .landing-page-hero .landing-page-hero-content .content #imageHolder, 
.compact.treasures .landing-page-hero .landing-page-hero-content .content #imageHolder {  
  display:none;
}

*/
/* Hero Carousel - START  */
.compact.private-bank .hero-block, 
.compact.private-bank .hero-block .promo-hero-block, 
.compact.tpc .hero-block,
.compact.tpc .hero-block .promo-hero-block, 
.compact.treasures .hero-block,
.compact.treasures .hero-block .promo-hero-block, 
.compact.private-bank .your-dbs-hero-block ,
.compact.tpc .your-dbs-hero-block, 
.compact.treasures .your-dbs-hero-block { 
  height: 272px; 
  min-height: 272px; 
}
/*chd bau fixes*/
.your-dbs-hero-block{height: inherit !important;}
/*chd bau fixes*/
.compact.private-bank .hero-block .promo-hero-block h1,
.compact.tpc .hero-block .promo-hero-block h1,
.compact.treasures .hero-block .promo-hero-block h1
 {
  margin: 30px 0 20px 0;
  line-height: 50px;
  width: 540px;
}
.compact.private-bank .your-dbs-hero-block h1, 
.compact.tpc .your-dbs-hero-block h1, 
.compact.treasures .your-dbs-hero-block h1 
{ 
  margin: 30px 0 10px 0; 
  line-height: 50px;
  width: 540px; 
}

/* TODO: Below H2 tag to be convert to h3 tag */
.compact.private-bank .your-dbs-hero-block h2.themed,
.compact.tpc .your-dbs-hero-block h2.themed,
.compact.treasures .your-dbs-hero-block h2.themed
 {
font-size: 18px;
line-height: 18px;
font-weight: 700;
font-weight: 400\0;
margin: 0px 0px 10px 0px !important;
text-rendering: optimizelegibility;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
width: 540px;
}
.compact.private-bank .your-dbs-hero-block .not-my-page, 
.compact.tpc .your-dbs-hero-block .not-my-page, 
.compact.treasures .your-dbs-hero-block .not-my-page
{ 
  line-height: 14px;
  margin: 0px 0px 10px 0px !important;
  width: 540px;
} 
.compact.private-bank .your-dbs-hero-block .intro-text, 
.compact.tpc .your-dbs-hero-block .intro-text, 
.compact.treasures .your-dbs-hero-block .intro-text 
{ 
  line-height: 20px;
  margin: 0px 0px 10px 0px !important;
  width: 540px;
}
.compact.private-bank .hero-block .promo-hero-block .content h1, 
.compact.tpc .hero-block .promo-hero-block .content h1, 
.compact.treasures .hero-block .promo-hero-block .content h1 
{
  width: 540px;
}

.compact.private-bank .hero-block .promo-hero-block .content p.intro-text, 
.compact.tpc .hero-block .promo-hero-block .content p.intro-text, 
.compact.treasures .hero-block .promo-hero-block .content p.intro-text 
{ 
height: 20px;
margin-top: 20px;
margin-bottom: 20px;
line-height: 20px;
width: 540px;
}

.compact.private-bank .promo-hero-block #hero-promo-carousel, 
.compact.tpc .promo-hero-block #hero-promo-carousel, 
.compact.treasures .promo-hero-block #hero-promo-carousel, 
.compact.private-bank .your-dbs-hero-block  #hero-promo-carousel,
.compact.tpc .your-dbs-hero-block  #hero-promo-carousel,
.compact.treasures .your-dbs-hero-block  #hero-promo-carousel
{
width: 440px;
padding-top: 10px;
bottom: 8px;
margin-bottom: 0;
}
.compact.private-bank .promo-hero-block #hero-promo-carousel .carousel-inner, 
.compact.tpc .promo-hero-block #hero-promo-carousel .carousel-inner, 
.compact.treasures .promo-hero-block #hero-promo-carousel .carousel-inner, 
.compact.private-bank .your-dbs-hero-block  #hero-promo-carousel .carousel-inner, 
.compact.tpc .your-dbs-hero-block  #hero-promo-carousel .carousel-inner, 
.compact.treasures .your-dbs-hero-block  #hero-promo-carousel .carousel-inner
{
height: auto;
clear: both;
margin-bottom: 20px;
}
.compact.private-bank .promo-hero-block .carousel-inner .item, 
.compact.tpc .promo-hero-block .carousel-inner .item, 
.compact.treasures .promo-hero-block .carousel-inner .item, 
.compact.private-bank .your-dbs-hero-block .carousel-inner .item,
.compact.tpc .your-dbs-hero-block .carousel-inner .item,
.compact.treasures .your-dbs-hero-block .carousel-inner .item
{
  width: 100%;
}
.compact.private-bank  .promo-hero-block .carousel-inner .item img, 
.compact.tpc  .promo-hero-block .carousel-inner .item img, 
.compact.treasures  .promo-hero-block .carousel-inner .item img, 
.compact.private-bank .your-dbs-hero-block .carousel-inner .item img, 
.compact.tpc .your-dbs-hero-block .carousel-inner .item img, 
.compact.treasures .your-dbs-hero-block .carousel-inner .item img 
{
  margin-right: 20px;
  width: 120px;
  height: 90px;
}
.compact.private-bank .promo-hero-block .carousel-inner .item .seo-carousel-title, 
.compact.tpc .promo-hero-block .carousel-inner .item .seo-carousel-title, 
.compact.treasures .promo-hero-block .carousel-inner .item .seo-carousel-title, 
.compact.private-bank .promo-hero-block .carousel-inner .item h2, 
.compact.tpc .promo-hero-block .carousel-inner .item h2, 
.compact.treasures .promo-hero-block .carousel-inner .item h2, 
.compact.private-bank .your-dbs-hero-block .carousel-inner .item .seo-carousel-title,
.compact.tpc .your-dbs-hero-block .carousel-inner .item .seo-carousel-title,
.compact.treasures .your-dbs-hero-block .carousel-inner .item .seo-carousel-title,
.compact.private-bank .your-dbs-hero-block .carousel-inner .item h2,
.compact.tpc .your-dbs-hero-block .carousel-inner .item h2,
.compact.treasures .your-dbs-hero-block .carousel-inner .item h2
{
font-size: 18px !important;
line-height: 18px  !important;
display: inline-block;
margin: 0px 0px 10px 0px;
}
.compact.private-bank .promo-hero-block .carousel-inner .item p, 
.compact.tpc .promo-hero-block .carousel-inner .item p, 
.compact.treasures .promo-hero-block .carousel-inner .item p, 
.compact.private-bank .your-dbs-hero-block .carousel-inner .item p,
.compact.tpc .your-dbs-hero-block .carousel-inner .item p,
.compact.treasures .your-dbs-hero-block .carousel-inner .item p
{
height: 40px;
line-height: 20px;
margin-bottom: 10px;
margin-top: 0;
}
.compact.private-bank #hero-promo-carousel .carousel-inner .item a.pull-right, 
.compact.tpc #hero-promo-carousel .carousel-inner .item a.pull-right, 
.compact.treasures #hero-promo-carousel .carousel-inner .item a.pull-right 
{
margin-top: 0;
line-height: 14px;
margin-right: 40px;
}
.compact.private-bank .promo-hero-block .carousel-indicators, 
.compact.tpc .promo-hero-block .carousel-indicators, 
.compact.treasures .promo-hero-block .carousel-indicators, 
.compact.private-bank .your-dbs-hero-block .carousel-indicators, 
.compact.tpc .your-dbs-hero-block .carousel-indicators, 
.compact.treasures .your-dbs-hero-block .carousel-indicators 
{
bottom: 5px;
margin: 5px 0px 0px 0px;
}
/* Hero Carousel - END */
.compact.private-bank .your-dbs-hero-block .hero-block-text,
.compact.tpc .your-dbs-hero-block .hero-block-text,
.compact.treasures .your-dbs-hero-block .hero-block-text {
  min-height: initial;
}

.compact.private-bank .callUs, .compact.tpc .callUs, .compact.treasures .callUs { color: #fff; }
 
.compact.private-bank .your-dbs-hero-block .welcome-temporary .intro-text, 
.compact.tpc .your-dbs-hero-block .welcome-temporary .intro-text, 
 .compact.treasures .your-dbs-hero-block .welcome-temporary .intro-text {
  min-height: 77px;
}  
.your-dbs-hero-block .welcome-temporary .btn {
  margin: 0px;
}
.your-dbs-hero-block .welcome-temporary .btn.spaced { 
  margin-left: 10px;
}
.your-dbs-hero-block .welcome-temporary a.spaced-top {
position: absolute;
bottom: 0;
margin-bottom: 30px !important;
}

.subscribe-block .span12 .page-module.hero-block { min-height: inherit; }

/* Chat pixelation - START */
.col4-module.get-in-touch div.chat { margin: 0; }
.col4-module.get-in-touch div.chat-disclaimer div.clearfix { line-height: 18px; }
.col4-module.get-in-touch div.chat-disclaimer span.live-chat { line-height: 18px; }
.chat-offline .clearfix { line-height: 18px; }
.chat span.seo-span {
  margin: 10px 0 5px 0;
  font-size: 14px;
  line-height: 14px;
  min-height: 14px;	  
}

.col4-module.get-in-touch div.chat-offline div.normal_detectCanvas {  
  margin: 10px 0;
  min-height: 179px;  
}

.col4-module.get-in-touch div.chat-offline {
  padding-top: 20px;
  margin-top: 0;
}
.col4-module.get-in-touch div.chat-disclaimer {
  margin: 0px;
}
.col4-module.get-in-touch div.chat-disclaimer div.normal_detectCanvas {
  min-height: 143px;
}
.col4-module.get-in-touch div.chat-offline span.live-chat {
  font-size: 18px;
  line-height: 18px;
}
/* Chat pixelation - END */
.form-investor-type-wealth .hero-block {
  height: auto;
  min-height: inherit;
}

#header .header-menu .dropdown-menu {
    width: 260px;
    /* Added for header aligment issue BAU-IN378010 */
    /* margin-top: -2px; */
	margin-top: -0px;
    margin-bottom: 2px
}

/* [22-05-2013] FF hack - Ravi */
#header .header-menu .dropdown-menu, x:-moz-any-link  { 
   /* margin-top: -3px !important;  */
   /* Added for header aligment issue BAU-IN378010 */
   margin-top: -1px !important; 
   margin-left: -1px;
   margin-right: -1px;
}
/* #search-dropdown, x:-moz-any-link  {margin-right: -1px;} */

/* [22-05-2013] Chrome & Safari hack - Ravi */
@media screen and (-webkit-min-device-pixel-ratio:0) {
#header .header-menu .dropdown-menu { 
   /* margin-top: -3px !important;  */
   /* Added for header aligment issue BAU-IN378010 */
   margin-top: -1px !important;  
   margin-left: -1px;
   margin-right: -1px;
}
/* #search-dropdown {margin-right: -1px;}  */
}
 #hero-promo-carousel .carousel-inner{height:92px !important;}
 #hero-block-DIV .col4-module.get-in-touch .title{
height:20px;
padding: 10px 20px;
}

#wealth-choose-content  .hero-block{height:auto;min-height:0;}

.compact.private-bank .pagehero .get-in-touch-container, .compact.tpc .pagehero .get-in-touch-container, .compact.treasures .pagehero .get-in-touch-container{
  top: 20px !important;
}
.pholder{color:#ccc6c6 \9 !important}