/*body { font-family: "Frutiger",Arial,sans-serif; font-size: 14px; line-height: 20px; background: url(../images/mobile.jpg) no-repeat center center fixed; 
-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; margin: 0; padding: 0; }
img { outline: 0; max-width: 100%; height: auto; }*/
a, a:visited, a:hover { color: #c00; }
a:visited { color: #680000; }
.row-fluid { width: 100% }
.span12 { width: 100% }
.header-container { min-height: 50px; border-bottom: 10px solid #c00; background: #000; background-repeat: repeat-x; }
.row-fluid .span12.mobile-image { text-align: center; margin-top: 5%; }
.row-fluid .span12.mobile-image .mobile-link  { margin: 5px 0; line-height: 15px; }
.row-fluid .span12.mobile-image .mobile-link a { text-decoration: none; }
.row-fluid .span12.mobile-image .mobile-link a:hover { text-decoration: underline; }
.row-fluid .span12.mobile-image .mobile-link a .icn-arrow-red  { background: url('../images/icons-s0099f5f8a7.png') no-repeat; background-position: 0 -1431px;height: 14px; width: 8px; }
.row-fluid .span12.mobile-image .mobile-link a .launch { margin-top: 0; margin-left: 10px; position: absolute; }
.row-fluid .span12.mobile-image .dbs-mobile { width: 32%; }
.row-fluid .span12 .app-download-btns { margin-top: 1%; }
.row-fluid .span12 .app-download-btns .ios-btn { margin-right: 1%; }
.row-fluid .span12 .spacer { margin-bottom: 2%;}
.row-fluid .span12 .copyright { text-align: center; color: #fff; }
.row-fluid .span4 { width: 31.91489%; }
.row-fluid .span12.mobile-image  .span4 { display: inline; }

/* START of adding font face for IE*/
@font-face {
    font-family:'Frutiger';src:url("../../iwov-resources/fonts/frutiger-next/frutigernextlt-regular-webfont.eot");src:url("../../iwov-resources/fonts/frutiger-next/frutigernextlt-regular-webfont.eot?#iefix") format("embedded-opentype"),url("../../iwov-resources/fonts/frutiger-next/frutigernextlt-regular-webfont.woff") format("woff"),url("../../iwov-resources/fonts/frutiger-next/frutigernextlt-regular-webfont.ttf") format("truetype"),url("../../iwov-resources/fonts/frutiger-next/frutigernextlt-regular-webfont.svg#frutigernextltregular") format("svg");font-weight:400;font-style:normal
}

@font-face {
    font-family:'Frutiger';src:url("../../iwov-resources/fonts/frutiger-next/frutigernextlt-light-webfont.eot");src:url("../../iwov-resources/fonts/frutiger-next/frutigernextlt-light-webfont.eot?#iefix") format("embedded-opentype"),url("../../iwov-resources/fonts/frutiger-next/frutigernextlt-light-webfont.woff") format("woff"),url("../../iwov-resources/fonts/frutiger-next/frutigernextlt-light-webfont.ttf") format("truetype"),url("../../iwov-resources/fonts/frutiger-next/frutigernextlt-light-webfont.svg#frutigernextlt_lightregular") format("svg");font-weight:300;font-style:normal
}

@font-face {
    font-family:'Frutiger';src:url("../../iwov-resources/fonts/frutiger-next/frutigernextlt-medium-webfont.eot");src:url("../../iwov-resources/fonts/frutiger-next/frutigernextlt-medium-webfont.eot?#iefix") format("embedded-opentype"),url("../../iwov-resources/fonts/frutiger-next/frutigernextlt-medium-webfont.woff") format("woff"),url("../../iwov-resources/fonts/frutiger-next/frutigernextlt-medium-webfont.ttf") format("truetype"),url("../../iwov-resources/fonts/frutiger-next/frutigernextlt-medium-webfont.svg#frutigernextltmedium") format("svg");font-weight:700;font-style:normal
}

/*Adding font face for IE*/
@font-face {
    font-family: 'frutigernextlt_lightregular';
    src: url('../../iwov-resources/fonts/frutiger-next/frutigernextlt-light-webfont.eot');
    src: url('../../iwov-resources/fonts/frutiger-next/frutigernextlt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../iwov-resources/fonts/frutiger-next/frutigernextlt-light-webfont.woff') format('woff'),
         url('../../iwov-resources/fonts/frutiger-next/frutigernextlt-light-webfont.ttf') format('truetype'),
         url('../../iwov-resources/fonts/frutiger-next/frutigernextlt-light-webfont.svg#frutigernextlt_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
/*300*/
}

@font-face {
    font-family: 'frutigernextltmedium';
    src: url('../../iwov-resources/fonts/frutiger-next/frutigernextlt-medium-webfont.eot');
    src: url('../../iwov-resources/fonts/frutiger-next/frutigernextlt-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../iwov-resources/fonts/frutiger-next/frutigernextlt-medium-webfont.woff') format('woff'),
         url('../../iwov-resources/fonts/frutiger-next/frutigernextlt-medium-webfont.ttf') format('truetype'),
         url('../../iwov-resources/fonts/frutiger-next/frutigernextlt-medium-webfont.svg#frutigernextltmedium') format('svg');
    font-weight: normal;
    font-style: normal;
/*700*/
}

@font-face {
    font-family: 'frutigernextltregular';
    src: url('../../iwov-resources/fonts/frutiger-next/frutigernextlt-regular-webfont.eot');
    src: url('../../iwov-resources/fonts/frutiger-next/frutigernextlt-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../iwov-resources/fonts/frutiger-next/frutigernextlt-regular-webfont.woff') format('woff'),
         url('../../iwov-resources/fonts/frutiger-next/frutigernextlt-regular-webfont.ttf') format('truetype'),
         url('../../iwov-resources/fonts/frutiger-next/frutigernextlt-regular-webfont.svg#frutigernextltregular') format('svg');
    font-weight: normal;
    font-style: normal;
/*400*/
}
/* End of adding font face*/


@media (min-width: 768px){
.row-fluid .span12.footer { position: fixed; bottom: 0; } 
}
@media (max-width: 320px){
.row-fluid .span12.footer { position: fixed; bottom: 0; } 
} 
