<div class="" *ngIf="showField && showField.type == 'hidden'">
    <input type="hidden" data-title="{{showField.name}}" />
</div>

<div class="field" *ngIf="showField" style="clear:both;">


    <section [ngSwitch]="showField.type" style="">

        <section *ngSwitchCase="'dropdown'">
            <div class="container-fluid">
                <div id="step-number-control" class="row step-item">
                    <label class="row-label"><span>{{showField.name}}</span></label>
                    <div class="id-number-group clearfix">
                        <div class="col-sm-12 col-xs-12 id-dropdown-control id-dropdown">
                            <select class="form-control select-custom" [(ngModel)]="showField.ans" *ngIf="!showField.origin">
                                <option *ngFor="let c of showField.options" [ngValue]="c.value">{{c.value}}</option>
                            </select>
                            <select *ngIf="showField.origin" [(ngModel)]="showField.ans" class="form-control select-custom">
                                <option *ngFor="let c of items" [ngValue]="c">{{c}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section *ngSwitchCase="'text'">
            <div class="container-fluid">
                <div id="step-card-number" class="row step-item clearfix">
                    <label class="row-label">{{showField.name}}</label>
                    <div class="col-xs-12">
                        <div class="input-wrapper">
                            <input class="form-control has-feedback autofocus" name="card-number" type="text" placeholder="{{showField.name}}" [(ngModel)]="showField.ans">
                            <span class="icon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section *ngSwitchCase="'image'">
            <img src="{{showField.value}}" alt="{{showField.title}}" style="width: 100px;" />
        </section>
        <section *ngSwitchCase="'textarea'">
            <div class="container-fluid">
                <div id="step-card-number" class="row step-item clearfix">
                    <label class="row-label">{{showField.name}}</label>
                    <div class="col-xs-12">
                        <div class="input-wrapper">
                            <textarea [maxlength]="getFieldLength(showField)" rows="4" cols="50" class="form-control" [(ngModel)]="showField.ans"></textarea>
                            <span class="icon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section *ngSwitchCase="'number'">
            <div class="container-fluid">
                <div id="step-card-number" class="row step-item clearfix">
                    <label class="row-label">{{showField.name}}</label>
                    <div class="col-xs-12">
                        <div class="input-wrapper">
                            <input [maxlength]="getFieldLength(showField)" type="number" class="form-control" [(ngModel)]="showField.ans">
                            <span class="icon"></span>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section *ngSwitchCase="'date'">
            <div class="container-fluid">
                <div id="step-card-number" class="row step-item clearfix">
                    <label class="row-label">{{showField.name}}</label>
                    <div class="col-xs-12">
                        <div class="input-wrapper">
                            <input type="date" class="form-control" [(ngModel)]="showField.ans">
                            <span class="icon"></span>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section *ngSwitchCase="'container'">
            <div class="container-fluid title-container text-center">{{showField.name}}</div>
            <article *ngFor="let item of showField.subFields; let i=index" [class.col-md-6]="item.isRowContinued" [class.col-md-12]="!item.isRowContinued">
                <uob-form-ui [showField]="item" [index]="i"></uob-form-ui>
            </article>
        </section>
        <section *ngSwitchCase="'radio'">

            <div class="container-fluid">
                <div id="step-card-number" class="row step-item clearfix">
                    <label class="row-label">{{showField.name}}</label>
                    <div class="col-xs-12">
                        <div class="input-wrapper">
                            <div class="clearfix">
                                <label style="font-size: 18px;" class="pull-left m-l" *ngFor="let op of showField.options; let i=index"><input type="radio"  [checked]="showField.ans && op.value === showField.ans" [value]="op.value" name="{{showField.id}}" (change)="onSingleChoiceChange(op, $event)" /> {{op.value}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section *ngSwitchCase="'checkbox'">
            <div class="control-group">
                <div class="labels">
                    <label class="control-label" for="prefContact"> {{showField.name}}:</label>
                    <span class="muted"></span>
                </div>
                <div class="controls">
                    <div class="clearfix">
                        <label style="font-size: 18px;" class="pull-left m-l" *ngFor="let op of showField.options; let i=index"><input type="checkbox" [checked]="showField.ans && showField.ans.indexOf(op.value) >= 0" 
                        (change)="onMultiChoiceChange(op, $event.target.checked)">{{op.value}}</label>
                    </div>
                </div>
            </div>
        </section>
        <section *ngSwitchCase="'local_data'">
        </section>
        <section *ngSwitchCase="'label'">
            <label class="row-label"><h4>{{showField.name}}</h4></label>
            <!-- <div class="container-fluid title-container text-center">{{showField.name}}</div> -->

        </section>
        <section *ngSwitchCase="'rich_text'">

            <div class="container-fluid title-container" [innerHtml]="showField.name"></div>

        </section>
        <section *ngSwitchCase="'slider'">
            <div class="container-fluid">
                <div id="step-card-number" class="row step-item clearfix">
                    <label class="row-label">{{showField.name}}</label>
                    <div class="col-xs-12">
                        <div class="input-wrapper">
                            <ion-range-slider [min]="showField.min" [max]="showField.max" from="0"></ion-range-slider>
                            <span class="icon"></span>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section *ngSwitchCase="'tab'">
            <div (click)="$event.preventDefault()">
                <tabset>
                    <tab *ngFor="let tabz of showField.tabs; let j=index" [heading]="tabz.title" [active]="tabz.active" (select)="tabz.active = true" (deselect)="tabz.active = false" [disabled]="tabz.disabled" [removable]="false" [customClass]="tabz.customClass">
                        <article *ngFor="let item of tabz.subFields; let i=index">
                            <uob-form-ui [showField]="item" [index]="i" [isNumberDisplayed]="false"></uob-form-ui>
                        </article>
                    </tab>
                    <div class="text-right">
                        <button class="btn uob" [attr.disabled]="showField.tabs[0].active ? '': null" (click)="onTabPreviousCliked();">Previous</button>
                        <button class="btn uob" [attr.disabled]="showField.tabs.length - 1 == getActiveTabIndex() ? '': null" (click)="onTabNextClicked();">Next</button>
                    </div>
                </tabset>

            </div>
        </section>
        <section *ngSwitchCase="'submit_button'">
            <button class="btn btn-info btn-lg">{{showField.name}}</button>
        </section>

    </section>
</div>
<br/>