body,
html {
    overflow-x: hidden;
    overflow-y: auto;
}

#mobileNumber {
    margin: 0 !important;
    width: 62%;
}

#mobileAreaCode {
    width: 19%;
}

#collateralDetails {
    padding-top: 0px;
}

#pin {
    width: 19% !important;
}

#countryCode {
    width: 22%;
}

#areaCode {
    width: 22%;
}

#officeNumber {
    width: 72%;
}

.select-wrapper {
    margin: 0 !important;
}

.splitter-tile .selectedView p.mr10 {
    margin-right: 3px!important
}

.splitter-tile .selectedView input.mr10 {
    margin-right: 5px!important
}

body.noscroll,
html.noscroll {
    overflow: hidden !important;
}