<div class="" *ngIf="showField && showField.type == 'hidden'">
    <input type="hidden" data-title="{{showField.name}}" />
</div>

<div class="field" *ngIf="showField" style="clear:both;">


    <section [ngSwitch]="showField.type" style="">
        <section *ngSwitchCase="'dropdown'">
            <div class="control-group select-dependent">
                <div class="labels">
                    <label class="control-label" for="turnover">{{showField.name}}:</label>
                    <span class="muted"></span>
                </div>
                <div class="controls">
                    <select *ngIf="!showField.origin" [(ngModel)]="showField.ans" class="customSelect customSelectSmall minimal" style="    margin-bottom: 20px;">
                        <option *ngFor="let c of showField.options" [ngValue]="c.value">{{c.value}}</option>
                    </select>
                    <select *ngIf="showField.origin" [(ngModel)]="showField.ans" class="customSelect customSelectSmall minimal" style="    margin-bottom: 20px;">
                        <option *ngFor="let c of items" [ngValue]="c">{{c}}</option>
                    </select>
                </div>
            </div>

        </section>
        <section *ngSwitchCase="'text'">
            <div class="control-group">
                <div class="labels">
                    <label class="control-label" for="companyName">{{showField.name}}:</label>
                    <span class="muted"></span>
                </div>
                <div class="controls">
                    <input type="text" id="companyName" name="text" placeholder="{{showField.name}}" [(ngModel)]="showField.ans">
                </div>
            </div>

        </section>
        <section *ngSwitchCase="'image'">
            <img src="{{showField.value}}" alt="{{showField.title}}" style="width: 100px;" />
        </section>
        <section *ngSwitchCase="'textarea'">
            <div class="control-group">
                <div class="labels">
                    <label class="control-label" for="companyName">{{showField.name}}:</label>
                    <span class="muted"></span>
                </div>
                <div class="controls">
                    <textarea [maxlength]="getFieldLength(showField)" rows="4" cols="50" class="form-control" [(ngModel)]="showField.ans"></textarea>
                </div>
            </div>
        </section>
        <section *ngSwitchCase="'number'">
            <div class="control-group">
                <div class="labels">
                    <label class="control-label" for="companyName">{{showField.name}}:</label>
                    <span class="muted"></span>
                </div>
                <div class="controls">
                    <input [maxlength]="getFieldLength(showField)" type="number" class="form-control" [(ngModel)]="showField.ans">
                </div>
            </div>

        </section>
        <section *ngSwitchCase="'date'">
            <div class="control-group">
                <div class="labels">
                    <label class="control-label" for="companyName">{{showField.name}}:</label>
                    <span class="muted"></span>
                </div>
                <div class="controls">
                    <input type="date" class="form-control" [(ngModel)]="showField.ans">
                </div>
            </div>

        </section>
        <section *ngSwitchCase="'container'">
            <p class="" style="    font-size: 18px;
                line-height: 25px;
                text-align: center;
                color: #100f0f;">{{showField.name}}:</p>
            <article *ngFor="let item of showField.subFields; let i=index">
                <dbs-form-ui [showField]="item" [index]="i"></dbs-form-ui>
            </article>
        </section>
        <section *ngSwitchCase="'radio'">

            <div class="control-group">
                <div class="labels">
                    <label class="control-label" for="prefContact"> {{showField.name}}:</label>
                    <span class="muted"></span>
                </div>
                <div class="controls">
                    <div class="clearfix">
                        <label class="pull-left" *ngFor="let op of showField.options; let i=index"><input type="radio"  [checked]="showField.ans && op.value === showField.ans" [value]="op.value" name="{{showField.id}}" (change)="onSingleChoiceChange(op, $event)" /> {{op.value}}</label>
                    </div>
                </div>
            </div>

        </section>
        <section *ngSwitchCase="'checkbox'">
            <div class="control-group">
                <div class="labels">
                    <label class="control-label" for="prefContact"> {{showField.name}}:</label>
                    <span class="muted"></span>
                </div>
                <div class="controls">
                    <div class="clearfix">
                        <label class="pull-left" *ngFor="let op of showField.options; let i=index"><input type="checkbox" [checked]="showField.ans && showField.ans.indexOf(op.value) >= 0" 
                        (change)="onMultiChoiceChange(op, $event.target.checked)">{{op.value}}</label>
                    </div>
                </div>
            </div>
        </section>
        <section *ngSwitchCase="'local_data'">
        </section>
        <section *ngSwitchCase="'label'">
            <p class="" style="    font-size: 16px;
                line-height: 25px;
                text-align: left;
                color: #100f0f;">{{showField.name}}:</p>
        </section>
        <section *ngSwitchCase="'rich_text'">
            <div [innerHtml]="showField.name"></div>
        </section>
        <section *ngSwitchCase="'slider'">
            <div class="control-group">
                <div class="labels">
                    <label class="control-label" for="prefContact"> {{showField.name}}:</label>
                    <span class="muted"></span>
                </div>
                <div class="controls">
                    <div class="clearfix">
                        <ion-range-slider [min]="showField.min" [max]="showField.max" from="0"></ion-range-slider>
                    </div>
                </div>
            </div>
        </section>
        <section *ngSwitchCase="'tab'">
            <div (click)="$event.preventDefault()">
                <tabset>
                    <tab *ngFor="let tabz of showField.tabs; let j=index" [heading]="tabz.title" [active]="tabz.active" (select)="tabz.active = true" (deselect)="tabz.active = false" [disabled]="tabz.disabled" [removable]="false" [customClass]="tabz.customClass">
                        <article *ngFor="let item of tabz.subFields; let i=index">
                            <dbs-form-ui [showField]="item" [index]="i" [isNumberDisplayed]="false"></dbs-form-ui>
                        </article>
                    </tab>
                    <div class="text-right">
                        <button class="btn dbs" [attr.disabled]="showField.tabs[0].active ? '': null" (click)="onTabPreviousCliked();">Previous</button>
                        <button class="btn dbs" [attr.disabled]="showField.tabs.length - 1 == getActiveTabIndex() ? '': null" (click)="onTabNextClicked();">Next</button>
                    </div>
                </tabset>

            </div>
        </section>
    </section>
</div>
<br/>