<div class="" *ngIf="showField && showField.type == 'hidden'">
    <input type="hidden" data-title="{{showField.name}}" />
</div>

<div class="field" *ngIf="showField && showField.type != 'hidden'">
    <span *ngIf="showField.type != 'submit_button'">
            <span [class.hide]="!isNumberDisplayed" [innerHtml]="index + 1"></span>&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;

    <span *ngIf="showField.type == 'local_data'; else elseNameBlock">
            {{showField.name}}
            <!--<span *ngIf="field.isEditable; else elseEditableBlock">{{field.value}}</span>
    <ng-template #elseEditableBlock>{{field.name}}</ng-template>-->
    </span>

    <ng-template #elseNameBlock>
        <span *ngIf="showField.type != 'rich_text'">{{showField.name}}</span>
        <span *ngIf="showField.type == 'rich_text'" [innerHtml]="showField.name" style="display: inline-block;"></span>
    </ng-template>
    </span>
    <span *ngIf="showField.type == 'submit_button'">
        <button class="btn">{{showField.name}}</button>
    </span>
    <section [ngSwitch]="showField.type" style="    margin-left: 20px;">
        <section *ngSwitchCase="'dropdown'">
            <select *ngIf="showField.origin" [(ngModel)]="showField.ans" class="form-control">
                <option *ngFor="let c of items" [ngValue]="c">{{c}}</option>
            </select>
            <select *ngIf="!showField.origin" [(ngModel)]="showField.ans" class="form-control">
                <option *ngFor="let c of showField.options" [ngValue]="c.value">{{c.value}}</option>
            </select>
            <!--<ng-select [allowClear]="false" [items]="items" (selected)="selected($event)" [(ngModel)]="showField.ans">
            </ng-select>-->
        </section>
        <section *ngSwitchCase="'text'">
            <!--<input *ngIf="showField.origin == 'local_data'" type="text" class="form-control" [ngModel]="showField.ans">-->

            <ng-container>
                <input [required]="showField.isRequired" type="text" (keydown.Tab)="onTabPressed($event)" [class.loadinggif]="isServerValidating" [class.ng-invalid]="showField.errors && showField.errors.length > 0" [email]="isEmailValidated(showField)" #name="ngModel"
                    [maxlength]="getFieldLength(showField)" class="form-control" [(ngModel)]="showField.ans">
                <!--<input type="text" class="form-control" [(ngModel)]="showField.ans" #name="ngModel" required minlength="4" maxlength="24">-->
                <alert *ngIf="name.errors && (name.dirty || name.touched)" type="danger">
                    <div [hidden]="!name.errors.maxlength">
                        '{{showField.name}}' cannot be more than {{getFieldLength(showField)}} characters long.
                    </div>
                    <div [hidden]="!name.errors.email">
                        '{{showField.name}}' must be valid email
                    </div>
                    <div *ngIf="name.errors.required">
                        '{{showField.name}}' is required.
                    </div>
                </alert>

                <ng-container *ngIf="showField.errors">
                    <alert *ngFor="let err of showField.errors" type="danger">
                        <div>{{err}}</div>
                    </alert>
                </ng-container>

            </ng-container>

        </section>
        <section *ngSwitchCase="'image'">
            <img src="{{showField.value}}" alt="{{showField.title}}" style="width: 100px;" />
        </section>
        <section *ngSwitchCase="'textarea'">
            <textarea [maxlength]="getFieldLength(showField)" rows="4" cols="50" class="form-control" [(ngModel)]="showField.ans"></textarea>
        </section>
        <section *ngSwitchCase="'number'">
            <input min="{{showField.min}}" max="{{showField.max}}" [maxlength]="getFieldLength(showField)" type="number" class="form-control" [(ngModel)]="showField.ans">
        </section>
        <section *ngSwitchCase="'date'">
            <input type="date" class="form-control" [(ngModel)]="showField.ans">
        </section>
        <section *ngSwitchCase="'container'">
            <article *ngFor="let item of showField.subFields; let i=index" [class.col-md-6]="item.isRowContinued" [class.col-md-12]="!item.isRowContinued">
                <field-ui [showField]="item" [index]="i" [isNumberDisplayed]="false"></field-ui>
            </article>
        </section>
        <section *ngSwitchCase="'radio'">
            <!--<div class="radio" *ngFor="let op of showField.options; let i=index">
                    <label><input type="radio" name="{{showField.id}}" (change)="onCheckboxFieldOptionClicked(op)"> {{op.value}}</label>
                </div>-->
            <div class="radio i-checks" *ngFor="let op of showField.options; let i=index">
                <label>
                    <input type="radio" [checked]="showField.ans && op.value === showField.ans" [value]="op.value" name="{{showField.id}}" (change)="onSingleChoiceChange(op, $event)"><i></i>  {{op.value}}
                </label>
            </div>
        </section>
        <section *ngSwitchCase="'checkbox'">
            <!--<div class="checkbox" *ngFor="let op of showField.options; let i=index">
                    <label><input type="checkbox" > {{op.value}}</label>
                </div>-->
            <div class="checkbox i-checks" *ngFor="let op of showField.options; let i=index">
                <label>
                    <input type="checkbox" [checked]="showField.ans && showField.ans.indexOf(op.value) >= 0" 
                        (change)="onMultiChoiceChange(op, $event.target.checked)"><i></i>  {{op.value}}
                </label>
            </div>
        </section>
        <section *ngSwitchCase="'local_data'">
        </section>
        <section *ngSwitchCase="'slider'">
            <ion-range-slider [min]="showField.min" [max]="showField.max" from="0"></ion-range-slider>
        </section>
        <section *ngSwitchCase="'tab'">
            <div (click)="$event.preventDefault()">
                <tabset>
                    <tab *ngFor="let tabz of showField.tabs; let j=index" [heading]="tabz.title" [active]="tabz.active" (select)="tabz.active = true" (deselect)="tabz.active = false" [disabled]="tabz.disabled" [removable]="false" [customClass]="tabz.customClass">
                        <article *ngFor="let item of tabz.subFields; let i=index">
                            <field-ui [showField]="item" [index]="i" [isNumberDisplayed]="false"></field-ui>
                        </article>
                    </tab>
                    <div class="text-right">
                        <button class="btn" [attr.disabled]="showField.tabs[0].active ? '': null" (click)="onTabPreviousCliked();">Previous</button>
                        <button class="btn" [attr.disabled]="showField.tabs.length - 1 == getActiveTabIndex() ? '': null" (click)="onTabNextClicked();">Next</button>
                    </div>
                </tabset>

            </div>
        </section>
    </section>
    <!--<button [myThemeColor]="setting.colorTheme" [setBackground]="'true'" class="btn btn-sm" style="margin-left: 20px;" (click)="btnNextClicked($event)">Ok</button>-->
</div>