.field {
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: opacity 0.4s ease-in-out;
    /*border: 1px solid lightgray;*/
}

.selected {
    background-color: #eaeef1;
}

.container {
    width: 100%;
    height: initial;
    min-height: 50px;
}

.ng-valid,
.ng-valid {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form),
.has-error {
    border-left: 5px solid #a94442;
    /* red */
}

.loadinggif {
    background: url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif') no-repeat right center;
}