<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
        <button type="button" class="btn btn-default pull-right" *ngIf="selectedCategory" (click)="onNext()">Next</button>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let category of categories" [class.active]="category === selectedCategory" (click)="onSelect(category)">{{category.name}}</li>
        </ul>
    </div>
</div>