<div class="ls-row" id="main-view">
    <div class="ls-fxr" id="ls-gen77109365-ls-fxr">
        <div class="ls-area" id="ls-row-3-area-1">
            <div class="ls-area-body" id="ls-gen77109366-ls-area-body">
                <div class="ls-cmp-wrap ls-1st" id="w1437659079759">
                    <div class="iw_component" id="1437659079759">
                        <div class="terms-and-condition step-page clearfix" style="display: none;">
                            <div class="container">
                                <div class="title-container center-block text-center">Important information.</div>
                                <div class="collapsable">
                                    <div class="terms-and-condition-part-1">
                                        <p><strong><span style="text-decoration: underline;">UOB Online Banking<br></span></strong>Instant Registration | Username Retrieval | Password Reset</p>
                                        <p>To proceed, please note that you will require the following<br>&nbsp;<br><strong>- A valid mobile number registered with the bank<br>- Debit/Credit Card or ATM Card<br></strong>&nbsp;<br>If you do not have the above
                                            items, click <a href="http://www.uob.com.sg/personal/ebanking/pib/signup_reset.html" target="_blank">here</a> to find out other ways to register for Online Banking, retrieve Username and reset your Password.<br>&nbsp;<br>All
                                            eligible UOB Personal/Joint-OR accounts will be auto-linked to UOB Personal Internet Banking and UOB Mobile. Please note that Joint-AND accounts which require more than one signature to operate and Joint Unit
                                            Trust accounts cannot be linked for online access.</p>
                                    </div>
                                    <div class="terms-and-condition-part-2">
                                        <p>PLEASE READ THE FOLLOWING TERMS AND CONDITIONS CAREFULLY <br>&nbsp;<br><span style="text-decoration: underline;">For UOB Online Banking Instant Registration<br></span>&nbsp;<br>In consideration of the Bank accepting
                                            the application herein. I agree and confirm as follows:<br>a)&nbsp;I confirm that I have read and understood and that I agree to be bound by the<a href="http://www.uob.com.sg/assets/pdfs/PIB_MBK_TC.pdf" target="_blank"> Terms and Conditions of the UOB Personal Internet Banking and UOB Mobile Services</a>                                            (copies of which are available at the Bank's website uob.com.sg) and any amendment thereof as the Bank may introduce from time to time in connection with the use of the said service(s).<br>b)&nbsp;I confirm
                                            that I am not an undischarged bankrupt and there has been no statutory demand served on me and that there have been no legal proceedings commenced against<br>me at the time of this application.<br>c)&nbsp;all
                                            the information provided in the application herein are true and accurate as at the date of this application.<br>d)&nbsp;I agree to indemnify the Bank from and against all claims, demands, losses, charges and
                                            expenses which the Bank may sustain, incur and be liable for as a result of the Bank agreeing to accept my application herein.</p>
                                        <p>&nbsp;<br><span style="text-decoration: underline;">For UOB Online Banking Username Retrieval / Password Reset<br></span>&nbsp;<br>In consideration of the Bank issuing to me a replacement/re-activating my Password
                                            for UOB Personal Internet Banking and UOB Mobile Services at my request, I agree and confirm as follows:<br>a) I confirm that I remain responsible for all transactions made with my old or de-activated Password
                                            and I shall be responsible for all transactions to be made with the new or re-activated Password. <br>b) I confirm that I have read and understood and that I agree to be bound by the <a href="http://www.uob.com.sg/assets/pdfs/PIB_MBK_TC.pdf"
                                                target="_blank">Terms and Conditions of the UOB Personal Internet Banking and UOB Mobile Services</a> (copies of which are available at the Bank's website uob.com.sg) and any amendment thereof as the Bank may
                                            introduce from time to time in connection with the use of the said service(s).<br>c) I confirm that I am not an undischarged bankrupt and there has been no statutory demand served on me and that there have been
                                            no legal proceedings commenced against<br>me at the time of this application.<br>d) all the information provided in the application herein are true and accurate as at the date of this application.<br>e)&nbsp;I
                                            agree to indemnify the Bank from and against all claims, demands, losses, charges and expenses which the Bank may sustain, incur and be liable for as a result of the Bank agreeing to accept my request herein.</p>
                                    </div>
                                    <div class="toggle-btn">
                                        <a class="toggle-content toggle-show">Terms and Conditions</a><a class="toggle-content toggle-hide">Show less</a>
                                    </div>
                                </div>
                                <div class="step-item margin-container margin-t margin-l accept-terms-item">
                                    <div class="checkbox-container">
                                        <input name="accept-terms" class="checkbox-custom" type="checkbox" id="accept-terms"><label for="accept-terms">I agree to the terms and conditions above.</label>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <input value="Next" type="button" id="tacSubmitBtn" name="tacSubmitBtn" class="btn btn-default tac-submit-btn">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ls-cmp-wrap" id="w1437659080348">
                    <div class="iw_component" id="1437659080348">
                        <div class="verification step-page clearfix" style="display: block;">
                            <div class="container">
                                <form novalidate="" autocomplete="off" id="verification-form" action="/uobforms/POR/index.page?submit=true&amp;componentID=1437659080348" method="post">
                                    <div class="container-fluid title-container text-center">Please provide the following information.</div>
                                    <div class="container-fluid title-notification text-center col-lg-12 col-xs-12">If you do not have a mobile number registered with the bank and any credit/debit/ATM card, please click <a href="http://www.uob.com.sg/personal/ebanking/pib/signup_reset.html" target="_blank"><u><b>here</b></u></a>                                        for other ways to register for online banking, retrieve UserName, reset Password.</div>
                                    <div class="container-fluid">
                                        <div id="step-card-number" class="row step-item clearfix">
                                            <label class="row-label">Card Number</label>
                                            <div class="col-xs-12">
                                                <div class="input-wrapper">
                                                    <input required="required" tabindex="1" maxlength="16" data-parsley-class-handler="#step-card-number" data-parsley-errors-container="#step-card-number" data-parsley-trim-value="true" data-parsley-error-message="Card number is invalid, please check and re-enter value."
                                                        data-parsley-trigger="change" pattern="^(([\s-]?\d){7}(\.?\d)|([\s-]?\d){15,16})$" placeholder="Debit Card / Credit Card / ATM Card Number." class="form-control has-feedback autofocus" name="card-number"
                                                        type="tel" data-parsley-id="3711"><span class="icon"></span>
                                                </div>
                                            </div>
                                            <ul class="parsley-errors-list" id="parsley-id-3711"></ul>
                                        </div>
                                    </div>
                                    <div class="container-fluid">
                                        <div id="step-number-control" class="row step-item">
                                            <label class="row-label"><span>Identification No.</span>
<p>Please enter the ID No. you used for opening the account.</p>
</label>
                                            <div class="id-number-group clearfix">
                                                <div class="col-sm-3 col-xs-12 id-dropdown-control id-dropdown">
                                                    <select required="required" tabindex="2" data-placeholder="ID Type" class="form-control select-custom" name="id-type" data-parsley-id="8441"><option value="" disabled="true" selected="" class="placeholder">ID Type</option><option value="NRIC">NRIC</option>
<option value="Passport">Passport</option></select>
                                                    <ul class="parsley-errors-list" id="parsley-id-8441"></ul>
                                                </div>
                                                <div class="col-sm-9 col-xs-12 id-number-control">
                                                    <div class="input-wrapper id-number-select">
                                                        <input required="required" tabindex="3" maxlength="30" data-parsley-class-handler="#step-number-control" data-parsley-errors-container="#step-number-control" data-parsley-error-message="NRIC / Passport infomation are invalid, please check and re-enter value."
                                                            data-parsley-nric="valid" data-parsley-trigger="change" data-parsley-type="alphanum" placeholder="NRIC/Passport No." class="form-control plain-text" name="id-number" id="id-number" type="text" data-parsley-id="6260">
                                                        <span class="icon"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="parsley-errors-list" id="parsley-id-6260"></ul>
                                        </div>
                                    </div>
                                    <div class="container-fluid">
                                        <div id="step-birthday" class="step-birthday row step-item">
                                            <label class="row-label">Date Of Birth</label>
                                            <div class="input-wrapper clearfix">
                                                <div id="day" class="day col-sm-4 col-xs-5">
                                                    <select tabindex="4" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#day" data-parsley-trigger="change" class="form-control select-custom id-dropdown" name="date-day" required="required" data-parsley-id="7484"><option value="" disabled="true" selected="" class="placeholder">Date</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
                                                    <ul class="parsley-errors-list" id="parsley-id-7484"></ul>
                                                </div>
                                                <div id="month" class="month col-sm-4 col-xs-7">
                                                    <select tabindex="5" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#month" data-parsley-trigger="change" class="form-control select-custom id-dropdown" name="date-month" required="required" data-parsley-id="6069"><option value="" disabled="true" selected="" class="placeholder">Month</option><option value="1">Jan</option><option value="2">Feb</option><option value="3">Mar</option><option value="4">Apr</option><option value="5">May</option><option value="6">Jun</option><option value="7">Jul</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select>
                                                    <ul class="parsley-errors-list" id="parsley-id-6069"></ul>
                                                </div>
                                                <div id="year" class="year col-sm-4 col-xs-12">
                                                    <select tabindex="6" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#year" data-parsley-trigger="change" class="form-control select-custom data-year" name="date-year" required="required" data-parsley-id="9715"><option value="" disabled="true" selected="" class="placeholder">Year</option><option value="2002">2002</option><option value="2001">2001</option><option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option><option value="1987">1987</option><option value="1986">1986</option><option value="1985">1985</option><option value="1984">1984</option><option value="1983">1983</option><option value="1982">1982</option><option value="1981">1981</option><option value="1980">1980</option><option value="1979">1979</option><option value="1978">1978</option><option value="1977">1977</option><option value="1976">1976</option><option value="1975">1975</option><option value="1974">1974</option><option value="1973">1973</option><option value="1972">1972</option><option value="1971">1971</option><option value="1970">1970</option><option value="1969">1969</option><option value="1968">1968</option><option value="1967">1967</option><option value="1966">1966</option><option value="1965">1965</option><option value="1964">1964</option><option value="1963">1963</option><option value="1962">1962</option><option value="1961">1961</option><option value="1960">1960</option><option value="1959">1959</option><option value="1958">1958</option><option value="1957">1957</option><option value="1956">1956</option><option value="1955">1955</option><option value="1954">1954</option><option value="1953">1953</option><option value="1952">1952</option><option value="1951">1951</option><option value="1950">1950</option><option value="1949">1949</option><option value="1948">1948</option><option value="1947">1947</option><option value="1946">1946</option><option value="1945">1945</option><option value="1944">1944</option><option value="1943">1943</option><option value="1942">1942</option><option value="1941">1941</option><option value="1940">1940</option><option value="1939">1939</option><option value="1938">1938</option><option value="1937">1937</option><option value="1936">1936</option><option value="1935">1935</option><option value="1934">1934</option><option value="1933">1933</option><option value="1932">1932</option><option value="1931">1931</option><option value="1930">1930</option><option value="1929">1929</option><option value="1928">1928</option><option value="1927">1927</option><option value="1926">1926</option><option value="1925">1925</option><option value="1924">1924</option><option value="1923">1923</option><option value="1922">1922</option><option value="1921">1921</option><option value="1920">1920</option><option value="1919">1919</option><option value="1918">1918</option><option value="1917">1917</option><option value="1916">1916</option><option value="1915">1915</option><option value="1914">1914</option><option value="1913">1913</option><option value="1912">1912</option><option value="1911">1911</option><option value="1910">1910</option><option value="1909">1909</option><option value="1908">1908</option><option value="1907">1907</option><option value="1906">1906</option><option value="1905">1905</option></select>
                                                    <ul class="parsley-errors-list" id="parsley-id-9715"></ul>
                                                </div>
                                            </div>
                                            <div class="dob-error-msg field-error-msg">
                                                <span>Date of birth is invalid, please check and re-enter value.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid captcha-container" style="display: none;">
                                        <div id="step-verification-code" class="row step-item">
                                            <label class="row-label">Verification Code.</label>
                                            <div class="captcha-row clearfix">
                                                <div class="col-sm-8 col-xs-5 step-verification-code">
                                                    <div class="input-wrapper">
                                                        <input tabindex="7" maxlength="6" data-parsley-class-handler="#step-verification-code" data-parsley-errors-container="#step-verification-code" data-parsley-length="[6, 6]" data-parsley-trigger="change" data-parsley-error-message="Verification code is invalid, please check and re-enter value."
                                                            data-parsley-type="alphanum" class="form-control" name="verification-code" type="text" data-parsley-id="2120">
                                                    </div>
                                                </div>
                                                <div class="captcha-img col-sm-3 col-xs-4">
                                                    <img alt="cpacha image" src="/Resources/por-resources/img/desktop/capcha-img.png"></div>
                                                <div class="btn-captcha-refresh-wrapper col-sm-1 col-xs-3">
                                                    <a class="btn-captcha-refresh"></a>
                                                </div>
                                            </div>
                                            <ul class="parsley-errors-list" id="parsley-id-2120"></ul>
                                        </div>
                                    </div>
                                    <div class="container-fluid step-item margin-container accept-terms-item">
                                        <div class="checkbox-container">
                                            <input name="accept-terms_verify" class="checkbox-custom" type="checkbox" id="accept-terms_verify" data-parsley-multiple="accept-terms_verify" data-parsley-id="3920"><label for="accept-terms_verify">I agree to the <a href="http://www.uob.com.sg/assets/pdfs/PIB_MBK_TC.pdf" target="_blank">terms and conditions of UOB Internet Banking and UOB mobile service</a> </label>
                                        </div>
                                        <ul class="parsley-errors-list" id="parsley-id-multiple-accept-terms_verify"></ul>
                                    </div>
                                    <div class="text-center col-xs-12">
                                        <input tabindex="8" type="button" value="Next" name="btn-submit" class="btn btn-default vfc-submit-btn">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ls-cmp-wrap" id="w1439295204147">
                    <div class="iw_component" id="1439295204147">
                        <div class="confirm-phone-number step-page clearfix" style="display: none;">
                            <div class="container">
                                <div class="title-container center-block text-center">Please confirm your mobile number.</div>
                                <div class="main clearfix">
                                    <div class="img-sms col-xs-3 col-sm-2">
                                        <img class="sms-icon" alt="sms" src="/Resources/por-resources/img/icons/sms-icon.png"></div>
                                    <div class="message col-xs-9 col-sm-10">
                                        <p>A One-Time Password(OTP) will be sent to the number:</p>
                                        <p class="phone-number">XXXX<span class="phone-number-4digit"></span>
                                        </p>
                                    </div>
                                    <div class="content col-xs-12 col-sm-10">
                                        <p class="message text-left"></p>
                                        <p style="text-align: left;">This is the contact number you left us when you opened this account. Please confirm and click ‘Next” to proceed.</p>
                                        <p></p>
                                        <p class="note-message text-left"></p>
                                        <p style="text-align: left;">If this is not your latest number, click <a href="http://www.uob.com.sg/personal/ebanking/pib/updatemobile_info.html" target="_blank">here</a> to find out how to update your mobile number and other ways to register
                                            for Online Banking, retrieve Username and reset your Password.</p>
                                        <p></p>
                                        <div class="margin-t btn-container">
                                            <input value="Next" type="button" id="cpnSubmitBtn" name="cpnSubmitBtn" class="btn btn-default cpn-submit-btn"><a class="link link-to-home link-style">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ls-cmp-wrap" id="w1439295204196">
                    <div class="iw_component" id="1439295204196">
                        <div class="sms-otp-confirmation step-page clearfix" style="display: none;">
                            <div class="container">
                                <form novalidate="novalidate" autocomplete="off" class="clearfix" id="otp-form" action="/uobforms/POR/index.page?submit=true&amp;componentID=1439295204196" method="post">
                                    <div class="step-item title-container text-center">
                                        <div class="center-block">SMS-OTP Confirmation.</div>
                                    </div>
                                    <div class="img-sms col-xs-3 col-sm-2">
                                        <img class="sms-icon" alt="sms" src="/Resources/por-resources/img/icons/sms-icon.png"></div>
                                    <div class="message col-xs-9 col-sm-10">
                                        <p>Please enter the One-Time Password(OTP) which has been sent to your mobile number XXXX<span class="phone-number-4digit"></span>.
                                        </p>
                                    </div>
                                    <div class="content col-xs-12 col-sm-10">
                                        <div class="otp_container">
                                            <span class="lopt"><span class="otp-prefix"></span> - </span><span id="step-verification-code-confirm" class="input-wrapper"><input required="required" tabindex="1" maxlength="6" data-parsley-class-handler="#step-verification-code-confirm" data-parsley-errors-container="#step-verification-code-confirm" data-parsley-error-message="SMS-OTP should be 6 digits." data-parsley-trigger="change" pattern="^(\d{6})$" class="form-control autofocus" placeholder="6 Digits in the SMS-OTP" type="password" id="otp"><span class="icon"></span></span>
                                        </div>
                                        <p class="note_message">If you do not receive an SMS-OTP in the next 2 minutes, please click 'Get another SMS-OTP'.</p>
                                        <div class="otp-submit-item clearfix">
                                            <input name="btn-submit" value="Next" class="btn btn-default otp-submit-btn" type="button"><a class="link link-style refresh-otp-button">Get another SMS-OTP</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ls-cmp-wrap" id="w1439295204214">
                    <div class="iw_component" id="1439295204214">
                        <div class="registration step-page clearfix" style="display: none;">
                            <div class="container">
                                <div class="title-container center-block text-center">Please set up your login information.</div>
                                <form id="registrationForm" class="registration-form" action="/uobforms/POR/index.page?submit=true&amp;componentID=1439295204214" method="post">
                                    <div id="username" class="step-item clearfix">
                                        <label class="row-label"><span>Username</span>
<p>Username cannot be changed after set up.</p>
</label>
                                        <div class="input-wrapper username-container">
                                            <input required="required" maxlength="16" data-parsley-usernamenotunique-message="This username has been assigned, please select a different username." data-parsley-class-handler="#username" data-parsley-errors-container="#username" data-parsley-trim-value="true"
                                                data-parsley-pattern-message="Your user name must be 8 to 16 alphanumeric characters (with at least 1 alphabet). " data-parsley-required-message="Username is invalid, please check and re-enter value for Username. "
                                                data-parsley-trigger="change" pattern="^(?!\d+$)[a-zA-Z0-9\_]{8,16}$" placeholder="8 to 24 alphanumeric characters with at least 1 alphabet." class="form-control autofocus" name="usernameInput" id="usernameInput"
                                                type="text"><a class="verify-username">Check Availability</a>
                                        </div>
                                        <div class="check-username-result field-success-msg">
                                            <span>Available.</span>
                                        </div>
                                    </div>
                                    <div id="newPasswordItem" class="step-item clearfix">
                                        <label class="row-label" for="newPasswordItemInput">Create Password</label>
                                        <div class="input-wrapper">
                                            <input autocomplete="off" data-parsley-validate-if-empty="true" maxlength="24" data-parsley-equaltousername-message="The password cannot be identical to the username." data-parsley-class-handler="#newPasswordItem" data-parsley-errors-container="#newPasswordItem"
                                                data-parsley-trim-value="false" data-parsley-equaltousername="false" data-parsley-pattern-message="Password must be 8 to 24 alphanumeric characters and cannot be identical to the username. Please modify your entry."
                                                data-parsley-trigger="change" pattern="^(?!\d+$)(?![a-zA-Z]+$)[a-zA-Z0-9\_]{8,24}$" placeholder="8 to 24 alphanumeric characters" class="form-control" name="newPasswordItemInput" id="newPasswordItemInput" type="password">
                                        </div>
                                    </div>
                                    <div id="confirmPasswordItem" class="step-item clearfix">
                                        <label class="row-label" for="confirmPasswordItemInput">Confirm Password</label>
                                        <div class="input-wrapper">
                                            <input autocomplete="off" data-parsley-validate-if-empty="true" data-parsley-class-handler="#confirmPasswordItem" data-parsley-errors-container="#confirmPasswordItem" data-parsley-equalto-message="Please confirm that you have entered the new password correctly."
                                                data-parsley-equalto="#newPasswordItemInput" data-parsley-trigger="change" class="form-control" name="confirmPasswordItemInput" id="confirmPasswordItemInput" type="password">
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <input value="Register" type="button" id="registrationBtn" name="registrationBtn" class="btn btn-default registration-btn">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ls-cmp-wrap" id="w1439295204268">
                    <div class="iw_component" id="1439295204268">
                        <div class="reset-password step-page clearfix" style="display: none;">
                            <div class="container">
                                <div class="title-container center-block text-center">Your login information.</div>
                                <div class="main-content">
                                    <div class="user-info text-center">
                                        <p class="label-username">Your username is</p>
                                        <p class="username"></p>
                                        <div class="checkbox-container clearfix">
                                            <input name="resetPasswordInput" class="reset-password__input checkbox-custom" type="checkbox" id="resetPasswordInput"><label for="resetPasswordInput">I would like to reset my password.</label>
                                        </div>
                                    </div>
                                    <div class="password-container">
                                        <form id="passwordForm" class="password-form" action="/uobforms/POR/index.page?submit=true&amp;componentID=1439295204268" method="post">
                                            <div id="newPassword" class="new-password-item step-item clearfix">
                                                <label class="row-label" for="newPasswordInput">New Password</label>
                                                <div class="input-wrapper">
                                                    <input autocomplete="off" data-parsley-validate-if-empty="true" disabled="" maxlength="24" data-parsley-class-handler="#newPassword" data-parsley-errors-container="#newPassword" data-parsley-trim-value="false" data-parsley-equaltoresetusername-message="The password cannot be identical to the username."
                                                        data-parsley-equaltoresetusername="false" data-parsley-pattern-message="Password must be 8 to 24 alphanumeric characters and cannot be identical to the username. Please modify your entry." data-parsley-trigger="change"
                                                        pattern="^(?!\d+$)(?![a-zA-Z]+$)[a-zA-Z0-9\_]{8,24}$" placeholder="8 to 24 alphanumeric characters" class="form-control autofocus" name="newPasswordInput" id="newPasswordInput" type="password">
                                                    <span class="icon"></span>
                                                </div>
                                            </div>
                                            <div id="confirmPassword" class="confirm-password-item step-item clearfix">
                                                <label class="row-label" for="confirmPasswordInput">Confirm Password</label>
                                                <div class="input-wrapper">
                                                    <input autocomplete="off" disabled="" data-parsley-validate-if-empty="true" data-parsley-class-handler="#confirmPassword" data-parsley-errors-container="#confirmPassword" data-parsley-equalto-message="Please confirm that you have entered the new password correctly."
                                                        data-parsley-equalto="#newPasswordInput" data-parsley-trigger="change" class="form-control" name="confirmPasswordInput" id="confirmPasswordInput" type="password">
                                                    <span class="icon"></span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <input value="Login" name="resetPasswordBtn" id="resetPasswordBtn" type="button" class="btn btn-default reset-password-btn">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ls-cmp-wrap" id="w1441798110561">
                    <div class="iw_component" id="1441798110561">
                        <div class="success-popup">
                            <div class="overlay">
                                <div class="overlay-banner"></div>
                                <div id="overlay-content" class="content">
                                    <div class="icon-succeeded-wrapper">
                                        <span class="icon-succeeded"></span>
                                    </div>
                                    <h2 class="succeed-title">Success!</h2>
                                    <div class="popup-content">
                                        <div class="registration-popup-content">
                                            <p class="main-word">Thank you for your registration.</p>
                                            <ul class="items">
                                                <li>You will be able to login to Internet Banking to perform account enquiries, bill payment and subscribe to eStatement.</li>
                                                <li>To access the full functionalities, the Secureplus token is required. You can apply via Personal Internet Banking at no cost.</li>
                                            </ul>
                                        </div>
                                        <div class="reset-password-popup-content">
                                            <p class="main-word">You have successfully reset your password. You can now proceed to login to Online Banking.</p>
                                        </div>
                                        <div class="activate-account-popup-content">
                                            <p>You have successfully re-activated your Online Banking access and reset your password. You can now proceed to login to Online Banking.</p>
                                        </div>
                                    </div>
                                    <a class="link-to-login btn-default" href="https://pib.uob.com.sg/PIBLogin/">Login</a>
                                </div>
                            </div>
                        </div>
                        <div class="error-page clearfix">
                            <div class="container">
                                <p>We detected that your system has been idle for too long.</p>
                                <p>Please <a class="reload-page">click here</a> to continue your application.</p>
                            </div>
                        </div>
                        <div id="general-contents">
                            <div class="server-side-error">
                                <div class="tac-error">
                                    <span class="errorNotChecked">To proceed, please accept the terms and conditions by checking on the check box.</span>
                                </div>
                                <div class="verification-error">
                                    <span class="errorInvalidInputCombination">Please check that you have entered the correct information and try again, for assistance, please call 1800 397 6868.</span><span class="errorInvalidCard">This card is not valid. Please use a different card. For further assistance, please call 1800 397 6868.</span>
                                    <span class="errorSupplementaryCreditCard">
                                        <p>Please note that Supplementary Credit Card is not eligible.You may instead provide any of the following card numbers:<br>- The card number of your principal credit card <br>- ATM Card number<br>- Debit Card number</p>
                                        </span><span class="errorMobileNumberNotFound"><p>Your instruction cannot be processed as you do not have a valid registered mobile number with the bank. <br>Click <a href="http://www.uob.com.sg/personal/ebanking/pib/signup_reset.html" target="_blank">here</a> to find out other ways to register for Online Banking, retrieve Username and reset your Password.</p></span>
                                    <span class="errorVerificationAttemptsExceeded">
                                            <p>Click <a href="http://www.uob.com.sg/personal/ebanking/pib/signup_reset.html" target="_blank">here</a> to find out other ways to register for Online Banking, retrieve Username and reset your Password. For assistance,
                                                please call 1800 397 6868.</p>
                                            </span>
                                </div>
                                <div class="sms-otp-confirmation-error">
                                    <span class="errorInvalidOtp">The SMS-OTP verification has failed due to invalid/expired OTP entered. Please click on 'Get another SMS-OTP' and try again. For assistance, please call 1800 222 2121.</span><span class="errorOtpAttemptedExceeded"><p>The system is unable to service your request as you have exceeded the maximum allowed number of tries for this SMS-OTP verification session. Click <a href="http://www.uob.com.sg/personal/ebanking/pib/signup_reset.html" target="_blank">here</a> to find out other ways to register for Online Banking, retrieve Username and reset your Password. For assistance, please call 1800 397 6868.</p></span>
                                    <span class="errorPibUserAccountBlocked">
                                        <p>Your Personal Internet Banking access is locked.To find out how to re-activate your access, please click <a href="http://www.uob.com.sg/personal/ebanking/pib/reactivate.html" target="_blank">here</a>.</p>
                                        </span><span class="errorInactivePibAccount"><p>We are unable to proceed as our records show you have a pending Online Banking application. For assistance, please call 1800 397 6868.</p></span>
                                </div>
                                <div class="registration-error"></div>
                                <div class="reset-password-error"></div>
                                <div class="common-error">
                                    <span class="errorTechnical"><p>Sorry, we are unable to process your request. Please click <a href="http://www.uob.com.sg/personal/ebanking/pib/signup_reset.html">here</a> to find out other ways to register for Online Banking, retrieve Username and reset your Password.</p></span>
                                    <span class="errorUnauthorized">
                                        <p>Your session has expired, please try registration again.</p>
                                        </span><span class="errorInstructionNotProceeded"><p>Your instruction cannot be processed.&nbsp; For assistance, please call 1234 5678.</p></span><span class="noticePibAccountExisted"><p>You already have an Online Banking Account. Check the checkbox below if you woud like to reset your password. Otherwise login by clicking the button below.</p></span>
                                    <span class="noticePibAccountNotExisted">
                                            <p>You already have an Online Banking Account. Check the checkbox below if you woud like to reset your password. Otherwise login by clicking the button below.</p>
                                            </span>
                                </div>
                            </div>
                            <div class="constant-url">
                                <span class="url-pib-login">https://pib.uob.com.sg/PIBLogin</span>
                            </div>
                        </div>
                        <div style="display: none;" class="loader-container">
                            <div style="display: block;" id="fader"></div>
                            <div style="display: block;" class="loader fade">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ls-cmp-wrap" id="w1439295204222">
                    <div class="iw_component" id="1439295204222">
                        <div class="undeliverable-address-error step-page clearfix" style="display: none;">
                            <div class="container">
                                <div class="error">
                                    <div class="step-item clearfix top-error-common">
                                        <div class="top-error-box-common">
                                            <p>Our records show that we were not able to send any correspondences to the address tagged to the card account that you have selected. Please either select a different card with a valid address or kindly update
                                                your address for this card via this <a href="http://uob.com.sg/assets/pdfs/personal/useful/Change_Address.pdf">form</a> and re-register.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ls-row-clr"></div>
    </div>
</div>