.carousel-caption p {font-size: 21px;}
.navigation.carousel .item .header-4,.navigation.carousel .item h4 {font-size: 15px;}
.homeAlert {margin: 0 -20px 2px -20px;}
.forex th {font-size: 13px;}
.forex td{font-size: 21px;}
.forex td.small{font-size: 15px;}
.forex td.numeric{font-size: 18px;}
.promo-module-MM .footnote p {font-size: 12px;}
.cardselection .header-2{font-size: 46px;}
.big{font-size: 46px;}
.latestoffers-search.header-3 {font-size: 21px;}
.latestoffers h4 {font-size: 15px;}
.card-category.tabbed-nav  > li a, .card-category.tabbed-nav li.active .dropdown-menu  > li a {font-size: 15px;}
.latestoffers-flyout .hide-switch,.latestoffers-flyout .view-all, .latestoffers-flyout .view-all a, .latestoffers-flyout .hide-switch a, .comparison-flyout .hide-switch, .comparison-flyout .hide-switch a {
font-size: 15px;}
.cards .cardDetails h5 {font-size: 21px;}
.comparecards .cardcount {font-size: 15px;}
.comparecards .heading-compare {font-size: 21px;}
.comparecards .heading-compare {font-size: 21px;}
.comparecards .cardItem div.span3:nth-child(4) button {cursor:pointer;}
.card_tick img{border:none!important;}
.heading-compare{width: 17% !important;}
p.text-center{text-align:center}
.cursor-hand {cursor: hand;cursor: pointer;}
.megamenu>li>a {font-size: 21px;font-size: 15px;}
.mydropdown-menu > li > a {font-size: 15px;}
.notification-header li{font-size: 21px;}
.esso-body h6 {font-size: 15px;}
.esso-body p {font-size: 21px;}
