div#imgcontent {
    position: relative;
}

#imgcontent .imgcontainer {
    position: relative;
}

#imgcontent .imgcontainer .overlay {
    background: url("/Resources/personal/img/common/bnr_overlay.png") no-repeat scroll center bottom transparent !important;
    height: 105px;
    left: 0;
    position: absolute;
    top: 0;
    width: 548px;
}