<div *ngIf="field" class="field" [class.selected]="field == selectedField" style="clear: both;">

    <!--<span *ngIf="field.type == 'local_data'; else elseNameBlock">
        {{field.value}}
    </span>

    <ng-template #elseNameBlock><i [innerHtml]="field.icon"></i> {{field.name}}</ng-template>-->
    <span [innerHtml]="getFieldIcon(field.type)" [class.pull-left]="field.type == 'rich_text'"></span>
    <span *ngIf="field.type != 'submit_button'">
        <span *ngIf="field.type != 'rich_text'">{{field.name}}</span>
    <span *ngIf="field.type == 'rich_text'" [innerHtml]="field.name" style="display: inline-block;"></span>
    </span>
    <span *ngIf="field.type == 'submit_button'">
        <button class="btn">{{field.name}}</button>
    </span>
    <span class="pull-right">
        <i class="fa cursor-pointer" [class.fa-minus]="!isMinimized" [class.fa-plus]="isMinimized" aria-hidden="true" style="margin-right: 10px;" (click)="isMinimized = !isMinimized;"></i>
        <i class="fa fa-times cursor-pointer" aria-hidden="true" (click)="onItemRemoveClicked($event)"></i>
    </span>

    <section [ngSwitch]="field.type" [class.hide]="isMinimized">
        <section *ngSwitchCase="'dropdown'">
            <!--<select class="form-control">
                <option>123</option>
                <option>456</option>
                <option>789</option>
            </select>
            <ng-select [allowClear]="false" [items]="items" (selected)="selected($event)" placeholder="">
            </ng-select>-->
            <select class="form-control" *ngIf="field.origin">
                <option *ngFor="let c of items" [ngValue]="c">{{c}}</option>
            </select>
            <select class="form-control" *ngIf="!field.origin">
                <option *ngFor="let c of field.options" [ngValue]="c.valule">{{c.value}}</option>
            </select>
        </section>
        <section *ngSwitchCase="'text'">
            <input *ngIf="field.origin == 'local_data'" type="text" class="form-control" [ngModel]="field.value" [attr.disabled]="!field.shouldEdit ? 'disabled' : null">

            <input *ngIf="!field.origin" type="text" class="form-control">
        </section>
        <section *ngSwitchCase="'image'">
            <img src="{{field.value}}" alt="{{field.title}}" style="width: 100px;" />
        </section>
        <section *ngSwitchCase="'textarea'">
            <textarea rows="4" cols="50" class="form-control"></textarea>
        </section>
        <section *ngSwitchCase="'number'">
            <input type="number" class="form-control">
        </section>
        <section *ngSwitchCase="'date'">
            <input type="date" class="form-control">
        </section>
        <section *ngSwitchCase="'container'">
            <div class='container row' [dragula]='"another-bag"' [dragulaModel]='field.subFields' style="" #dropzone>
                <article data-id="{{item.id}}" [class.col-md-6]="item.isRowContinued" [class.col-md-12]="!item.isRowContinued" *ngFor="let item of field.subFields; let i=index" (click)="onItemSelectClicked(item, $event)">
                    <form-ui [field]="item" [selectedField]="selectedField" [itemIndex]="i" (onItemRemoveClick)="onCanvasFieldRemoved($event)"></form-ui>
                </article>
            </div>
        </section>
        <section *ngSwitchCase="'radio'">
            <div class="radio" *ngFor="let op of field.options; let i=index">
                <label><input type="radio" name="{{field.id}}"> {{op.value}}</label>
            </div>
            <!--<div class="radio i-checks" *ngFor="let op of field.options; let i=index">
                <label>
                    <input type="radio" name="{{field.id}}"><i></i>  {{op.value}}
                </label>
            </div>-->
        </section>
        <section *ngSwitchCase="'checkbox'">
            <div class="checkbox" *ngFor="let op of field.options; let i=index">
                <label><input type="checkbox"> {{op.value}}</label>
            </div>
            <!--<div class="checkbox i-checks" *ngFor="let op of field.options; let i=index">
                <label>
                    <input type="checkbox" ><i></i>  {{op.value}}
                </label>
            </div>-->
        </section>
        <section *ngSwitchCase="'slider'">
            <ion-range-slider [min]="field.min" [max]="field.max" [from]="field.from" [step]="field.step"></ion-range-slider>
        </section>
        <section *ngSwitchCase="'tab'">
            <div (click)="$event.preventDefault();$event.stopPropagation()">
                <tabset>
                    <tab (click)="$event.preventDefault();" (select)="addNewTab($event);" [customClass]="field.tabs.length == 0 ? 'active' : 'add-new-tab'">
                        <template tabHeading>
                            <i class="fa fa-plus-square-o"></i>
                        </template>
                    </tab>
                    <tab [customClass]="'hide'">

                    </tab>
                    <tab (click)="$event.preventDefault();" *ngFor="let tabz of field.tabs" [active]="tabz.active" (select)="tabz.active = true" (deselect)="tabz.active = false" [disabled]="tabz.disabled" [removable]="tabz.removable" (removed)="removeTabHandler(tabz);" [customClass]="'tab-head'">
                        <template tabHeading>
                            <inline-editor type="text" [(ngModel)]="tabz.title" ></inline-editor>
                
                        </template>
                        <!-- <code>{{tabz | json}}</code> -->
                        <div class='container' [dragula]='"another-bag"' [dragulaModel]='tabz.subFields' style="" #dropzone>
                            <article *ngFor="let item of tabz.subFields; let i=index" (click)="onItemSelectClicked(item, $event)">
                                <form-ui [field]="item" [selectedField]="selectedField" [itemIndex]="i" (onItemRemoveClick)="onCanvasFieldRemoved($event)"></form-ui>
                            </article>
                        </div>
                    </tab>
                </tabset>
            </div>
        </section>
    </section>

</div>