.field {
    /* margin: 10px; */
    padding: 10px;
    /*background-color: rgba(255, 255, 255, 0.2);*/
    background-color: white;
    transition: opacity 0.4s ease-in-out;
    border: 1px solid white;
}

.field:hover {
    border: 1px dashed black;
}

.selected {
    background-color: #DAEAF1;
}

.container {
    width: 100%;
    height: initial;
    min-height: 50px;
}