.tile {
    height: 200px;
}

.radio-inline+.radio-inline {
    margin-left: 0px !important;
}


/*:host {
    padding: 20px;
}*/

.color-holder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}