<div bsModal #settingModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Settings</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="settingModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <h5>Color Theme</h5>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn color-holder bg-green" (click)="onColorThemeChosen('green')">

                        </button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn color-holder bg-red" (click)="onColorThemeChosen('red')">

                        </button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn color-holder bg-blue" (click)="onColorThemeChosen('blue')">

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" style="width: 100%;">
    <div class="panel-body">
        <!--<input [(ngModel)]="form.name" placeholder="Form Name">-->
        <div class="row">
            <div class="col-md-6">
                <img src="img/tsp.png" style="width: 200px;" />
                <!--<h1 [myHighlight]="'red'" defaultColor="violet" class="hpblue" style="    display: inline-block; margin-left: 20px;margin-top: 0;">Form Builder</h1>-->
                <h1 [myThemeColor]="setting.colorTheme" class="" style="    display: inline-block; margin-left: 20px;margin-top: 0;">Form Builder</h1>
            </div>
            <div class="col-md-6" style="">
            </div>
        </div>
    </div>
</div>

<div class="">
    <h1 style="    margin-left: 20px;">Manage your forms
        <!--<button class="btn btn-link pull-right" (click)="settingModal.show()">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </button>-->
    </h1>
</div>

<div class="row" style="    margin: 20px;">

    <div class="col-md-2">
        <div class="panel panel-default tile">
            <button (click)="newForm()" class="btn btn-block" style="height: 100%;"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></button>
        </div>
    </div>

    <div [@heroState]="item.state" class="col-md-2 panel panel-default tile" *ngFor="let item of formList; let i=index" (click)="editForm(item)" style="margin-right: 20px;padding: 0;    background-color: #ddd;">
        <div style="position: relative;">
            <div class="panel-heading bigger-inline-editor" style="height: 75%;border: none; background-color: inherit;">
                <br/>
                <inline-editor (click)="$event.stopPropagation();" style="display: inline-block;" type="text" [(ngModel)]="item.name"></inline-editor>
                <!--<i class="fa fa-pencil" aria-hidden="true"></i>-->
                <!--<h3 class="hpblue bold" style="margin-top: 0%;">{{item.name}}</h3>-->
                <h4 [myThemeColor]="setting.colorTheme" class="">{{item.createdOn | amDateFormat: 'DD/MM/YYYY HH:mm'}}</h4>
                <!--<h4 class="hpblue">{{item.controller.name}}</h4>-->
            </div>
            <div class="panel-footer" style="border: none; background-color: inherit;position: absolute; top: 150%;">
                <button type="button" class="btn btn-link" routerLink="/form/{{item.id}}" tooltip="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button (click)="deleteForm(i)" type="button" class="btn btn-link" tooltip="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>

        </div>
        <div [myThemeColor]="setting.colorTheme"></div>
        <!--<div *ngIf="!item.controller" (click)="$event.stopPropagation();">
            <div class="panel-heading" style="background-color: inherit;">
                <h3 style="">Choose a controller</h3>
                <div class="form-group">
                    <div class="radio-list">
                        <label style="display: block;" class="radio-inline" *ngFor="let c of controllerList; let i=index"><input type="radio" name="controller" (change)="onControllerChosenChange(item, c, $event)"><i></i>  {{c.name}}</label>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>