/*body {
  background-color: #942A57;
  margin: 0 auto;
  max-width: 760px;
}

html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body, input, button {
  font-family: Georgia, Helvetica;
  font-size: 17px;
  color: #ecf0f1;
}

h1 {
  text-align: center;
  background-color: #AC5C7E;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 10px;
}

h3 {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid #A13462;
  text-align: center;
  padding: 10px;
}

h3 div {
  margin-bottom: 10px;
}

.tagline {
  margin-top: 0;
}

.promo {
  margin-bottom: 0;
  font-style: italic;
  padding: 10px;
  background-color: #ff4020;
  border-bottom: 5px solid #c00;
}

a {
  font-weight: bold;
}
a,
a:hover {
  color: #ecf0f1;
}

pre {
  white-space: pre-wrap;
}

pre code {
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
}

label {
  display: block;
  margin-bottom: 15px;
}

sub {
  display: block;
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 11px;
  font-style: italic;
}

ul {
  margin: 0;
  padding: 0;
}

.parent {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 50px 0;
  padding: 20px;
}

input {
  border: none;
  outline: none;
  background-color: #ecf0f1;
  padding: 10px;
  color: #942A57;
  border: 0;
  margin: 5px 0;
  display: block;
  width: 100%;
}

button {
  background-color: #ecf0f1;
  color: #942A57;
  border: 0;
  padding: 18px 12px;
  margin-left: 6px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #e74c3c;
  color: #ecf0f1;
}

.gh-fork {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}*/


/* dragula-specific example page styles */

.wrapper {
    display: table;
}

.dragdrop-container {
    display: table-cell;
    background-color: rgba(255, 255, 255, 0.2);
    /*width: 100%;*/
    /*height: initial;*/
    height: 50px;
    padding-left: 15px;
    padding-right: 0;
}

.dragdrop-container:nth-child(odd) {
    /*background-color: rgba(0, 0, 0, 0.2);*/
}


/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */

.dragdrop-container div,
.gu-mirror {
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: opacity 0.4s ease-in-out;
    border: 1px solid #f3f3f4;
}

.dragdrop-container div {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.gu-transit {
    width: 100% !important;
    /*background-color: red !important;*/
}

.dragdrop-container .ex-moved {
    background-color: #e74c3c;
}

.dragdrop-container.ex-over {
    background-color: rgba(255, 255, 255, 0.3);
}

.handle {
    padding: 0 5px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: move;
}

nested-repeat-example .dragdrop-container span {
    display: block;
    padding: 8px;
}

:host {
    width: 100%;
    /*display: block;*/
    /*position: absolute;*/
}

.affix {}

.hpblue {
    /*margin-top: 0;*/
}

.draggable-field {
    margin: 0 !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    width: 45%;
    background-color: #f3f3f4 !important;
}

.btn-style-round {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.default-gradient {
    background: #0da8a0;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #0da8a0, white);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #0da8a0, white);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #0da8a0, white);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #0da8a0, white);
}

.dbs-gradient {
    background: #ab0000;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ab0000, black);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab0000, black);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab0000, black);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab0000, black);
}

.uob-gradient {
    background: #001f67;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #001f67, #f77f3a);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #001f67, #f77f3a);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #001f67, #f77f3a);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #001f67, #f77f3a);
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}