<toaster-container [toasterconfig]="config1"></toaster-container>
<button class="vertical-text btn btn-vertical" [class.hide]="!isAttributeSectionMinimized" (click)="isAttributeSectionMinimized = !isAttributeSectionMinimized">ATTRIBUTE</button>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Your Form Json</h4>
                <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
            </div>
            <div class="modal-body" id="jsonModal" style="height: 100%;">
                <!--<json-editor [options]="editorOptions" [(data)]="form"></json-editor>-->
                <!--<pre style="height: 100%;">{{form | json}}</pre>-->
            </div>
        </div>
    </div>
</div>

<!--<button #btnChooseController class="btn btn-primary" (click)="controllerModal.show()">Choose a controller</button>-->
<div bsModal #controllerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Choose a controller</h4>
                <button type="button" class="close pull-right" (click)="controllerModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br/>
                <h5 style="clear: both; font-style: italic;">A controller is an endpoint to help you get data from and save your forms to</h5>
            </div>
            <div class="modal-body">

                <collapsible-list [type]="'accordion'">
                    <collapsible-list-item *ngFor="let con of controllerList;">
                        <collapsible-header class="waves-effect">
                            <h3>
                                {{con.name}}
                                <button (click)="onControllerChooseClicked(con, $event)" class="btn btn-sm pull-right">Choose</button>
                            </h3>

                        </collapsible-header>
                        <collapsible-body [expanded]="false" style="padding: 0;">
                            <h3 style="    margin-left: 6px;">Avaiable Data</h3>
                            <table class="table">
                                <tr *ngFor="let f of con.fields">
                                    <td>{{ f.name }}</td>
                                    <td>
                                        <span *ngIf="f.type == 'image'; else elseNameBlock">
                                            <img src="{{f.value}}" alt="{{f.title}}" style="width: 100px;" />
                                        </span>

                                        <ng-template #elseNameBlock>{{f.value}}</ng-template>
                                    </td>
                                </tr>
                            </table>
                        </collapsible-body>
                    </collapsible-list-item>


                </collapsible-list>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default affix" scrollSpyElement="test" style="width: 100%;
    z-index: 0;
    top: 0;    position: absolute;">
    <div class="panel-body">
        <!--<input [(ngModel)]="form.name" placeholder="Form Name">-->
        <div class="row">
            <div class="col-md-2">
                <img src="img/tsp.png" style="" class="" />
            </div>
            <div class="col-md-4" style="padding-left: 0;">

                <div style="" class="bigger-inline-editor">
                    <inline-editor type="text" [(ngModel)]="form.name" (onSave)="saveEditable($event)"></inline-editor>
                    <h2 class="panel-title">{{form.createdOn | amDateFormat: 'DD/MM/YYYY HH:mm'}}</h2>
                </div>

                <!--<form-child #formchild></form-child>-->
                <form-child2></form-child2>
            </div>
            <div class="col-md-6" style="    text-align: right;">
                <div class="btn-group" role="group" aria-label="...">
                    <!--<button type="button" class="btn btn-default" (click)="formchild.callFromParent()">Fork</button>-->
                    <!--<button type="button" class="btn btn-default">Fork</button>-->

                    <button type="button" [myThemeColor]="setting.colorTheme" [setBackground]="'true'" class="btn" (click)="lgModal.show();processForm()">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                    </button>
                    <a [myThemeColor]="setting.colorTheme" [setBackground]="'true'" class="btn" routerLink="/preview/{{form.id}}">
                        <i class="fa fa-television" aria-hidden="true"></i> Preview
                    </a>
                    <!--<form-preview [form]="form"></form-preview>-->

                </div>
                <br>
                <a style="border: none;" [myThemeColor]="setting.colorTheme" routerLink="/workspace/" class="btn"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back</a>
            </div>
        </div>



    </div>
</div>

<div class="row form-row-content" style=" margin-right: 0;">
    <div class="col-md-3 affix scroll scroll2" style="height: 90%; padding-right: 0; overflow-y: scroll; overflow-x: hidden; background-color: white;border: 1px solid #ddd;">
        <tabset [justified]="true">
            <tab>
                <template tabHeading>
                     <h3 [myThemeColor]="setting.colorTheme" class="bold">
                         ELEMENT
                         
                    </h3>
                 </template>
                <div class="panel panel-default" style="border: none;">
                    <!-- <div class="panel-heading">
                <h2 [myThemeColor]="setting.colorTheme" class="bold">ELEMENT</h2>
            </div> -->
                    <div class="panel-body" style="    padding-right: 0;">
                        <h3 [myThemeColor]="setting.colorTheme" class="bold">
                            Data Elements
                            <i [class.fa-plus]="isDataElementSectionCollapsed" [class.fa-minus]="!isDataElementSectionCollapsed" class="fa cursor-pointer pull-right" style="margin-right: 10px;" (click)="isDataElementSectionCollapsed = !isDataElementSectionCollapsed"></i>
                        </h3>
                        <div [collapse]="isDataElementSectionCollapsed" class='dragdrop-container no-drop row animated ' [dragula]='"another-bag"' [dragulaModel]='draggableFields' id='no-drop'>
                            <div *ngFor='let item of draggableFields' (mouseover)='item.mouseOvered = true' (mouseout)='item.mouseOvered = false' class="col-md-6 draggable-field" style="">
                                <i [innerHtml]="item.icon"></i>{{item.name}}
                                <i [class.hide]="!item.mouseOvered" [tooltip]="item.tooltip" class="fa fa-question-circle pull-right hide" style="margin-top: 4px;    position: absolute;
    left: 80%;" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div>
                            <h3 [myThemeColor]="setting.colorTheme" class="bold">
                                Favourites
                                <i [class.fa-plus]="isFavoriteSectionCollapsed" [class.fa-minus]="!isFavoriteSectionCollapsed" class="fa cursor-pointer pull-right" style="margin-right: 10px;" (click)="isFavoriteSectionCollapsed = !isFavoriteSectionCollapsed"></i>

                            </h3>
                            <div [collapse]="isFavoriteSectionCollapsed" class='dragdrop-container no-drop row' style="word-break: break-word;">
                                <div class="col-md-6 draggable-field">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6 draggable-field">
                                    <label>Mobile Number</label>
                                </div>
                                <div class="col-md-6 draggable-field">
                                    <label>NRIC</label>
                                </div>
                            </div>


                        </div>
                        <div>
                            <h3 [myThemeColor]="setting.colorTheme" class="bold">
                                Components
                                <i [class.fa-plus]="isComponentSectionCollapsed" [class.fa-minus]="!isComponentSectionCollapsed" class="fa cursor-pointer pull-right" style="margin-right: 10px;" (click)="isComponentSectionCollapsed = !isComponentSectionCollapsed"></i>

                            </h3>
                            <div [collapse]="isComponentSectionCollapsed" class='dragdrop-container no-drop row' style="word-break: break-word;">
                                <div class="col-md-6 draggable-field">
                                    <label>5-star Survey</label>
                                </div>
                                <div class="col-md-6 draggable-field">
                                    <label>OTP</label>
                                </div>

                            </div>
                        </div>

                        <div *ngIf="form.controller" class="hide">
                            <h3 [myThemeColor]="setting.colorTheme" class="bold">{{"'" + form.controller.name + "'"}} Elements</h3>
                            <div class='dragdrop-container no-drop row' [dragula]='"another-bag"' [dragulaModel]='form.controller.fields' style="word-break: break-word;width: 500px;">
                                <div *ngFor='let item of form.controller.fields' class="col-md-6 draggable-field">
                                    <label for="" style="    display: block;"><i [innerHtml]="utility.getTypeIcon(item.type)"></i>{{item.name}}:</label>
                                    <label *ngIf="!item.isEditable">{{item.value}}</label>
                                    <label *ngIf="item.isEditable" tooltip="Editable">{{item.value}}</label>
                                </div>
                            </div>
                        </div>

                        <div>
                            <h3 [myThemeColor]="setting.colorTheme" class="bold">
                                Templates
                                <i [class.fa-plus]="isTemplateSectionCollapsed" [class.fa-minus]="!isTemplateSectionCollapsed" class="fa cursor-pointer pull-right" style="margin-right: 10px;" (click)="isTemplateSectionCollapsed = !isTemplateSectionCollapsed"></i>
                            </h3>
                            <div [collapse]="isTemplateSectionCollapsed" style="" class='dragdrop-container no-drop row' [dragula]='"another-bag"' [dragulaModel]='serverFields'>
                                <div *ngFor='let item of serverFields' class="col-md-6 draggable-field">
                                    <label><i [innerHtml]="utility.getTypeIcon(item.type)"></i>{{item.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class='container'>
                <pre>{{draggableFields | json}}</pre>
            </div>-->
                </div>
            </tab>
            <tab>
                <template tabHeading>
                     <h3 [myThemeColor]="setting.colorTheme" class="bold">TREE VIEW</h3>
                 </template>
                <div class="panel panel-default" style="border: none;">
                    <div class="panel-heading">
                        <tree-root [nodes]="getNodesFromFrom()" (activate)="onTreeNodeActivated($event)"></tree-root>
                    </div>
                </div>
            </tab>
        </tabset>


        <!--<div class="panel panel-default" *ngIf="form.controller">
            <div class="panel-heading">
                <h3 class="panel-title">{{form.controller.name}}</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group" class='no-drop' [dragula]='"another-bag"' [dragulaModel]='localFields' style="padding-left: 0;">
                    <li class="list-group-item" *ngFor='let item of localFields'>
                        <div class="form-group">
                            <label for="">{{item.name}}:</label>
                            <label *ngIf="!item.isEditable">{{item.value}}</label>
                            <label *ngIf="item.isEditable" tooltip="Editable">{{item.value}}</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>-->


        <!--<div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Server Data</h3>
            </div>
            <div class="panel-body">
                <div class='container no-drop' [dragula]='"another-bag"' [dragulaModel]='serverFields'>
                    <div *ngFor='let item of serverFields' [innerHtml]='item.name'></div>
                </div>

            </div>
        </div>-->
    </div>
    <div [class.col-md-6]="!isAttributeSectionMinimized" [class.col-md-9]="isAttributeSectionMinimized" class="affix scroll scroll2 animate-all-property canvas" style="padding: 0; margin-left: 25.5%; overflow-y: scroll;height: 90%; background: #FAFAFA;">
        <div class="panel panel-default" (click)="onCanvasSurfaceClicked($event)" style="    border-color: #FAFAFA;">

            <!--<div class="panel-heading">
                <h3 class="panel-title">Canvas</h3>
            </div>-->
            <div class="panel-body" style="    background: #FAFAFA;">
                <h2 [myThemeColor]="setting.colorTheme" class="bold" style="">
                    Canvas
                    <span class="pull-right cursor-pointer" (click)="onFormSettingClicked($event)">Edit form info <i class="fa fa-pencil"></i></span>

                </h2>

                <div class='dragdrop-container container' [dragula]='"another-bag"' [dragulaModel]='form.fields' style="" #dropzone>
                    <!--<div *ngIf="form.fields.length == 0">Drag here</div>-->
                    <article data-id="{{item.id}}" [class.col-md-6]="item.isRowContinued" [class.col-md-12]="!item.isRowContinued" [@fadeInOut]="'in'" *ngFor="let item of form.fields; let i=index" (click)="onCanvasFieldClicked(item, $event)">
                        <form-ui style="" [field]="item" [selectedField]="selectedField" [itemIndex]="i" (onItemSelectClick)="onSubfieldSelectClicked($event)" (onItemRemoveClick)="onCanvasFieldRemoved($event)"></form-ui>
                    </article>
                </div>

            </div>
            <!--<div class='container'>
                <pre>{{form.fields | json}}</pre>
            </div>-->
        </div>
    </div>
    <div [class.hide]="isAttributeSectionMinimized" class="col-md-3 affix scroll scroll2" style="margin-left: 76%;     padding: 0;
    height: 90%;
    overflow-y: scroll;    border: 1px solid #ddd; background-color: white;">
        <div class="panel panel-default" style="border: none;">
            <div class="panel-heading">
                <h2 [myThemeColor]="setting.colorTheme" class="bold" style="">
                    ATTRIBUTE <i class="cursor-pointer fa fa-external-link-square pull-right" (click)="isAttributeSectionMinimized = !isAttributeSectionMinimized"></i>
                </h2>
            </div>
            <div class="panel-body" *ngIf="selectedField">
                <form-property [canvasFields]="form.fields" [selectedField]="selectedField"></form-property>
                <!--<div class="form-group">
                    <label for="Title">Title:</label>
                    <span *ngIf="selectedField.type == 'local_data'; else elseNameBlock">
                        <span *ngIf="selectedField.isEditable; else elseEditableBlock"><input type="text" class="form-control" [(ngModel)]="selectedField.value"></span>
                    <ng-template #elseEditableBlock><input type="text" class="form-control" [(ngModel)]="selectedField.name"></ng-template>
                    </span>
                    <ng-template #elseNameBlock><input type="text" class="form-control" [(ngModel)]="selectedField.name"></ng-template>

                </div>
                <div class="form-group" *ngIf="selectedField.type == 'radio' || selectedField.type == 'checkbox'">
                    <label style="">Options: </label>
                    <button class="btn btn-sm pull-right" (click)="onAddFieldOptionClicked()">+</button>
                    <ul class="list-group m-t">
                        <li class="list-group-item" *ngFor="let op of selectedField.options; let i=index">

                            <span class="pull-right m-l">
                                <button class="btn-link" (click)="onFieldOptionRemoveClicked(i)"><i class="fa fa-times fa-fw"></i></button>
                            </span>
                            <span class="pull-left m-r">{{i}}</span>

                            <div class="clear">
                                <input type="text" [(ngModel)]="op.value" style="width: 80%;" class="form-control" placeholder="">
                            </div>
                            <div *ngIf="selectedField.type == 'radio'">
                                <label>Link to: </label>
                                <ng-select [allowClear]="false" [items]="getLinkedQuestions()" (selected)="onFieldOptionLinkSelected(op, $event)" placeholder="">
                                </ng-select>
                            </div>
                        </li>

                    </ul>
                </div>-->

                <div *ngIf="selectedField.type == 'text' || selectedField.type == 'textarea' || selectedField.type == 'number' || selectedField.type == 'date' || (selectedField.origin == 'local_data' && selectedField.isEditable)">
                    <div>
                        <h3 [myThemeColor]="setting.colorTheme" class="bold">Local Validation</h3>
                        <div class="form-group" *ngFor='let item of localValidations' style="    margin-bottom: 0;">
                            <div class="checkbox">
                                <label><input type="checkbox" [checked]="isLocalValidationSelected(item)" (change)="onLocalValidationChecked(item, $event.target.checked)"><i></i> {{item.name}}</label>
                            </div>
                            <input type="number" [ngModel]="getValidationLength(selectedField, item)" (ngModelChange)="onLengthChanged(selectedField, item, $event)" class="form-control" placeholder="" *ngIf="isLocalValidationSelected(item) && item.type == 'length'">
                        </div>

                        <ng-container *ngIf="selectedField.type == 'text'">
                            <h3 [myThemeColor]="setting.colorTheme" class="bold">Server Validation</h3>
                            <div class="form-group" *ngFor='let item of serverValidations' style="    margin-bottom: 0;">
                                <div class="checkbox">
                                    <label><input type="checkbox" [checked]="isServerValidationSelected(item)" (change)="onServerValidationChecked(item, $event.target.checked)"><i></i> {{item.name}}</label>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>


            </div>

            <div class="panel-body" *ngIf="!selectedField && isFormSetting" style="position: relative;">
                <h4>Showing Style:</h4>
                <div style="text-align: center; " class="">
                    <label class="radio-inline">
                        <input type="radio" name="style" [checked]="form?.showStyle == 'default' " 
                        (change)="form.showStyle = 'default'" />Default
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="style" [checked]="form?.showStyle == 'dbs' " 
                        (change)="form.showStyle = 'dbs'" />DBS
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="style" [checked]="form?.showStyle == 'uob' " 
                        (change)="form.showStyle = 'uob'" />UOB
                    </label>
                </div>
                <h4>Custom CSS:</h4>
                <div id="editor">

                </div>
                <!-- <div class="row">
                    <div class="text-center col-md-4">
                        <span (click)="form.showStyle = 'default'" [class.shadow]="form?.showStyle == 'default'" class="btn default-gradient btn-style-round" tooltip="Default"></span>
                    </div>
                    <div class="text-center col-md-4">
                        <span (click)="form.showStyle = 'dbs'" [class.shadow]="form?.showStyle == 'dbs'" class="btn dbs-gradient btn-style-round" tooltip="DBS"></span>
                    </div>
                    <div class="text-center col-md-4">
                        <span (click)="form.showStyle = 'uob'" [class.shadow]="form?.showStyle == 'uob'" class="btn uob-gradient btn-style-round" tooltip="UOB"></span>
                    </div>
                </div> -->
            </div>
        </div>
        <!--<div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Local Validation</h3>
            </div>
            <div class="panel-body" *ngFor='let item of localValidations' style="padding: 0 15px;">
                <div class="checkbox i-checks">
                    <label>
                        <input type="checkbox" [checked]="isLocalValidationSelected(item)" (change)="onLocalValidationChecked(item, $event.target.checked)"><i></i> {{item.name}}
                    </label>
                </div>
                <input type="number" [(ngModel)]="item.length" class="form-control" placeholder="" *ngIf="isLocalValidationSelected(item) && item.type == 'length'">
            </div>
        </div>-->
        <!--<div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Server Validation</h3>
            </div>
            <div class="panel-body">
                <div class="checkbox i-checks" *ngFor='let item of serverValidations'>
                    <label>
                        <input type="checkbox" [checked]="isServerValidationSelected(item)" (change)="onServerValidationChecked(item, $event.target.checked)"><i></i> {{item.name}}
                    </label>
                </div>
            </div>
        </div>-->
        <!--<pre>{{selectedField | json}}</pre>-->
    </div>
</div>