.modal-content {
    text-align: left;
}

:host {
    width: 100%;
    /*display: block;
    position: absolute;*/
}

.preview-footer {
    background-color: white;
    width: 100%;
    position: fixed;
    /*top: 90%;*/
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.inFocus {
    opacity: 1;
}

.outOfFocus {
    opacity: 0.5;
}

button.dbs {
    color: #fff !important;
    background-color: #ab0000 !important;
    border-bottom: 2px solid #7f0000 !important;
    text-shadow: 0 -1px 0 #300 !important;
    padding: 7px 12px;
    font-size: 14px;
}

button.default-dbs {
    display: inline-block;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    /* IE 8*/
    color: #666363;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f4f0ea;
    background-image: none;
    background-repeat: repeat-x;
    border: 0;
    border-bottom: 2px solid #ccc6c6;
    border-bottom-width: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: "Frutiger", Arial, sans-serif;
}

a.dbs {
    color: #c00 !important;
    text-decoration: none !important;
}

a.dbs:visited,
a.dbs:hover {
    color: #c00 !important;
    text-decoration: underline !important;
}

button.uob {
    display: inline-block;
    // padding: 12px 25px;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    color: #fff !important;
    // font-size: 16px;
    text-align: center;
    text-decoration: initial;
    background: #001f67 !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

button.uob:hover {
    color: #fff !important;
    text-decoration: none !important;
    background: #dc1f2d !important;
}

a.uob {
    color: #0c3577 !important;
    text-decoration: none !important;
}

a.uob:visited,
a.uob:hover {
    color: #0c3577 !important;
    text-decoration: underline !important;
}

h3.uob {
    color: #f77f3a !important;
}

a.link-cancer-uob {
    color: #2671d7;
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px dotted #2671d7;
    text-decoration-style: dotted;
}

.content-preview {
    margin-top: 3.5em;
    margin-bottom: 100px;
}