<toaster-container [toasterconfig]="config1"></toaster-container>

<div class="row affix" *ngIf="form" style="    margin: 0; background-color: white; width: 100%; top: 0; z-index: 9;">
    <div [class.bg-red]="form?.showStyle == 'dbs'" [class.bg-blue]="form?.showStyle == 'uob'" [myThemeColor]="setting.colorTheme" [setBackground]="'true'" class="col-lg-12 col-md-12 col-sm-12" style="height: 5px;"></div>

    <div class="col-sm-0 col-md-3 col-lg-3"></div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <h3 class="text-black" [class.uob]="form?.showStyle == 'uob'">{{form.name}}
            <a style="border:none;" [class.dbs]="form?.showStyle == 'dbs'" [class.uob]="form?.showStyle == 'uob'" [myThemeColor]="setting.colorTheme" routerLink="/form/{{form.id}}" class="btn pull-right">
                <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back
            </a>
        </h3>
    </div>
    <div class="col-sm-0 col-md-3 col-lg-3">
        <div style="text-align: right;">
            <button style="border:none;" [class.dbs]="form?.showStyle == 'dbs'" [class.uob]="form?.showStyle == 'uob'" [myThemeColor]="setting.colorTheme" *ngIf="!isLoggedIn" class="btn btn-link m-t-xs" (click)="smModal.show()">
                <i class="glyphicon glyphicon-log-in"></i> Login
            </button>
            <section *ngIf="isLoggedIn" class="m-t-sm">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i> Welcome {{enteredEmail}}
            </section>
        </div>

    </div>
</div>
<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Log In</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="enteredEmail">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" [(ngModel)]="enteredPassword">
                </div>
                <button *ngIf="!isLogginInProgress" class="btn btn-default" (click)="mockLogin()">Submit</button>
                <button *ngIf="isLogginInProgress" class="btn btn-default" disabled>
                        <i class="fa fa-spinner fa-spin fa-fw"></i>
                    </button>
            </div>
        </div>
    </div>
</div>

<div class="row content-preview" *ngIf="form && filteredFields.length > 0 && form?.showStyle == 'default'" style="">
    <div class="col-md-12 ">
        <!--<div class="panel-heading b-b ">
            <h3 class="text-black ">{{form.name}} <a routerLink="/form/{{form.id}} " class="btn pull-right ">Back</a></h3>

        </div>-->
        <!--<img src="http://twinterritory.com/wp-content/uploads/2014/02/placeholder.jpg " style="object-fit: cover; width: 100%; height: 15em; object-position: center; ">-->
    </div>
    <div class="row " style=" ">
        <div class="col-sm-0 col-md-3 col-lg-3 "></div>
        <div class="col-sm-12 col-md-6 col-lg-6 ">
            <section class="panel " style="position: relative; ">
                <div *ngIf="isSubmitted " style=" position: absolute; width: 100%; height: 100%; background-color: rgba(255,255,255,0.5); z-index: 1; "></div>
                <ul class="list-group alt ">
                    <ng-container *ngFor='let item of filteredFields; let i=index'>
                        <li class="list-group-item animated fadeIn " *ngIf="item.isShown ">
                            <div class="media ">
                                <div class="media-body ">
                                    <field-ui [class.col-md-6]="item.isRowContinued" [class.col-md-12]="!item.isRowContinued" [attr.id]="item ? item.id : '' " (click)="onQuestionClicked(i);$event.stopPropagation(); " style="display: block; " [showField]="item " [index]="i " (onNext)="next(item, $event) "></field-ui>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                </ul>
                <div style="text-align: right; padding: 10px;">
                    <button class="btn" (click)="submissionModal.show()">Submit</button>
                </div>
                <ng-container *ngFor='let item of hiddenFilteredFields; let i=index'>
                    <field-ui [showField]="item "></field-ui>
                </ng-container>
            </section>
        </div>

    </div>
    <!--<pre>{{form | json}}</pre>-->
</div>


<div class="row content-preview" *ngIf="form?.showStyle == 'dbs'" style="">
    <div class="col-sm-0 col-md-3 col-lg-3 "></div>
    <div class="col-sm-12 col-md-6 col-lg-6 ">
        <img src="img/dbs_logo.png" style="width: 150px;" class="m-t-xs" *ngIf="form?.showStyle == 'dbs'" />
        <section class="panel " style="position: relative; ">
            <div *ngIf="isSubmitted " style=" position: absolute; width: 100%; height: 100%; background-color: rgba(255,255,255,0.5); z-index: 1; "></div>
            <form class="form-horizontal eforms " style="    padding: 15px;">
                <ng-container *ngFor='let item of filteredFields; let i=index'>

                    <dbs-form-ui [attr.id]="item ? item.id : '' " (click)="onQuestionClicked(i) " style="display: block; " [showField]="item " [index]="i " (onNext)="next(item, $event) "></dbs-form-ui>
                </ng-container>
                <div style="    text-align: right;">
                    <button class="btn default-dbs">Cancel</button>
                    <button class="btn dbs" (click)="submissionModal.show()">Submit</button>
                </div>
            </form>
        </section>
    </div>

</div>


<div class="row content-preview" *ngIf="form?.showStyle == 'uob'" style="">
    <div class="col-sm-0 col-md-3 col-lg-3 "></div>
    <div class="col-sm-12 col-md-6 col-lg-6 ">
        <img src="img/uob-logo.png" style="width: 200px;" class="m-t-xs" *ngIf="form?.showStyle == 'uob'" />
        <section class="panel " style="position: relative; ">
            <div *ngIf="isSubmitted " style=" position: absolute; width: 100%; height: 100%; background-color: rgba(255,255,255,0.5); z-index: 1; "></div>
            <!--<uob-form [filteredFields]="filteredFields"></uob-form>-->
            <div class="ls-row">
                <div class="ls-fxr">
                    <div class="ls-area">
                        <div class="ls-area-body">
                            <div class="verification clearfix">
                                <form>
                                    <ng-container *ngFor='let item of filteredFields; let i=index'>

                                        <uob-form-ui [attr.id]="item ? item.id : '' " (click)="onQuestionClicked(i) " style="display: block; " [showField]="item " [index]="i " (onNext)="next(item, $event) "></uob-form-ui>
                                    </ng-container>
                                    <div style="    text-align: right;">
                                        <a href="#" class="btn link-cancer-uob ">Cancel</a>
                                        <button class="btn uob" (click)="submissionModal.show()">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>

</div>

<div class="row preview-footer affix hide">
    <div class="col-sm-0 col-md-3 col-lg-3 "></div>
    <div class="col-sm-12 col-md-6 col-lg-6 ">
        <h3 [class.uob]="form?.showStyle == 'uob'">
            Answered
            <button [class.dbs]="form?.showStyle == 'dbs'" [class.uob]="form?.showStyle == 'uob'" [myThemeColor]="setting.colorTheme " [setBackground]=" 'true' " (click)="submissionModal.show()" class="btn pull-right " [attr.disabled]="isSubmitted ? 'disabled' : null ">Submit</button>
        </h3>
        <progressbar [max]="max " [value]="dynamic " type="success ">
            <span style="color:white; white-space:nowrap; ">{{dynamic}} / {{max}}</span>
        </progressbar>
    </div>
    <div class="col-sm-0 col-md-3 col-lg-3 ">
        <div style="text-align: right; " class="">
            <label class="radio-inline">
                <input type="radio" name="style" [checked]="form?.showStyle == 'default' " 
                (change)="form.showStyle = 'default'" />Default Style
            </label>
            <label class="radio-inline">
                <input type="radio" name="style" [checked]="form?.showStyle == 'dbs' " 
                (change)="form.showStyle = 'dbs'" />DBS Style
            </label>
            <label class="radio-inline">
                <input type="radio" name="style" [checked]="form?.showStyle == 'uob' " 
                (change)="form.showStyle = 'uob'" />UOB Style
            </label>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #submissionModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Form Submission</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="submissionModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <h4 class="col-sm-2" style="padding: 15px; margin: 0;">Endpoint:</h4>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <h4>Parameters<i class="pull-right fa fa-plus" (click)="addParameter()"></i></h4>
                    <div class="form-group" *ngFor="let p of parameters">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="key" [(ngModel)]="p.key">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="value" [(ngModel)]="p.value">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-11 col-sm-1">
                            <button type="submit" class="btn btn-default" (click)="onFormSubmitClicked();submissionModal.hide()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>