<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{category.name}}</h3>
        <button type="button" class="btn btn-default pull-right" *ngIf="selectedTemplate" (click)="onNext()">Next</button>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let template of templates" [class.active]="template === selectedTemplate" (click)="onSelect(template)">{{template.name}}</li>
        </ul>
    </div>
</div>