<textarea id="{{elementId}}"></textarea>

<template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Rich Text Editor</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <temp-tiny [content]="content" (contentChange)="content = $event;editor.setContent($event);"></temp-tiny>
  </div>
</template>