@import 'node_modules/angular2-toaster/toaster';
@import 'node_modules/dragula/dist/dragula';
@import '/uob/main.min.css';
@import '/uob/por-form.css';
@import '/assets/global/css/HPElements.css';
@import '/assets/admin/pages/css/HP-forms.css';
$headerTop: 91px;
// styles in src/style directory are applied to the whole page
// body {
//     background: #0147A7;
//     color: #fff;
// }
// a {  
//     color: #03A9F4;
// }
body,
* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.dropdown-menu {
    position: initial !important;
}

.affix input {
    height: initial;
}

$greenColor: #0da8a0;
$redColor: #c00;
$blueColor: #001f67;
.bg-green {
    background-color: $greenColor !important;
    border: 1px solid $greenColor;
    color: #ffffff;
}

.bg-red {
    background-color: $redColor !important;
    border: 1px solid $redColor;
    color: #ffffff;
}

.bg-blue {
    background-color: $blueColor !important;
    border: 1px solid $blueColor;
    color: #ffffff;
}

.color-green {
    color: $greenColor !important;
}

.color-red {
    color: $redColor !important;
}

.color-blue {
    color: $blueColor !important;
}

.border-green {
    border-color: $greenColor !important;
}

.border-red {
    border-color: $redColor !important;
}

.color-blue {
    border-color: $blueColor !important;
}

.hpblue {
    color: $greenColor !important;
}

// .btn-primary {
//     background-color: $greenColor !important;
//     border-color: $greenColor !important;
// }
a {
    color: $greenColor;
}

.cursor-pointer {
    cursor: pointer;
}

.form-row-content {
    padding-top: $headerTop;
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
}

.btn-vertical {
    position: absolute;
    z-index: 999;
    top: $headerTop;
    right: -87px;
}

.animate-all-property {
    -webkit-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear
}

.tab-head span.glyphicon-remove-circle {
    top: -15px !important;
    right: -15px !important;
    float: right !important;
}

.tree-children {
    border-left: 1px solid black;
}

.tree-node-loading {
    display: none;
}

.node-content-wrapper-active {
    background: none !important;
    box-shadow: none !important;
}

@media screen and (min-width: 980px) {
    .container,
    h2 {
        max-width: 1390px;
    }
    .container {
        width: 1390px;
    }
}