h1,
h2,
h3,
h4,
button,
input {
    font-family: HPSimplified-Light;
}

.page-logo {
    font-family: HPSimplified-Light;
    font-size: 24px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.hpblue {
    color: #008BC7!important
}

body {
    background: #f3f3f4 !important;
}

.page-content-wrapper {
    height: 100%;
}

.page-content {
    margin-left: 0 !important;
    height: 100% !important;
    background-color: transparent;
}

#ui-fieldsettings {
    /* min-height: 500px; */
}

.ui-formsection {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    /*overflow: auto !important;*/
    min-height: 40px;
    height: auto !important;
    border: 1px solid transparent;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

.ui-formsection .control-label {}

.formsection-warning {
    border-left: red solid !important;
}

.formsection-warning:hover {
    border-left: red solid !important;
}

.othersection-warning {
    color: red !important;
}

.shortsection {
    min-height: 5px;
}

.shortsection .ui-formsection {
    border: 1px dotted #ddd;
}

.shortsection .ui-formsection:hover {
    border: 1px dashed #aaa;
}

.chosensection {
    background-color: #DAEAF1;
    color: #008BC7!important;
}

.chosensection>.section-button {
    display: block;
    color: #999!important;
}

.chosensection:hover>.section-button {
    display: block;
    color: #666!important;
}

.chosensection>.section-button:hover {
    display: block;
    color: #333!important;
}

.section-button {
    position: absolute;
    cursor: pointer;
    display: none;
    color: #808080;
}

.section-button:hover {
    color: #333!important;
    text-decoration: none;
}

.delete-section-button {
    top: 5px;
    right: 10px;
}

.collapse-section-button {
    top: 5px;
    right: 30px;
}

.collapse-sub-elements-button {
    top: 5px;
    right: 50px;
}

.delete-option-button {
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
}

.ui-formsection:hover .section-button {
    display: none;
}

.ui-formsection:hover>.section-button {
    display: block;
    color: #ddd;
}

.ui-formsection:hover {
    border: dashed 1px #aaa;
}

.fb-add-field-types .section {
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.fb-add-field-types a {
    width: 120px!important;
    text-align: left;
}

.fb-add-field-types a:hover {
    background-color: #0397D6;
    color: white;
}

.fb-add-field-types a:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.field-options-list li {
    cursor: pointer;
    width: 90% !important;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 5px;
    border: 1px solid #eee;
    border-bottom-width: 0px
}

.field-options-list li:last-child {
    border-bottom-width: 1px
}

.field-options-list div.delete-option-button {
    color: #337ab7;
    font-size: large
}

.input-group {
    width: 100%;
}

.input-group li {
    width: 70%;
    text-overflow: ellipsis;
    border: solid 1px #EFEFEF;
}

.field-options-list {
    padding-left: 15px;
}

.settingsrow {
    border-bottom: 1px solid #eee;
    margin-left: 0px;
}

.settingsrow .form-group {
    padding-left: 10px;
}

.fb-add-field-types a {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    color: #333;
    background-color: #DAEAF1;
    /*border-color: #ccc;*/
    /*border-radius: 3px!important; */
    margin: 5px;
}

div.form-field-container {
    display: inline
}

.section-body {
    background-color: white;
    width: 100%;
    min-height: 100px;
    height: auto !important;
    /*overflow: auto !important; */
    padding-top: 0px!important;
    padding-bottom: 0px!important
}

.ui-hovering-state {
    background: #CCCCCC;
    border: dashed 1px #aaa;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    position: relative;
    min-height: 60px;
}

.page-container {
    margin-top: 50px !important;
    height: 100%;
}

.form-info-collapse-btn {
    top: 5px;
    right: 20px;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}


/*
.script-body {
	width: 100%;
	height: 100px;
	overflow: auto !important; 
	padding-top:20px;
	padding-bottom:20px;
}
*/

.field-support {
    padding-top: 5px;
}

.ui-left-tab {
    margin-bottom: 0 !important;
}

.disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ui-form-loading {
    position: absolute;
    top: 50%;
    left: 45%;
}

textarea {
    resize: none;
}

#btn-collapse-all {
    visibility: hidden;
    width: 117px;
}

a.ui-dependent-attr {
    font-size: 12px;
}

.ui-elem-symbol {
    padding-right: 2px;
}

.fa-edit {
    margin-left: 3px;
}


/* HEADER */

.navbar-nav {
    margin: 15px;
}

#group-buttons {
    margin-top: 12px;
    margin-right: 12px;
}

.screensize-warning {
    top: 50px;
    position: fixed;
    opacity: 1;
    width: 100%;
}

.screensize-warning>.alert-error {
    background: #F8D9DC!important;
    opacity: 1!important;
}

#ui-resolution-warning-msg {
    display: none;
    width: 50%;
    margin: 0 auto;
}


/* LEFT COLUMN */

div#ui-left-col {
    position: fixed;
    left: 20px;
    padding-right: 10px;
    top: 80px;
    bottom: 50px;
}

div#ui-left-content {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    position: relative
}

#ui-tree-view-wrapper,
#ui-add-field-wrapper {
    max-height: 90%;
    overflow-y: auto;
    height: 428px;
}

ul#ui-tree-view,
ul#ui-tree-view ul {
    list-style-type: none;
    margin-left: 0 0 0 10px;
    padding: 0;
    position: relative;
    overflow: hidden;
}

ul#ui-tree-view li {
    margin: 0;
    padding: 0 12px;
    position: relative;
}

ul#ui-tree-view li::before,
ul#ui-tree-view li::after {
    content: '';
    position: absolute;
    left: 0;
}


/* horizontal line on inner list items */

ul#ui-tree-view li>li::before {
    border-bottom: 1px solid #999;
    top: 10px;
    width: 10px;
    height: 0;
}


/* vertical line on list items */

ul#ui-tree-view li:after {
    border-left: 1px solid #999;
    height: 100%;
    width: 0px;
    top: -10px;
}


/* lower line on list items from the first level because they don't have parents */

ul#ui-tree-view li::after {
    top: 10px;
}


/* hide line from the last of the first level list items */

ul#ui-tree-view li:last-child::after {
    display: none;
}

.forced-to-bottom {
    position: absolute;
    bottom: 10px
}

.tree-warning {
    color: red;
}

.resizable-tabcontent {
    min-height: 600px;
}

#ui-left-col .resizable-tabcontent {
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

#ui-right-col .resizable-tabcontent {
    min-height: 590px;
    height: 590px;
    overflow-y: auto;
    overflow-x: hidden;
}


/* RIGHT COLUMN */

div#ui-right-col {
    position: fixed;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    right: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
}

#ui-right-col h3 {
    padding-top: 15px;
}

#ui-fieldsettings-header {
    padding-top: 12px;
    padding-right: 6px;
    overflow: hidden;
    height: 58px
}

#ui-fieldsettings-wrapper {
    /*padding: 20px 15px 15px 15px;*/
}

.supported_elems .row {
    margin-right: 0 !important;
}

.scripts-group {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.attribute-warning .control-label {
    color: red;
}


/* MIDDLE COLUMN (MAIN CONTENT) */

div#ui-mid-col {
    left: 25%;
    padding-right: 35px;
    padding-left: 0 !important;
    height: 100%;
    padding-bottom: 70px;
}

#ui-mid-col>.row {
    height: 100%;
}

div#ui-form-wrapper {
    background: #FAFAFA;
    height: 100%;
}

div#ui-form-title {
    padding-top: 12px;
    padding-right: 6px;
    overflow: hidden;
}

#ui-form-title h2 {
    width: 100%
}

#ui-form-title h2 div {
    font-size: smaller;
    float: Right;
    font-weight: normal
}

#ui-form-searchbar {
    font-family: HPSimplified-Light;
    width: 50%;
}

div#ui-form-body {
    padding: 0px 15px 0px 15px;
}

#ui-mainform {
    min-height: 500px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.ui-import-error-messages {
    position: absolute;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    display: none;
    width: 50%;
    left: 25%;
}

.ui-import-error-messages .ui-error-title {
    margin-left: 45%;
}

.ui-import-error-messages .ui-error-type {
    margin-left: 5%;
}

.ui-error-list li {
    margin: 0 10px 10px 0;
    vertical-align: top;
}

#ui-error-collapse {
    position: absolute;
    right: 50%;
}

.ui-import-error-messages .ui-error-btn {
    position: fixed;
    margin-left: 45%;
    display: none;
    top: 0;
    border-radius: 0;
    border-top-width: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 25px;
    font-size: larger;
    font-family: HPSimplified-Light;
}

.ui-import-error-messages-minimized {
    visibility: hidden;
}

.ui-import-error-messages-minimized .ui-error-btn {
    margin-left: 23% !important;
}


/* FOOTER */

.page-footer-inner {
    padding-left: 20px;
    overflow: hidden;
    z-index: -1;
}

span.ui-form-warning {
    color: #ffcc00;
}

.navbar-message {
    position: fixed;
    width: 25%;
    bottom: 0;
    right: 12px;
    text-align: center;
    margin: auto;
    z-index: 2;
    float: right;
}

#ui-warning-msg {
    display: none;
}

#ui-warning-msg h5 {
    display: inline-block;
}


/* OVERRIDE */

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: white;
}

.form-control[disabled].hidden-textfield {
    background-color: #eee
}

.form-horizontal .control-label {
    text-align: left !important;
}

.field-options-list {
    min-height: 0 !important;
}


/*content Attributes */

.content-attributes form.form-horizontal {
    border: 1px solid #eee;
    border-bottom-width: 0px
}

.content-attributes form.form-horizontal:last-child {
    border-bottom-width: 1px
}

.content-attributes form.form-horizontal .form-group label {
    padding-left: 3px!important;
    padding-top: 0px;
    line-height: 26px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content-attributes form.form-horizontal .form-group {
    margin: 0;
    padding: 0;
}

.content-attributes form.form-horizontal label.control-label {
    border-right: 1px solid #eee
}

div.content-attributes input.form-control,
div.content-attributes select {
    border: 0px solid transparent;
    color: black;
    margin-left: -10px;
    padding: 0px 35px 0px 0px;
    height: 26px;
    font-family: HPSimplified-Light
}

div.content-attributes form.form-horizontal div.checker {
    padding-top: 4px
}


/*Miscellaneous Attributes */

.misc-attributes form.form-horizontal {
    border: 1px solid #eee;
    border-bottom-width: 0px
}

.misc-attributes form.form-horizontal:last-child {
    border-bottom-width: 1px
}

.misc-attributes form.form-horizontal .form-group label {
    padding-left: 3px!important;
    padding-top: 0px;
    line-height: 26px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.misc-attributes form.form-horizontal .form-group {
    margin: 0;
    padding: 0;
}

.misc-attributes form.form-horizontal label.control-label {
    border-right: 1px solid #eee
}

div.misc-attributes input.form-control,
div.misc-attributes select {
    border: 0px solid transparent;
    color: black;
    margin-left: -10px;
    padding: 0px 35px 0px 0px;
    height: 26px
}

div.misc-attributes form.form-horizontal div.checker {
    padding-top: 4px
}


/*Supporting elements */

.supported_elems div.form-group {
    border: 1px solid #eee;
    margin: 0;
    border-bottom-width: 0px
}

.supported_elems div.form-group:last-child {
    border-bottom-width: 1px
}

.supported_elems div.form-group label {
    padding-left: 3px;
    border-right: 1px solid #eee;
    margin-bottom: 0;
    height: 26px;
    line-height: 26px
}

.supported_elems div.form-group .checker {
    padding-top: 4px
}

.ui-dependent-attr {
    float: right;
    margin-top: -25px;
    margin-right: -10px
}

div.blockgrid {
    margin-left: -5px;
    margin-right: -10px
}

div.blockgrid form {
    padding-left: 5px;
    padding-right: 5px
}

div.blockgrid form input {
    padding: 0;
    padding-left: 4px;
    height: 26px;
    line-height: 26px
}

div.blockgrid form label {
    padding-right: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0;
    line-height: 100%
}

#ui-form-title {
    height: 58px
}

#ui-form-title h2 {
    margin-top: 0 !important;
}

#ui-fieldesettings-header {
    height: 58px
}

#ui-fieldsettings-header h2 {
    margin-top: 0 !important;
}

.tooltip {
    z-index: 10000 !important;
}

.tooltip-inner {
    max-width: auto;
}

.blockgrid .checker {
    padding-left: 2px;
}

.disabled-dependency {
    color: #A9A9A9 !important;
}

.page-logo {
    width: initial !important;
}