/*

  Copyright 2003 Interwoven, Inc. All Rights Reserved.

  Interwoven trademarks, service marks, logos, and taglines are
  exclusively owned by Interwoven, Inc.

*/

body{
	font-family: Helvetica;
	font-size: 12px;
}

/* LST-9901, modal dialog appeared below the bg underlay */
#modal-out-of-date-dialog-container
{
  z-index:1000;
}

/* link widget */
/* Used for links in popup widget, view links, portlet links, and misc. links.  */

/*style for links in file, edit, etc menus*/
.iw-base-menu-links
{
	font-size:12px;
    color:#373D3D;
	font-family: Helvetica;
	width: 220px;
    padding-top: 2px;
	margin-left: 0px;
    padding-left: 7px;
	padding-bottom: 2px;
	display: block;
}
a.iw-base-menu-links
{
	text-decoration:none;
}
a.iw-base-menu-links:hover
{
    color:#FFFFFF;
	background-color: #009DEF;	
}

.iw-base-menu-links-disabled
{
	font-size:12px;
    color:#AFAFAF;
	font-family: Helvetica;
	width: 220px;
    padding-top: 2px;
	margin-left: 3px;
    padding-left: 7px;
	padding-bottom: 2px;
	display: block;
}
.iw-base-menu-links-hidden
{
	font-size:12px;
    color:#AFAFAF;
	font-family: Helvetica;
    cursor: default;
    visibility: hidden;
}

.iw-base-menu-links-icon
{
	float:left; 
	padding-right:7px;
	margin-right:8px;
	border-right:#808080 none 1px;
	border-collapse: collapse;
}

.iw-base-link 
{
    font-size: 12px; 
    color: #222222; 
    text-decoration:none; 
    font-weight: normal;
    cursor:pointer;
	display: block;
	width: auto; 
}

/*CC Pro menu, click anywhere on the item*/
.iw-base-popup-row .iw-base-link 
{
    font-size: 12px; 
    color: #222222; 
    text-decoration:none; 
    font-weight: normal;
    cursor:pointer;
	display: block;
	width: auto;  
}

.iw-base-link-disabled
{
    font-size: 12px; 
    color: #999999;
    text-decoration:none; 
    font-weight: normal;
    cursor: default;
}

.iw-base-link-disabled-hidden
{
    font-size: 12px;
    color: #999999;
    text-decoration:none;
    font-weight: normal;
    cursor: default;
    visibility: hidden;
    display:none;
}

a.iw-base-link:hover 
{
    font-size: 12px; 
    color: #003366;
    text-decoration:underline; 
    font-weight: normal;
}

/* Used to set the alignment and other attributes of link with an icon */
.iw-base-cornermenus .iw-base-link-icon
{
	margin-right: 13px;
	margin-left: 5px;
}

.iw-base-heading-div .iw-base-link-icon
{
    margin-right: 3px;	
}

.iw-base-link-icon 
{
    vertical-align: bottom;
    border: 0px;
    margin-right: 8px;
	margin-left: 8px;
}

.iw-base-button-frame
{
    border: none;
}

.iw-base-button-border
{
    border:1px solid #999999;
    cursor:default;    
    
}

.iw-base-button,.iw-base-button-disabled
{   
    background-color: #e9e9e9;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    text-align:center;
    font-size: 12px;    
    padding: 2px 6px 2px 6px;    
    color: #003366;
    cursor: pointer;
    text-decoration:none;
    font-weight:normal;
}
.iw-base-button-disabled{
	display: inline-block;
}
.iw-base-button{
	display: block;
}

.iw-base-button-disabled
{
    color: #999999; 
    text-decoration:none; 
    font-weight: normal;
    cursor: default;
}

a.iw-base-button:hover
{
    font-size: 12px;
    color: #003366;
    background-color: #e9e9ff;
    text-decoration: underline;
    font-weight: normal;
}

/**
 * These special css classes are used to work around a limitation in Gecko
 * browsers to approximate the meaning of "display:inline-block;".
 * Modify at your own risk!
 */
.iw-base-button.moz-button,.iw-base-button-disabled.moz-button,.iw-base-button-border.moz-button{
    display: -moz-inline-box;
    border-spacing:0px;
}

/* 
 Note: iw-base-button-left, iw-base-button-middle, iw-base-button-right, 
 have been deprecated since the button widget has changed in TeamSite 6.7.
 They are still included because some "buttons" still rely on them. 
 */
.iw-base-button-left
{
    background-image: url(../images/dialog_btn_left.gif);
    width: 7px;
    height: 25px;
}

.iw-base-button-middle
{
    background-image: url(../images/dialog_btn_mid.gif);
    background-repeat: repeat-x;
    min-width: 75px;
    white-space: nowrap;
}

.iw-base-button-right
{
    background-image: url(../images/dialog_btn_right.gif);
    width: 7px;
    height: 25px;
}

/* crumbtrail widget */
.iw-base-crumbtrail-link {
    font-size: 12px;
    font-weight: normal;
    color: #003366;
    text-decoration: none;
    cursor: pointer;
}

a.iw-base-crumbtrail-link:hover
{
    font-size: 12px;
    color: #003366;
    text-decoration: underline;
    font-weight: normal;
}

.iw-base-crumbtrail-separator
{
    font-size: 12px;
    font-weight: normal;
    color: #666666;
}

.iw-base-crumbtrail-link-disabled
{
    font-size: 12px;
    font-weight: normal;
    color: #333333;
    text-decoration: none;
    cursor: default;
}


/* heading widget */
/* Used in task details attached files subheading links */
.iw-base-heading-link
{
    font-size: 12px;
    color: #333333;
    font-weight: normal;
    cursor:pointer;
}

a.iw-base-heading-link:hover
{
    font-size: 12px;
    color: #333333;
    text-decoration: underline;
    font-weight: normal;
}

.iw-base-heading-link-disabled
{
    font-size: 12px;
    color: #999999; 
    text-decoration: none;
    cursor: default;
    font-weight: normal;
}

.iw-base-heading-link-disabled-hidden
{
    font-size: 12px;
    color: #999999;
    text-decoration: none;
    cursor: default;
    font-weight: normal;
    visibility: hidden;
    display:none;
}

.iw-base-heading-separator
{
    visibility: visible;
}

.iw-base-heading-separator-hidden
{
    visibility: hidden;
    display:none;
}


/* Used to set attributes of menu links in CCPro */
.iw-base-heading-link-bold
{
    font-size: 12px;
    color: #333333;
    text-decoration: none;
    font-weight: bold;  
    cursor:pointer;
    padding:0px 0px 0px 3px;
}

a.iw-base-heading-link-bold:hover
{
    font-size: 12px;
    color: #333333;
    text-decoration: underline;
    font-weight: bold;
}

.iw-base-heading-link-bold-disabled
{
    font-size: 12px;
    color: #999999; 
    text-decoration: none;
    cursor: default;
    font-weight: bold;
}

/*css for links on heading right side*/
.iw-base-heading-right-link
{
    font-family: Helvetica;
    font-size: 12px;
    color: #5D6262;
    text-decoration: none;
    font-weight: normal;
    cursor:pointer;
	padding-left:30px;
}

a.iw-base-heading-right-link:hover
{
    color: #373D3D;
	text-decoration: none;
}

.iw-base-heading-right-link-disabled
{
    font-family: Helvetica;
    font-size: 12px;
    color: #999999; 
    text-decoration: none;
    cursor: default;
    font-weight: normal;
	padding-left: 30px;
}

/*Menu CSS*/
.iw-base-menu-heading-link
{
    font-family: Helvetica;
    font-size: 12px;
    color: #5D6262;
    text-decoration: none;
    cursor:pointer;
    padding:9px 15px 9px 15px;
	background-image: url(../images/DividerLine.png);
	background-repeat:no-repeat;
	background-position:right;
	height: 33px;
	margin-left: -1px;
}

a.iw-base-menu-heading-link:hover
{
	color: #373D3D;
}

table#menus .iw-base-menu-heading-link.menu-open
{
    color: #8E9292;
	background-image: url(../images/TopBarPressedBg.png);
	background-repeat:repeat-x;
	background-position:right;
}

/*Corner Menu CSS */

.iw-base-cornermenus
{
	font-family: 'Helvetica';
	font-style: Regular;
	font-size: 12px;
	color: #E5E5E5;
	float: right;
	padding-right: 10px;
	padding-top: 9px;
}

.iw-base-cornermenu-heading-link
{
    font-family: Helvetica;
    font-size: 12px;
    color: #E5E5E5;
    text-decoration: none;
    cursor:pointer;
    padding:9px 0px 9px 0px;
}
.iw-base-cornermenu-heading-link.iw-base-cornermenu-heading-link-user
{
	background: url(../images/IcAdmin.png);
	background-image: url("../images/IcAdmin.png");
    background-position: left center;
    background-repeat: no-repeat;
	margin-left: 15px;
    margin-right: 15px;
    padding-left: 23px;
}

table#cornermenus .iw-base-cornermenu-heading-link.menu-open 
{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; 
	filter: alpha(opacity=20);					
}

table#cornermenus
{
	float:left;
}

table#cornermenus td
{
	white-space: normal !important;
	padding-left:8px;
}

.iw-base-cornermenu-popup, .iw-base-cornermenu-user-popup
{
	background-image: none;
	background-color: white;
	border-color: #9C9DA0;
	background-position: 15px 50%;
	border: 1px solid;
    color: #404545;
    font-size: 12px;
}

/* Used to set background and border attributes of headings */
.iw-base-heading
{
    color: #5D6262; 
    font: bold 12px helvetica, sans-serif;
}

.iw-base-heading td > img {
}


/* Used to set background and border attributes of popup menu bar */
.iw-base-topbar
{
	background: transparent url(../images/TopBarBg.png) repeat-x;
	height: 33px;
	border-collapse:collapse;
}

.nav_panel 
{
  background-color:#eeeeee;
}



/*Changing this Used to set attributes of text label in headings :
.iw-base-heading-title
{
  	font-family: Verdana, sans-serif;
  	font-size: 11px;
  	font-size-adjust:none;
  	font-stretch:normal;
  	font-style:normal;
  	font-variant:normal;
  	font-weight: bold;	
  	line-height:normal;
  	color: #1B346C;
  	text-decoration: none;   
  	margin-left:5px;
}*/

.iw-base-heading-title
{
  	font-family: Helvetica;
  	font-size: 12px;
  	color: #5D6262;
}

.iw-base-heading-div
{
  	visibility: visible;
  	white-space: nowrap;
}

.iw-base-heading-div-hidden
{
  	visibility: hidden;
  	white-space: nowrap;
  	display:none;
}


/* actionlist widget */

/* Used to set attributes of action links in headings, list views, and top banner links */
.iw-base-actionlist-link
{    
    font-size: 12px;
    color: #003366;
    text-decoration: none;
    font-weight: normal;
    cursor:pointer;    
}

a.iw-base-actionlist-link:hover
{
    font-size: 12px;
    color: #003366;
    text-decoration: underline;
    font-weight: normal;
}

.iw-base-actionlist-link-disabled
{ 
    font-size: 12px;
    color: #999999;
    text-decoration: none;
    font-weight: normal;
    cursor: default;
}

.iw-base-actionlist-link-disabled-hidden
{
    font-size: 12px;
    color: #999999;
    text-decoration: none;
    font-weight: normal;
    cursor: default;
    visibility: hidden;
}


.iw-base-actionlist-link-bold
{
    font-size: 12px;
    color: #003366;
    text-decoration: none;
    font-weight: bold;
    cursor:pointer;
}

a.iw-base-actionlist-link-bold:hover
{
    font-size: 12px;
    color: #003366;
    text-decoration: underline;
    font-weight: bold;
}

.iw-base-actionlist-link-bold-disabled
{
    font-size: 12px;
    color: #999999;
    text-decoration: none;
    font-weight: bold;
    cursor: default;
}

/* combobox widget */

.iw-base-combobox
{
    background:transparent url(../images/text-bg.gif) repeat-x scroll 0 0;
    border:1px solid #B5B8C8;
    color:#000000;
    font-size:12px;
}

/* listbox widget */

.iw-base-listbox
{
    color: #000000;
    background-color: #ffffff;
    border: 1px #999999 solid;
    font-size: 12px;
}

/*changing styles 5/30/2012 popup widget */

.iw-base-popup-top
{
    font-size: 12px;
    color: #003366;
    text-decoration: none;
    font-weight: normal;
} 

.iw-base-popup
{
    font-size:12px;
    border:1px solid #7488B3; 
    background-color:white;
    color:#222222;
    text-decoration:none;
    white-space:nowrap;
}

.iw-base-popup-row
{
    background: #ffffff;
    padding: 3px 21px 4px 5px;
}

.iw-base-popup .iw-base-popup-row-highlighted {
    padding-left: 5px;	
}

.iw-base-popup-row-highlighted
{
    background-color: #009DEF;
	border-color: #AACCF6;    
	padding: 3px 21px 4px 0px;
    cursor: pointer;
}

.iw-base-popup-row-highlighted a:hover {
    text-decoration: none;	
    color: white;
}

.iw-base-popup-row-highlighted .iw-base-link {
    color: white;	
}

.iw-base-popup-cornermenu-row
{
	background: url("../images/DropDownMiddle.png"); 
	background-color:F0F0F0;
	background-position: 8px;
    padding: 3px 21px 4px 0px;
  
}

/* listview widget */

.iw-base-listview-overall-table
{
  padding: 0px;
  width:100% !Important;
}

#divscroller_hb_files{
  overflow-x: hidden !important;
}

.iw-base-listview-row-even 
{
    background: #F7F7F7;
}

.iw-base-listview-row-odd 
{
   background: #ffffff;
}

.iw-base-listview-row-even-selected
{
  	background: #dfe8f6;
	  border: dotted 1px #a3b9e9
}

.iw-base-listview-row-odd-selected
{
  	background: #dfe8f6;
  	border: dotted 1px #a3b9e9
}

.iw-base-listview-row-even-highlighted
{
    background: #ccddee;
    cursor: default;
}

.iw-base-listview-row-odd-highlighted
{
    background: #ccddee;
    cursor: default;
}

.iw-base-listview-data
{
    border-bottom: 1px solid lightgrey;
    font-size: 12px;
    color: #000000;
}

.iw-base-listview-data-nowrap
{
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    font-size: 12px;
    color: #000000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding:3px 3px 3px 3px;    
}

.iw-base-listview-data-nowrap-highlighted
{
    font-size: 12px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #ccddee;
    cursor: default;
}

.iw-base-listview-data-link
{
    font-size: 12px;
    color: #003366;
    text-decoration: none;
    font-weight: normal;
    cursor:pointer;
}

a.iw-base-listview-data-link:hover
{
    font-size: 12px;
    color: #003366;
    text-decoration: underline;
    font-weight: normal;
}

.iw-base-listview-data-link-disabled
{
    font-size: 12px;
    color: #999999; 
    text-decoration: none;
    font-weight: normal;
    cursor: default;
}

.iw-base-listview-header-div
{
    background:#C0CCE3 url(../images/grid3-hrow.gif) repeat-x scroll 0 bottom;
    border-bottom:1px none #C0C0C0;
	width:100%;
}

.iw-base-listview-header
{	
    background:#C0CCE3 url(../images/grid3-hrow.gif);
    font-size: 12px;
    font-weight: normal;
    cursor:inherit;
    width:5px;
    padding:3px 3px 3px 0px;
    position:relative;
}

.iw-base-listview-header-lined
{
    background:#C0CCE3 url(../images/grid3-hrow-over.gif) repeat-x scroll 0 0;
    font-size: 12px;
    font-weight: normal;
    color: #333333;  
    border-bottom: 1px solid #cccccc;
}

.iw-base-listview-header-bg-nowrap
{
    font-size: 12px;
    font-weight: normal;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
}

.iw-base-listview-header-nowrap
{
    background: #C0CCE3 url(../images/grid3-hrow-over.gif);
    font-size: 12px;
    font-weight: normal;
    cursor:inherit;
    padding:0 3px 0 5px;
	height: 20px;
    border-left:1px solid #EEEEEE;
    border-right:1px solid #D0D0D0;
    line-height:15px;    
}

.iw-base-listview-header-lined-nowrap
{
    background:#C0CCE3 url(../images/grid3-hrow-over.gif);
    border-bottom:1px solid #C0C0C0;
    font-size: 12px;
    font-weight: normal;
    color: #333333;
    padding:4px 3px 0px 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left:1px solid #EEEEEE;
    border-right:1px solid #D0D0D0;
    line-height:15px;
}

.iw-base-listview-header-link
{
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #333333;
    cursor:pointer;
}

a.iw-base-listview-header-link:hover
{
    font-size: 12px;
    font-weight: normal;
    text-decoration: underline;
    color: #333333;
}

.iw-base-listview-header-link-disabled
{
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #999999;
    cursor: default;
}

/* pagination widget */

.iw-base-pagination-label
{
    background:#D0DEF0 url(../images/bg.gif) repeat-x scroll left top;
    font-size: 12px;
    font-weight: normal;
    color: #333333;    
    border-color:-moz-use-text-color #8399C7 #8399C7;
    border-style:none solid solid;
    border-width:0 0px 0px;	
}

.iw-base-pagination-link
{
    font-size: 12px; 
    color: #003366; 
    text-decoration:none;
    cursor:pointer;
	
}

a.iw-base-pagination-link:hover
{
    font-size: 12px; 
    color: #003366; 
    text-decoration:underline;

}

.iw-base-pagination-linkoff
{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
  	background-color: #d0def0;
  	background-image: url(../images/bg.gif);
  	background-repeat: repeat-x;
  	background-attachment: scroll;
  	background-position: left top;
}

.iw-base-pagination-textbox
{
    color: #333;
    background-color: #FFFFFF;
    border: 1px #999999 solid;
    background-color: none;
    font-size: 12px;
    height:18px;
}

.iw-base-pagination-margin
{
    margin: 0px;
}


.iw-base-tabs
{
    border: medium none;
    border-spacing: 0;
    padding: 0;	
	float: left;
}

.iw-base-tabs ul
{
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

.iw-base-tabs  li
{
	float: left;

}

.iw-base-tabs a 
{
	margin:0;
	border: none;
	font-family: "Helvetica";
	font-style: Regular;
	font-size: 16px !important;
	color: #00AFEF;
}

.iw-base-tabs a:active
{
	color: #FFFFFF;	
}

.iw-base-tabs a:hover
{
	color: #FFFFFF;
}

.iw-base-tab-left
{
	margin-top:32px;
}

.iw-base-tab-right
{
}

.iw-base-tab-middle
{
	margin-top:30px;
	margin-left:15px;
	margin-right:15px;
	
}

.iw-base-tab-middle a:hover
{
	color: #FFFFFF;	
}

.iw-base-tab-selected-left
{
	background: url(../images/BtnNavigationLeft.png) no-repeat;
	background-attachment: scroll;
	margin-left:15px;
	margin-top:27px;
	width: 4px;
	height: 31px;
	float:left;
}

.iw-base-tab-selected-right
{
	background: url(../images/BtnNavigationRight.png) no-repeat;
	margin-right:15px;
	margin-top:27px;
	float:left;
	width: 3px;
	height: 31px;
}

.iw-base-tab-selected-middle
{
	background: url(../images/BtnNavigationMiddle.png) repeat-x;
	white-space: nowrap;
	margin-top:27px;
	float:left;
	height: 31px;
	padding-top:2px;
}

.iw-base-tab-selected-middle a
{
	margin-left:11px;
	margin-right:12px;
	line-height:25px;
	color: #FFFFFF;
}


/* tabset widget */

.iw-base-tab-up-left
{   
  	background:transparent url(../images/tabs-sprite.gif) no-repeat 0 -51px;
    padding-left: 8px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 0 0px;   
}

.iw-base-tab-up-mid
{
    background:transparent url(../images/tabs-sprite.gif) repeat-x 0 -151px;
	  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.iw-base-tab-up-right
{
    background:transparent url(../images/tabs-sprite.gif) no-repeat right -301px;
    padding-right:5px;
}

.iw-base-tab-up-text
{
	font-size: 12px;
    color: #001b54;
    font-weight:bold;
    padding:4px 0;
    padding-right:5px;
}

.iw-base-tab-down-left
{
    background:transparent url(../images/tabs-sprite.gif) no-repeat 0 -51px;
    padding-left: 8px;
    background-attachment: scroll;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #8399c7;
    background-repeat: no-repeat;
    background-position: 0 -51px;
}

.iw-base-tab-down-mid
{
    background: transparent url(../images/tabs-sprite.gif) repeat-x 0 -201px;
    border-bottom: 1px solid #8399c7;
     -x-system-font:none;
    color:#1B346C;
    font-size:12px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    line-height:normal;
    padding:1px 2px 1px 0;
}

.iw-base-tab-down-right
{
    background: transparent url(../images/tabs-sprite.gif) no-repeat right -351px;	
  	background-attachment: scroll;
  	padding-right: 8px;
  	border-bottom: 1px solid #8399c7;
}

.iw-base-tab-down-text
{
    font-size: 12px;   
    text-decoration: none;
    white-space: nowrap;
    color: #1B346C;
    padding: 0;
}


.iw-base-tab-down-text-disabled
{
    font-size: 12px;
    color: #1B346C;
    white-space: nowrap;
    padding: 4px 0;
}

/*Tab styles in component properties window*/
#propertyTabSet {
	height: 28px !important;
}
#propertyTabSet table{
	padding-left: 10px;
}
#propertyTabSet .iw-base-tab-up-left
{   
  	background:transparent url(../images/tabs-sprite-732.gif) no-repeat 0 0;
	height: 28px;
}

#propertyTabSet .iw-base-tab-up-mid
{
    background:transparent url(../images/tabs-sprite-732.gif) repeat-x 0 -151px;
	height: 28px;
	padding: 0;
}

#propertyTabSet .iw-base-tab-up-right
{
    background:transparent url(../images/tabs-sprite-732.gif) no-repeat right -302px;
	height: 28px;
	padding: 0 5px 0 0;
}

#propertyTabSet .iw-base-tab-down-left
{
    background:transparent url(../images/tabs-sprite-732.gif) no-repeat 0 -51px;
	height: 28px;
    border-color: #d7d9dd;
}

#propertyTabSet .iw-base-tab-down-mid
{
    background: transparent url(../images/tabs-sprite-732.gif) repeat-x 0 -202px;
	height: 28px;
    border-color: #d7d9dd;
	padding: 0;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#propertyTabSet .iw-base-tab-down-right
{
    background: transparent url(../images/tabs-sprite-732.gif) no-repeat right -353px;	
	height: 28px;
    border-color: #d7d9dd;
	padding: 0 5px 0 0;
}
#propertyTabSet .iw-base-tab-extend{
	border-color: #d7d9dd;
}
#propertyTabSet .iw-base-tab-up-text
{
    color: #777b7b;
    white-space: nowrap;
}

#propertyTabSet .iw-base-tab-down-text
{
    color: #777b7b;
}

#propsTable .winFont span{
	color: #5d6262 !important;
	font-weight: normal;
}

#propsTable .grayborder{
	color: #5d6262 !important;
	font-weight: normal !important;
}
#propsTable .grayborder input{
	margin-right: 5px;
}

#propsTable .grayborder td.header{
	font-weight: normal;
}
#propsFooterButtons{
	border-top: 1px solid #D7D9DD;
    padding-top: 5px;
}

#propsFooterButtons .iw-base-button-frame {
    background: url("/iw-cc/ccpro/images/button/BtnActionsLeft.png") no-repeat scroll left center transparent !important;
	margin-top: 5px;
    height: 29px;
}

#propsFooterButtons .iw-base-button-middle1 {
	height: 29px;
}

#propsFooterButtons .iw-base-button-right1 {
	height: 29px;
}

#propsHeader .iw-base-heading {
    background-image:none;
    padding-left: 5px;
}

#propsFormDiv a.iw-base-actionlist-link:hover, #propsFormDiv .iw-base-actionlist-link{
	color: #5d6262;
}

#propsFooterButtons a.iw-base-button{
	border: none !important;
	padding: 6px 8px 4px 6px !important;
	margin-top: 3px !important;
	margin-left: 3px !important;
}
/*Style properties for advanced search window*/
#advanced_search_body .iw-base-heading2{
	border-color: #CCCCCC;
}

#advanced_search  input.iw-base-textbox{
	padding: 0;
	height: 19px !important;
}

#advanced_search_tabs td.iw-base-tab-up-left, .nextGenTagUI_tabs td.iw-base-tab-up-left, #tagui_main  td.iw-base-tab-up-left
{   
  	background:transparent url(../images/tabs-sprite-732.gif) no-repeat 0 0;
	height: 28px;
}

#advanced_search_tabs  td.iw-base-tab-up-mid, .nextGenTagUI_tabs  td.iw-base-tab-up-mid, #tagui_main  td.iw-base-tab-up-mid
{
    background:transparent url(../images/tabs-sprite-732.gif) repeat-x 0 -151px;
	height: 28px;
	padding: 0;
}

#advanced_search_tabs  td.iw-base-tab-up-right, .nextGenTagUI_tabs  td.iw-base-tab-up-right, #tagui_main  td.iw-base-tab-up-right
{
    background:transparent url(../images/tabs-sprite-732.gif) no-repeat right -302px;
	height: 28px;
	padding: 0 5px 0 0;
}

#advanced_search_tabs  td.iw-base-tab-down-left, .nextGenTagUI_tabs  td.iw-base-tab-down-left, #tagui_main  td.iw-base-tab-down-left
{
    background:transparent url(../images/tabs-sprite-732.gif) no-repeat 0 -51px;
	height: 28px;
    border-color: #d7d9dd;
}

#advanced_search_tabs  td.iw-base-tab-down-mid, .nextGenTagUI_tabs  td.iw-base-tab-down-mid, #tagui_main  td.iw-base-tab-down-mid
{
    background: transparent url(../images/tabs-sprite-732.gif) repeat-x 0 -202px;
	height: 28px;
    border-color: #d7d9dd;
	padding: 0;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#advanced_search_tabs  td.iw-base-tab-down-right, .nextGenTagUI_tabs  td.iw-base-tab-down-right, #tagui_main  td.iw-base-tab-down-right
{
    background: transparent url(../images/tabs-sprite-732.gif) no-repeat right -353px;	
	height: 28px;
    border-color: #d7d9dd;
	padding: 0 5px 0 0;
}
#advanced_search_tabs  td.iw-base-tab-extend, .nextGenTagUI_tabs  td.iw-base-tab-extend, #tagui_main  td.iw-base-tab-extend{
	border-color: #d7d9dd;
}
#advanced_search_tabs  span.iw-base-tab-up-text, .nextGenTagUI_tabs span.iw-base-tab-up-text, #tagui_main span.iw-base-tab-up-text
{
    color: #777b7b;
    white-space: nowrap;
}

#advanced_search_tabs  span.iw-base-tab-down-text a, .nextGenTagUI_tabs span.iw-base-tab-down-text a, #tagui_main span.iw-base-tab-down-text a{
    color: #777b7b;
}
#advanced_search_heading  table.iw-base-heading {
    padding-left: 5px;
	margin-bottom: 10px;
	border: 1px solid #999999;
}

#advanced_search_heading td.iw-base-heading-title, #save-search-window  td.iw-base-heading-title{
	font-size: 14px !important; 
	color: #7D8181 !important;
}

#advanced_search_footer table.iw-base-hr{
	border-color: #d7d9dd;
	padding-top: 2px;
}

#advanced_search_footer .iw-base-button-frame {
    background: url("/iw-cc/ccpro/images/button/BtnActionsLeft.png") no-repeat scroll left center transparent !important;
    height: 29px;
	padding-left: 4px;
	margin-right: 10px;
}

#advanced_search_footer .iw-base-button-middle1 {
	height: 29px;
	background: url("/iw-cc/ccpro/images/button/BtnActionsMiddle.png") repeat-x scroll left center transparent !important;
	border: none;
}

#advanced_search_footer .iw-base-button-right1 {
	height: 29px;
	background: url("/iw-cc/ccpro/images/button/BtnActionsRight.png") no-repeat scroll right center transparent !important;
	border: none;
}

#advanced_search_footer .iw-base-actionlist-link, #advanced_search_footer a.iw-base-button-disabled{
	background: none repeat scroll 0 0 transparent;
	border: none;
	padding: 6px 8px 0 3px;
}


#list_saved_search_footer  {
	border-color: #d7d9dd;
	padding-top: 5px;
	margin-top: -5px;
}

#list_saved_search_body{
	margin-top: -2px;
}

.iw-base-tab-extend
{
	border-bottom:1px solid #8399c7;
	width:100% !important;
}


.iw-base-tab-spacer
{
    width:2px;    
    border-bottom: 1px solid #8399c7;        
}

/* tips widget */

.iw-base-div-help
{
    background-image: url(../images/bg_iw-base-div-help.gif);
    background-repeat: repeat-y;
}

.iw-base-link-help
{
    font-size: 12px;
    font-weight: normal;
    color: #003366;
    text-decoration: none;
    cursor:pointer;
}

a.iw-base-link-help:hover
{
    font-size: 12px;
    font-weight: normal;
    color: #003366;
    text-decoration: underline;
}

/* dialog footer and infobox */
#yesnocanceldialog .iw-base-hr tbody tr td table
{
	margin: 0px auto;
	_margin-right: 45px;
    margin-top: 5px;
}

.iw-base-hr
{
	border-top: 1px solid #8399C7;
}

.iw-base-hr-bottom
{
    border-bottom: 11px solid #666;
}

.iw-base-infobox-details 
{
    font-size: 12px;
    color: #333333;
    text-decoration:none; 
    font-weight: normal;
}

.iw-base-note
{
    border: solid 1px #00AFEF;
    background-color: #C5EDFB;
}

.iw-base-notetext
{
    font-size: 12px;
    font-weight: normal;
    color: #333333;
}

.iw-base-notetextbold
{
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}

.iw-base-text-no-content
{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
	padding-top:5px;
}

/* some of the overall class for main pages (may become widget later on) */

.iw-base-text-banner
{
  	font-size: 12px; 
  	color: #666666; 
}

.iw-base-link-banner
{
    font-weight: normal;
    font-size: 12px;
    color: #666666;
    text-decoration: none;
    cursor:pointer;
}

a.iw-base-link-banner:hover
{
    font-weight: normal; 
    font-size: 12px; 
    color: #666666; 
    text-decoration: underline
}

.iw-base-link-banner-disabled
{
    font-weight: normal;
    font-size: 12px;
    color: #999999;
    text-decoration: none;
    cursor: default;
}

.iw-base-body-daughter
{
    margin: 5px; 
}

.iw-base-palette-left
{
    background-image: url(../images/palette_leftmid.gif); 
    background-repeat: repeat-y; 
    background-color: #ffffff;
}

.iw-base-palette-right
{
    background-image: url(../images/palette_rightmid.gif); 
    background-repeat: repeat-y; 
    background-color: #ffffff;
}

.iw-base-palette-top
{
    background-image: url(../images/palette_topmid.gif); 
    background-repeat: repeat-x; 
    background-color: #ffffff;
}

.iw-base-palette-bottom
{
    background-image: url(../images/palette_botmid.gif); 
    background-repeat: repeat-x; 
    background-color: #ffffff;
}

/* determines the look and feel for the labels of fields which
   are required / failed validation. */
.iw-base-error-label
{
    font-size: 12px;
    font-weight: normal;
    color:#903;
}

/* determines the look and feel for the labels of field widgets which
   are required / failed validation. */
.iw-base-error-field
{
    background-color:#f8edf0;
    color: #000000;
    border: 1px #903 solid;
    padding:2px;
    font-size: 12px;
}

/* determines the look and feel for the labels of fields which
   are required / failed validation. */
.iw-base-error-div
{
    font-size: 12px;
    font-weight: bold;
    color:#903;
    background-color: #ffffff;
    padding: 0px;
    border: 2px #666666 solid;
    z-index: 150;
}

/* hierbrowser */

.iw-base-hierbrowser-file-frame
{
    border: 1px solid #666666;
    cursor: default;
}

.iw-base-hierbrowser-row-even 
{
    background: #f0f3f7;
    cursor: default;
}

.iw-base-hierbrowser-row-odd 
{
    background: #ffffff;
    cursor: default;
}

.iw-base-hierbrowser-row-even-selected
{
    background: #AABBCC;
    cursor: default;
}

.iw-base-hierbrowser-row-odd-selected
{
    background: #AABBCC;
    cursor: default;
}

.iw-base-hierbrowser-row-even-highlighted
{
    background: #ccddee;
    cursor: default;
}

.iw-base-hierbrowser-row-odd-highlighted
{
    background: #ccddee;
    cursor: default;
}

/* tree */

.iw-base-tree-node
{
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #333333;
    background-color: #ffffff;
    z-index: 50;
    padding-top: 2px;
    padding-bottom: 2px;
}

.iw-base-tree-node-hover
{
  	font-size: 12px;
  	font-weight: normal;
  	text-decoration: none;
  	color: #333333;
  	background-color: #EEEEEE;
  	z-index: 50;
  	padding-top: 2px;
  	padding-bottom: 2px;  
}

.iw-base-tree-node-disabled
{
    a span{color:gray!important;}
}

.iw-base-tree-node-hover-disabled
{
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #999999;
    background-color: #EEEEE;
    z-index: 50;
    padding-top: 2px;
    padding-bottom: 2px;
}

.iw-base-tree-node-selected
{
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #333333;
    background-color: #D9E8FB;
    z-index: 50;
    padding-top: 2px;
    padding-bottom: 2px;
}

.iw-base-tree-icon
{
    border: 10px;
    margin-right: 4px;
}


/* horizontal divider - line */
.iw-base-horizontal-divider
{
    background-color: #fff;
    height: 11px;    
    border-bottom: 1px solid #8399C7
}

/* Visual Annotate */

.iw-base-plain-text
{
    font-size: 12px;
    font-weight: normal;
    color: #000000;
}

.iw-base-plain-link
{
    font-size: 12px; 
    color: #003366; 
    text-decoration:underline; 
    font-weight: normal;
    cursor:pointer;
}

.iw-base-buttonrow
{
    position:absolute;
    bottom:10px;
}

/* Form Elements */

.iw-base-textbox
{    
    background:#FFFFFF url(../images/text-bg.gif) repeat-x scroll 0% 0%;
    border:1px solid #B5B8C8;
    margin-bottom:0 !important;
    font-size:12px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    margin:0px;
}

.iw-base-textbox-disabled
{
    background:#FFFFFF url(../images/text-bg.gif) repeat-x scroll 0% 0%;
    border:1px solid #B5B8C8;
    margin-bottom:0 !important;
    font-size:12px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    margin:0px;	
}

.iw-base-textarea
{
    background:#FFFFFF url(../images/text-bg.gif) repeat-x scroll 0% 0%;
    border:1px solid #B5B8C8;
    margin-bottom:0 !important;	
    font-size:12px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    margin:0px;	
}

.iw-base-text-step
{
    font-size: 12px;
    font-weight: underline;
    color: #000000;
}

.iw-base-text-stepbold
{
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.iw-base-text-stepnum
{
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.iw-base-text-sub-step
{
    font-size: 12px;
    font-weight: normal;
    color: #000000;
}

.iw-base-text-sub-stepbold
{
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.iw-base-help-box
{
    border-bottom-color: none;
    border-left-color: #8399c7;
    border-right-color: none;
    border-top-color: none;
    border-bottom-style: none;
    border-left-style: solid;
    border-right-style: none;
    border-top-style: none;
    border-bottom-width: none;
    border-left-width: 1px;
    border-right-width: none;
    border-top-width: none;
    background-color: none;
}

.iw-base-text-field-label
{
    font-size: 12px;
    font-weight: normal;
    color: #000000;
}

.iw-base-text-field-label-bold
{
    font-size: 12px;
    font-weight: normal;
    color: #000000;
}

.iw-base-text-field-info
{
    font-size: 12px;
    color: #666666;
}

.iw-base-text-field-data
{
    font-size: 12px;
    color: #333333;
}

.iw-base-text-field-link
{
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #003366;
    cursor:pointer;
}

.iw-base-text-field-link-disabled
{
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #999999;
    cursor: default;
}

a.iw-base-text-field-link:hover
{
    font-size: 12px;
    color: #003366;
    text-decoration: underline;
    font-weight: normal;
}

/* common styles */
.iw-base-background-color
{
    background-color: #ffffff;
}

.iw-base-background 
{
    background-attachment: fixed; 
    margin: 0; /* https://jira.autonomy.com/browse/TS-17017 */ 
    background-repeat: repeat-x; 
    background-color: #ffffff;
}

.iw-base-background-no-margin
{
    font-size: 12px;
    color: #000000;
    background-color: #ffffff;
    margin: 0px;
}

/* calendar widget */
.iw-base-calendar-body
{
    margin: 10px;
    background-color: #ffffff;    
}

.iw-base-calendar-month
{
    font-size: 12px;
    color: #333333;
    text-decoration: none;
}

.iw-base-calendar-day
{
    font-size: 12px;
    color: #333333;
    font-weight: bold;
    text-decoration: none;
}

.iw-base-calendar-date
{
    font-size: 12px;
    color: #003366;
    text-decoration:none;
    border: solid #ffffff 1px;
    padding: 3px;
    margin: 2px;
}

a.iw-base-calendar-date:hover
{
    font-size: 12px;
    color: #003366;
    text-decoration:underline;
    background-color: #eaeef4;
    border: solid #999999 1px;
    padding: 3px;
}

.iw-base-calendar-today
{
    font-size: 12px;
    color: #003366;
    text-decoration:none;
    border: solid #ffffff 1px;
    padding: 3px;
    font-weight: bold;
}

a.iw-base-calendar-today:hover
{
    font-size: 12px;
    color: #003366;
    text-decoration:underline;
    background-color: #eaeef4;
    border: solid #999999 1px;
    padding: 3px;
    font-weight: bold;
}

.iw-base-calendar-date-select
{
    font-size: 12px;
    color: #003366;
    text-decoration:none;
    background-color: #A7C3DF;
    border: solid #888888 1px;
    padding: 3px;
    font-weight: normal;
}

a.iw-base-calendar-date-select:hover
{
    font-size: 12px;
    color: #003366;
    text-decoration:underline;
    background-color: #eaeef4;
    border: solid #999999 1px;
    padding: 3px;
    font-weight: normal;
}

/* HEADING LEVEL 2 */

/* Used to set background, border, and other attributes of headings. */
.iw-base-heading2
{
    background-color: #fff;    
    border-bottom: 1px solid #8399C7;
    margin-bottom: 2px;
    height: 25px;
    white-space: nowrap;
}

/* Used to set attributes of text labels in headings. */

.iw-base-heading2-title
{
    font-size: 12px;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    margin-left:5px;
}

/* Used for the right justified links in headings and subheadings. Headings are used in CCPro and CCStandard and subheadings are used in task details. */

.iw-base-heading2-link
{
    font-size: 12px;
    color: #333333;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
}

/* Used for link mouse rollover of the right justified links in headings and subheadings. */

a.iw-base-heading2-link:hover
{
    font-size: 12px;
    color: #333333;
    text-decoration: underline;
    font-weight: normal;
}

/* Used for disabled links in the right justified links in headings and subheadings. Links are disabled when an option is unavailable or you don't have access rights. */

.iw-base-heading2-link-disabled
{
    font-size: 12px;
    color: #999999; 
    text-decoration: none;
    cursor: default;
    font-weight: normal;
}

/* Used for links in headings that need to be bold. For example, they are used in the main menu links in CCPro. */
.iw-base-heading2-link-bold
{
    font-size: 12px;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    cursor:pointer;
}

/* Used for mouse rollover of links in headings that need to be bold. For example, they are used in the main menu links in CCPro. */

a.iw-base-heading2-link-bold:hover
{
    font-size: 12px;
    color: #333333;
    text-decoration: underline;
    font-weight: bold;
}

/* Used for disabled links in headings that need to be bold. For example, they are used in the main menu links in CCPro. Links are disabled when an option is unavailable or you don't have access rights. */

.iw-base-heading2-link-bold-disabled
{
    font-size: 12px;
    color: #999999; 
    text-decoration: none;
    cursor: default;
    font-weight: bold;
}

/* Used for hover help*/

.iw-base-hover-help
{
    position: absolute;
    visibility: hidden;
    z-index: 100;
    border: solid 1px #ddb;
    background-color: #ffe;
    font-size: 121px;
    padding: 2px;
    font-weight: normal;
    color: #333333;
}

/*Header Properties - adding here to avoid conflict */
.iw-ccpro-tab-header
{
	background:transparent url(../images/HeaderBg.png) repeat;
	height:85px;
}

.iw-base-listview-header-lined-nowrap
{
	background-image: url(../images/titlebarbg.png);
}


/**Custom Rule**/

.iw-ccpro-ui-background .iw-base-listview-overall-table {
	border-collapse: collapse !important;
}
.iw-base-background .iw-base-listview-overall-table {
	border-collapse: collapse;
}

.iw-ccpro-ui-background-top .x-tip .x-tip-tl, .iw-ccpro-ui-background-top .x-tip .x-tip-tc, .iw-ccpro-ui-background-top .x-tip .x-tip-tr{
	height: 3px;
}

/** multifile tagui **/

tr.iw-tagui-fields-column table a
{
	color:#5D6262 !important;
}

.inline-msg-box .iw-base-hr tr td
{
    padding: 2px;    
}

