@media (min-width: 768px) {
    #Name {
        width: 44% !important;
    }
    #officeNumber {
        width: 45%;
    }
    #mobileNumber {
        margin-top: 0px !important;
        margin-left: 0px !important;
        width: 72%;
    }
    #pin {
        width: 10%;
    }
    .modal {
        top: 50% !important;
    }
    .modal .btn {
        width: initial;
    }
    #modalWindow_shareholder #Name,
    #modalWindow_shareholder #Occupation {
        width: 51% !important;
    }
    #modalWindow_shareholder #Experience {
        width: 57% !important;
    }
    #modalWindow_companyBorrow .control-label {
        margin-top: 5px !important;
    }
    /*#pin {    width: 50% !important;}*/
    #areaCode {
        width: 25% !important;
    }
    .selectedView p:nth-child(3) {
        clear: both;
        padding-right: 10px;
    }
    .selectedView input[type="text"] {
        width: 62px;
    }
    .icn-phone p {
        clear: both;
        white-space: initial !important;
    }
    .get-in-touch {
        width: 100%;
    }
    .icn-phone {
        height: initial !important;
    }
    .git-container {
        margin-right: -9.5%;
    }
    .control-group .labels .control-label {
        text-align: right !important;
        margin-top: 5px !important;
    }
    #submit-txtarea {
        width: 88% !important;
    }
    #fixedDeposit_Div .controls label:first-child {
        clear: initial !important;
    }
    .ContinueSavedApplication_DIV .labels {
        margin-top: -10px !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .collateral_div input[type=text],
    .facility_div input[type=text] {
        width: 46% !important;
    }
    /*input.calender {
        margin-right: 0 !important;
    }
    #Building,
    #Street,
    #br,
    #ci,
    #netProfit,
    #salesturn,
    #District,
    #companytype,
    #emailAddress,
    #companyName,
    #turnover {
        width: 80% !important;
    }
    #dateOfBusinessCommenced,
    #incorporation {
        width: 59% !important;
    }
    #savedApplication_No {
        width: 40% !important;
    }*/
    .labels {
        width: 135px !important;
    }
    .controls {
        margin-left: 145px !important;
    }
    #fixedDeposit_Div label.noMTop:nth-child(3) {
        float: right;
        clear: initial !important;
    }
    #property_DIV .block {
        width: 68px !important;
    }
    #EquipmentDetails_DIV .select-wrapper {
        width: 91% !important;
    }
    #upload_DIV .input-file {
        width: 70% !important;
    }
    .modal {
        left: 43%;
    }
}

@media (max-width: 767px) {
    .modal {
        width: 315px !important;
        margin: 50px 0 0 -154px !important;
        top: 0%!important;
        max-height: 500px !important;
    }
    .modal.small {
        left: 45%!important;
        /*added to fix confirmation popup */
        top: 10%!important;
    }
    #Name {
        width: 83% !important;
    }
    #officeNumber {
        margin-top: 0px !important;
        margin-left: 0px !important;
        width: 72%;
    }
    #mobileNumber {
        margin-top: 0px !important;
        margin-left: 0px !important;
        width: 50%;
    }
    /*#pin {
        width: 10% !important;
    }*/
    .span8 .form-horizontal .control-group {
        margin-bottom: 10px !important;
    }
    .control-group .labels {
        float: none !important;
        width: 100% !important;
    }
    .control-group .labels .control-label {
        float: none !important;
    }
    .form-horizontal .btn {
        margin-bottom: 10px;
        display: inline-block;
    }
    .btn,
    .btn-primary {
        display: block;
        float: none;
    }
    .control-group .labels {
        float: none !important;
        width: 100% !important;
    }
    .control-group .labels .control-label {
        float: none !important;
    }
    .control-group .controls {
        margin: 0 0 0 0 !important;
    }
    .form-horizontal .control-group {
        margin-bottom: 0px !important;
    }
    #pre-loan {
        width: 100%;
    }
    #confirmation {
        margin-top: 10px;
    }
    #progress-bar {
        display: none !important;
    }
    #savenexit {
        width: 100%;
        float: left !important;
    }
    #business {
        width: 100%;
    }
    #term-loan {
        margin-left: -13px !important;
    }
    #loanReq {
        width: 100%
    }
    #submit-buss-btn {
        width: 100%;
        float: none !important;
    }
    #save-buss-btn {
        width: 100%;
        float: left !important;
    }
    #confirm {
        width: 100%;
        float: none !important;
    }
    #submit-coll-btn {
        width: 100%;
        float: none !important;
    }
    #save-coll-btn {
        width: 100%;
        float: left !important;
    }
    #save-sub-btn {
        width: 100%;
        float: left !important;
    }
    #span8 .control-group .labels .confirmation-label {
        text-align: left !important;
    }
    #span8 h3 {
        font-size: 22px !important;
    }
    #save-conf-btn {
        width: 100%;
        float: left !important;
    }
    #sub-conf-btn {
        width: 100%;
        float: none !important;
    }
    .CollateralDetails {
        margin-top: 30px;
    }
    .BusinessDetails {
        margin-top: 20px;
    }
    #modalWindow-confirmation {
        width: 294px !important;
        margin: 0px 0 0 -143px !important;
    }
}

@media (max-width:480px) {
    #pin {
        width: 23% !important;
    }
    .select-dependent #Name {
        width: 45% !important;
    }
    #mobileNumber {
        width: 70%;
    }
}

#header-mobile .main-navigation-phone .logo {
    background-image: url("../../images/logos/dbs-mobile.png");
}

html {
    background-image: url("../../images/backgrounds/page-background.png");
}

#overlay {
    background: url(../../images/img_overlay_bg.png) repeat;
}

.arrow-down,
.arrow-down-white {
    background-image: url('../../images/icons-s0099f5f8a7.png');
}

.global-footer .right-section .icn-youtube {
    background: url(../../images/footer-social-media/icon-youtube.png) no-repeat;
}

.main-navigation ul li {
    background: url('../../images/backgrounds/nav-background.png');
}

.posb .get-in-touch .title.icn-phone .git-icn-linked-in {
    background: url(../../images/get-in-touch-social-media/posb_icon-linkedin.png) 0 4px no-repeat;
}

.posb .get-in-touch .title.icn-phone .git-icn-linked-in {
    background: url(../../images/get-in-touch-social-media/posb_icon-twitter.png) 0 4px no-repeat;
}

.posb .get-in-touch .title.icn-phone .git-icn-linked-in {
    background: url(../../images/get-in-touch-social-media/posb_icon-facebook.png) 0 4px no-repeat;
}

#header-mobile a.pull-left.icn-mobile-nav-menu.mobile-trigger {
    background-image: url('../../images/icons-s0099f5f8a7.png');
}

#mobile-lang-country-section {
    background-image: url('../../images/icons-s0099f5f8a7.png');
}

.mobile-trigger-searchbox {
    background-image: url('../../images/icons-s0099f5f8a7.png');
}

.icn-mobile-nav-menu {
    background-image: url('../../images/icons-s0099f5f8a7.png');
}

input[type="checkbox"]:checked:after {
    top: -2px!important;
    left: 2px!important;
}

.GIT-container.staticGIT {
    width: 100%;
    position: relative;
    right: 0;
}

body.noscroll,
html.noscroll {
    overflow: hidden !important;
    position: fixed;
}