/*/////////     Desktop.css Styles     /////////*/

.info-note {
    padding: 10px 15px;
    margin: 10px 0px;
    background-color: #F4F0EA;
    border: none;
    /* border-top:  1px solid #666363; */
    border-bottom: 2px solid #E6D9CA;
}

.terms-conditions {
    padding: 0px 20px;
}

.padbtm20 {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.infoForm h1 {
    margin: 30px 0 0 0;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 5px 35px 4px 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: top;
}

.eforms .homeAlert {
    margin: 0 -20px 10px -20px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: black;
    background-color: #F0F0F0;
    border-color: #CCC;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
}

.eforms .medium {
    font-size: 14px;
}

.eforms .muted-info {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #c09853 !important;
}

.eforms .control-group {
    overflow: hidden;
}

.form-holder {
    margin: 20px 0px;
}

.supplementaryCardYesSection ol li {
    list-style-type: lower-alpha;
}


/* padding space - 0px */

.eforms .paddingT0 {
    padding-top: 0px !important;
}

.eforms .paddingR0 {
    padding-right: 0px !important;
}

.eforms .paddingB0 {
    padding-bottom: 0px !important;
}

.eforms .paddingL0 {
    padding-left: 0px !important;
}


/* margin space - 0px */

.eforms .marginT0 {
    margin-top: 0px !important;
}

.eforms .marginR0 {
    margin-right: 0px !important;
}

.eforms .marginB0 {
    margin-bottom: 0px !important;
}

.eforms .marginL0 {
    margin-left: 0px !important;
}


/* margin space - 10px */

.eforms .marginT10 {
    margin-top: 10px !important;
}

.eforms .marginR10 {
    margin-right: 10px !important;
}

.eforms .marginB10 {
    margin-bottom: 10px !important;
}

.eforms .marginL10 {
    margin-left: 10px !important;
}


/* margin space - 20px */

.eforms .marginT20 {
    margin-top: 20px !important;
}

.eforms .marginR20 {
    margin-right: 20px !important;
}

.eforms .marginB20 {
    margin-bottom: 20px !important;
}

.eforms .marginL20 {
    margin-left: 20px !important;
}


/*/////////     CSS arrows Styles     /////////*/

.arrow-up,
.arrow-down,
.arrow-right,
.arrow-left {
    width: 0;
    height: 0;
    margin-left: 200px;
    margin-top: -25px;
}

.arrow-up {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #E4E4E4;
}

.arrow-down {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #E4E4E4;
}

.arrow-right {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #E4E4E4;
}

.arrow-left {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #E4E4E4;
}

.border-red {
    border-bottom: 2px solid #C00;
    margin: 15px 0;
}


/* more links */

.morelinkSection {
    overflow: hidden;
    margin: 0px 0px 20px;
}

.morelinkSection .icn-arrow-red {
    background-position: 0 -1431px;
    height: 14px;
    width: 8px;
}

.morelinkSection a.launch {
    margin-top: 0px;
}


/*/////////     Progress Bar Styles     /////////*/

#progress-bar {
    display: block;
}

#progress-bar ul.five-steps li {
    width: 20%;
}

#progress-bar {
    padding: 10px 0px;
    border-bottom: 1px solid #D3D3D3;
    margin: 10px 0px;
}

#progress-bar ul {
    font-size: 0px;
    /* fix for display inline-block white space issue on li */
    line-height: normal;
    margin: 0;
    padding: 0;
}

#progress-bar ul li {
    font-size: 14px;
    display: inline-block;
    list-style-type: none;
    text-align: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 19.99%;
}

#progress-bar ul li a {
    cursor: default;
    text-decoration: none;
    color: #808080;
}

#progress-bar ul li.active a {
    color: #cc0000;
    /*font-weight: 700;*/
    font-weight: 400\0;
}

#progress-bar ul li.visited a {
    color: #8A0808;
}

#progress-bar ul li.active:hover a,
#progress-bar ul li.visited:hover a {
    color: #C00;
}

#progress-bar ul.complete li a,
#progress-bar ul.complete li.active a,
#progress-bar ul.complete li.visited a {
    color: #176226;
}

#progress-bar ul li div.breadcrumb-bar {
    height: 12px;
    padding-top: 5px;
}

#progress-bar ul li div.breadcrumb-bar {
    border-right: 1px solid #D3D3D3;
}

#progress-bar ul li:last-child div.breadcrumb-bar {
    border-right: none;
}

#progress-bar ul li div.breadcrumb {
    height: 5px;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

#progress-bar ul li:first-child div.breadcrumb {
    border-left: 1px solid #D3D3D3;
}

#progress-bar ul li:last-child div.breadcrumb {
    border-right: 1px solid #D3D3D3;
}

#progress-bar ul li.active div.breadcrumb {
    background-color: #cc0000;
}

#progress-bar ul li.visited div.breadcrumb {
    background-color: #8A0808;
}

#progress-bar ul.complete li div.breadcrumb {
    background-color: #176226;
}


/*/////////     Tab Section Animation Styles     /////////*/

.row-fluid [data-counter] {
    display: none;
    display: block;
    /*  Need to remove this line to hide section blocks and show on validation */
    ;
}

.row-fluid #sectionContainer .form-horizontal {
    padding-top: 0px;
}

.row-fluid #sectionContainer .control-group p.info-text {
    margin: 10px 0px 0px;
}

.row-fluid #sectionContainer .control-group .controls p.info-text {
    margin: 0px;
}

.row-fluid #sectionContainer .clearfix p.info-text {
    margin: 0px 0px 10px;
}

.form-horizontal h3.sec-title {
    font-size: 25px;
    font-weight: normal;
    border-bottom: 1px dotted #c1c1c1;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-bottom: 10px;
}


/*/////////     Validation Animation Styles for Error Messages     /////////*/

.eforms p.errorMessage {
    margin: 5px 0 0;
    font-size: 85%;
    font-weight: 400;
    color: #7F0000;
    display: none;
}

.eforms .control-group.valid p.errorMessage,
.eforms .control-group .controls.valid p.errorMessage {
    display: none;
}

.eforms .control-group.invalid p.errorMessage,
.eforms .control-group .controls.invalid p.errorMessage {
    display: block;
}

.eforms .eforms-customGroup.valid .control-group .controls p.errorMessage.globalErrorMessage {
    display: none;
}

.eforms .eforms-customGroup.invalid .control-group .controls p.errorMessage.globalErrorMessage {
    display: block;
}


/*/////////     Validation Animation Styles for Fields     /////////*/


/* TEL fields valid/invalid */

.eforms .controls.valid input[type=tel],
.eforms .controls.invalid input[type=tel],
.eforms .controls.valid input[type=tel]:focus,
.eforms .controls.invalid input[type=tel]:focus {
    border: 1px solid #CCC;
    color: #555;
    background-image: none;
}

.eforms .controls input[type=tel].valid,
.eforms .controls.valid input[type=tel].valid,
.eforms .controls.invalid input[type=tel].valid {
    color: #008000;
    background: #FFF url("../images/icn-green-check.png") no-repeat 100% 50%;
    border-color: #008000;
}

.eforms .controls input[type=tel].valid:focus,
.eforms .controls.valid input[type=tel].valid:focus,
.eforms .controls.invalid input[type=tel].valid:focus {
    border-color: #008000;
    color: #008000;
}

.eforms .controls input[type=tel].invalid,
.eforms .controls.valid input[type=tel].invalid,
.eforms .controls.invalid input[type=tel].invalid {
    color: #953B39;
    background: #FFF url("../images/icn-red-x.png") no-repeat 100% 50%;
    border-color: #953B39;
}

.eforms .controls input[type=tel].invalid:focus,
.eforms .controls.valid input[type=tel].invalid:focus,
.eforms .controls.invalid input[type=tel].invalid:focus {
    border-color: #953B39;
    color: #953B39;
}

.eforms .controls.valid label:first-child {
    color: #008000;
}

.eforms .controls.invalid label:first-child {
    color: #953B39;
}


/* type=[text/email/radio] fields valid/invalid */

.eforms .control-group.valid input,
.eforms .control-group label.valid input,
.eforms .control-group .controls.valid input {
    background: #FFF url("../images/icn-green-check.png") no-repeat 100% 50%;
    border-color: #008000;
}

.eforms .control-group.invalid input,
.eforms .control-group label.invalid input,
.eforms .control-group .controls.invalid input {
    background: #FFF url("../images/icn-red-x.png") no-repeat 100% 50%;
    border-color: #953B39;
}

.eforms .control-group .controls.valid input:focus,
.eforms .control-group label.valid input:focus,
.eforms .control-group.valid input:focus {
    color: #008000;
}

.eforms .control-group .controls.invalid input:focus,
.eforms .control-group label.invalid input:focus,
.eforms .control-group.invalid input:focus {
    color: #953B39;
}


/*.eforms .eforms-customGroup.valid .control-group .labels label:first-child*/

.eforms .control-group.valid input,
.eforms .control-group.valid select,
.eforms .control-group.valid label,
.eforms .control-group label.valid,
.eforms .control-group .controls.valid input {
    color: #008000;
}


/*.eforms .eforms-customGroup.invalid .control-group .labels label:first-child*/

.eforms .control-group.invalid input,
.eforms .control-group.invalid select,
.eforms .control-group.invalid label,
.eforms .control-group label.invalid,
.eforms .control-group .controls.invalid input {
    color: #953B39;
}


/* for radio option fiedls */

.eforms .control-group.valid input[type=radio],
.eforms .control-group.invalid input[type=radio] {
    background-image: none;
}

.eforms .control-group.success input[type=checkbox],
.eforms .control-group.error input[type=checkbox] {
    background-image: none;
}


/* calender icon for date filed */

.eforms .control-group input.calender,
.eforms .control-group.valid input.calender,
.eforms .control-group.invalid input.calender {
    background: #FFF url("../../images/calendar.png") no-repeat scroll 50% 50%;
}


/*/////////     Label Styles     /////////*/

.form-horizontal label.control-label {
    margin-top: 10px;
    font-weight: normal !important;
}

#sectionContainer.row-fluid [class*="span"] {
    /* margin-left: 0; */
    margin-bottom: 20px;
}

.control-group .controls .inputBoxLarge {
    width: 335px;
}

.mr5 {
    margin-right: 5px!important;
}

.mr10 {
    margin-right: 10px!important;
}

.mr20 {
    margin-right: 20px!important;
}

.ml5 {
    margin-left: 5px!important;
}

.ml10 {
    margin-left: 10px!important;
}

.noMTop {
    margin-top: 0!important;
}

.noMBtm {
    margin-bottom: 0!important;
}

.noMleft {
    margin-left: 0!important;
}

.noMRight {
    margin-right: 0!important;
}

.mTop-10 {
    margin-top: -10px!important;
}

.mTop-20 {
    margin-top: -20px!important;
}

.mLeft10 {
    margin-left: 10px!important;
}

.mRight10 {
    margin-right: 10px!important;
}

.mTop10 {
    margin-top: 10px!important;
}

.mBottom10 {
    margin-bottom: 10px!important;
}

.mLeft20 {
    margin-left: 20px!important;
}

.mRight20 {
    margin-right: 20px!important;
}

.mTop20 {
    margin-top: 20px!important;
}

.mTop30 {
    margin-top: 30px!important;
}

.mBottom20,
p.intro-text {
    margin-bottom: 20px!important;
}

.dotBottom {
    border-bottom: 1px dotted #ccc6c6;
    padding-bottom: 10px;
}


/*/////////     Field Styles     /////////*/

.control-group .controls input[type="checkbox"],
.control-group .controls input[type="radio"] {
    margin-left: 0px;
    margin-top: -5px;
}

.control-group label.controls {
    margin: 0px;
}

.control-group .controls label {
    margin-top: 10px;
    display: block;
    margin-right: 20px;
}

.control-group .controls label.radio-block input[type=radio] {
    margin-right: 5px;
}

#sectionContainer .control-group .controls label.radio {
    display: block;
    margin: 10px 20px 5px 0px;
    padding: 0px;
}

.eforms .control-group .controls label.radio-label {
    display: inline-block;
    padding: 0;
}

.eforms .control-group .controls label.radio-label input {
    margin-right: 5px;
    margin-top: -5px;
}

.control-group .controls label.radio input[type="radio"] {
    margin-top: -3px;
}

.control-group.radio p.muted {
    margin-top: 5px;
    margin-bottom: 15px;
}

.control-group .controls label span:nth-child(2) {
    /* padding-left: 15px; */
    ;
}


/* for group address field */

.control-group .controls.HLU .control-label-field-group label {
    display: inline-block;
    margin-top: 0px;
}

.control-group .controls.HLU .control-label-field-group label input {
    clear: both;
    float: none;
    display: block;
    margin: 0;
}

.control-group .controls.HLU {
    overflow: hidden;
    margin-top: 10px;
}

.control-group .controls.HLU .errorMessage {
    clear: both;
}


/*
.control-group .controls label.HLU {
    margin-top: 0px;
}

.control-group .controls label.HLU span {
    width: 125px;
    display: inline-block;
    padding-left: 0px;
}*/


/* end for group address field */

.control-group .controls ul {
    margin-left: 0px;
    list-style: none;
}

.form-horizontal h3.sec-title {
    font-size: 25px;
    font-weight: normal;
}

.form-horizontal h3.sec-title .btn {
    margin-bottom: 0px;
}


/*.form-horizontal #SelectedCardSection h4.cardLabel{min-height: 40px;}*/

.form-horizontal .selctedCard h4.cardLabel {
    min-height: 40px;
}

.form-horizontal #labelValueSection .control-group {
    margin-bottom: 10px;
}

.form-horizontal #labelValueSection .control-group label.control-label {
    margin: 0px;
    padding: 0px;
}

.form-horizontal #labelValueSection .control-group .controls label {
    margin: 0px;
}

.form-horizontal .control-group .controls .top65 {
    margin-top: 25px;
}

.normalText {
    font-size: 14px;
    font-weight: normal;
}

.left20 {
    margin-left: 20px;
}

.selctedCard {
    margin-bottom: 20px;
}

.selctedCard [class*="span"] {
    margin-left: 20px !important;
}

.selctedCard [class*="span"]:first-child {
    margin-left: 0px !important;
}

.selctedCard .span9 .span4 {
    margin-left: 0px !important;
}


/*.selctedCard .span9 .span5 p.muted.clearfix {
    margin-top: 10px !important;
}
*/


/*Addition by Anand to incorporate CTS document standards starts here*/

.control-group .labels {
    float: left;
    width: 220px;
    margin: 0 2% 0 0;
}

.control-group .labels .control-label {
    display: block;
    float: none;
    text-align: right;
    width: auto;
    vertical-align: middle;
    margin: 10px 0 0 0;
    padding: 0;
}

.control-group .labels .muted {
    display: block;
    float: none;
    text-align: right;
    margin: 0;
    line-height: 16px;
    color: #999494;
    font-size: 12px;
    font-weight: normal;
}

.control-group .controls {
    margin: 0 0 0 240px;
}

.eforms .control-group input,
.eforms .control-group .customDropdown {
    margin: 0;
}

.eforms .control-group input[type=checkbox] {
    margin-top: -5px;
    margin-right: 5px;
    width: 16px!important;
    height: 16px!important;
    padding: 0;
}

.eforms .control-group .marginL20 {
    margin-left: 20px;
}

.eforms .control-group .marginR20 {
    margin-right: 20px;
}

.eforms .control-group .rightspace {
    margin-right: 20px;
}


/*/////////     Auto suggest Styles     /////////*/

.ui-autocomplete {
    font-size: 10px;
    width: 215px;
    height: 100px;
    overflow-y: auto;
    border-radius: 0px;
}

ul.ui-menu {
    padding: 1px;
    margin: 0;
}

.ui-autocomplete .ui-menu-item {
    border-bottom: 1px solid #CCC6C6;
}

.ui-autocomplete .ui-menu-item a {
    padding: 5px 5px 5px 15px !important;
}

ul.ui-corner-all {
    font-size: 90%;
    font-family: 'Frutiger', Arial, sans-serif;
    border-radius: 0px !important;
    border: 1px solid #CCC6C6 !important;
    background-color: #F4F0EA !important;
}

.ui-autocomplete .ui-menu-item a.ui-state-focus {
    padding: 5px 5px 5px 13px !important;
    border-radius: 0px;
    border: 0px solid #CCC6C6 !important;
    border-top: 1px solid #CCC !important;
    color: #C00 !important;
    border-bottom: 1px solid #CCC6C6 !important;
    border-left: 3px solid #C00 !important;
    cursor: pointer;
    /*border-top: 1px solid #666363 !important;
    border-bottom: 1px solid #666363 !important;*/
    background-color: transparent !important;
}

ul.ui-corner-all {
    scrollbar-face-color: #666363;
    scrollbar-arrow-color: #666363;
    scrollbar-track-color: #666363;
    scrollbar-shadow-color: #CCC;
    scrollbar-highlight-color: #CCC;
    scrollbar-3dlight-color: #CCC;
    scrollbar-darkshadow-Color: #CCC;
}

ul.ui-corner-all::-webkit-scrollbar {
    width: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(102, 99, 99, 1);
}

ul.ui-corner-all::-moz-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(102, 99, 99, 1);
}

ul.ui-corner-all::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(102, 99, 99, 1);
}

ul.ui-corner-all::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}


/*/////////     Toggle hide/show section Styles     /////////*/

.eforms .toggle-show-hide-container {
    margin-bottom: 20px;
    /* border-top: 1px dotted #666363; */
    border-bottom: 2px solid #E6D9CA;
    padding: 5px 0px;
    /*background-color: #F2F2F2 !important;*/
    background-color: #F4F0EA;
}

.eforms .toggle-show-hide-container .control-group .controls {
    padding-right: 1%;
}

.eforms .toggle-show-hide-container .control-group .labels {
    width: 22.5%;
    padding-left: 1%;
}

.eforms .toggle-show-hide-container .control-group.info-container {
    margin: 0px 0px;
}

.eforms .customDropdown {
    background-color: #FFF !important;
}


/* confirmation page */

.eforms h3.sec-title {
    font-size: 25px;
    font-weight: normal;
    border-bottom: 1px dotted #C1C1C1;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-bottom: 10px;
}

.eforms .confirmation .control-group {
    margin-bottom: 10px;
}

.control-group .labels .confirmation-label {
    display: block;
    text-align: right;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.controls .confirmation-value {
    margin: 0px!important;
}

.controls .confirmation-value ul {
    margin: 0;
    padding: 0;
    margin-top: -10px;
}

.controls .confirmation-value ul li {
    margin-left: 20px;
}

.controls .confirmation-value {
    display: block;
}

.eforms .confirmation .alert-error .small {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}

.eforms .confirmation .gray-box .small {
    color: #100F0F;
}

.gray-box {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FAFAFA;
    border: 1px solid #EEE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


/*======================================= CAPTCHA WIDGET - BEGIN =======================================*/

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?8365063');
    src: url('../fonts/fontello.eot?8365063#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?8365063') format('woff'), url('../fonts/fontello.ttf?8365063') format('truetype'), url('../fonts/fontello.svg?8365063#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

#captcha-widget.captcha {
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    max-width: 340px;
    min-height: 20px;
    /*margin: auto;*/
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0;
    -webkit-border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-border-radius: 0px;
    -moz-box-shadow: none);
}

.captcha .widget-top {
    display: table;
    margin-bottom: 10px;
}

.captcha .widget-top .image-container {
    background-color: #FFFFFF;
    border: 1px solid #666;
    min-height: 57px;
    min-width: 100px;
    width: 300px;
    height: 100%;
    max-width: 300px !important;
    display: table-cell;
    vertical-align: middle;
}

.captcha .widget-top .image-container .thumbnail {
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    display: block;
    line-height: 20px;
    padding: 0px;
    width: 100% !important;
    -webkit-border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-border-radius: 0px;
    -moz-box-shadow: none;
}

.captcha .widget-top .image-container .thumbnail a,
.captcha .widget-top .image-container .thumbnail a:hover {
    color: #CC0000;
    font-weight: normal;
}

.captcha .widget-top .image-container a.thumbnail:hover {
    text-decoration: none;
}

.captcha .widget-top .image-container a.thumbnail a:hover {
    text-decoration: underline;
}

.captcha .widget-top .captcha-icons-container {
    float: right;
    max-width: 40px;
    min-width: 40px;
    display: table-cell;
}

.captcha .widget-top .captcha-icons-container .btn {
    padding: 10px;
    margin-bottom: 0;
    text-shadow: none;
    cursor: pointer;
    background-color: #F4F0EA;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.captcha .widget-top .captcha-icons-container .btn:hover {
    text-decoration: none;
    background-color: #FCFCFC;
}

.captcha [class^="icn-"]:before,
[class*=" icn-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin: 0;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    color: #666363;
    height: 20px;
    width: 20px;
}

.icn-picture:before {
    content: '\31';
}


/* '1' */

.icn-headphones:before {
    content: '\32';
}


/* '2' */

.icn-refresh:before {
    content: '\33';
}


/* '3' */

.icn-question-sign:before {
    content: '\34';
}


/* '4' */

.captcha .widget-bottom {
    display: table;
    width: 100%;
}

.captcha .widget-bottom .input-recaptcha {
    width: 75%;
    margin-top: 10px;
}


/*======================================= CAPTCHA WIDGET - END =======================================*/


/*======================================= filter styles- start =======================================*/

.tabbed-nav {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    font-weight: 400\0;
    /* IE 8*/
    margin: 0 0 10px 0;
    padding: 0;
    color: #999494;
    /*display: inline-block;*/
    overflow: hidden;
    clear: both;
}

.tabbed-nav li:first-child {
    margin-left: 0;
}

.tabbed-nav li {
    margin: 0;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
    margin-left: -5px;
}

.tabbed-nav li.active {
    color: #7f0000;
    /*position: relative;*/
    border-bottom: 2px solid #C00;
}


/*.tabbed-nav li.active+li {
    border-left: 0
}

.tabbed-nav li.last-child {
    border-right: 1px solid #dedad5
}
*/

.tabbed-nav li.active>a {
    color: #7f0000;
    text-decoration: none;
}

.tabbed-nav li>a {
    color: #999494;
    text-decoration: none;
}

.eforms .tabbed-nav li:hover>a {
    color: #C00;
}

.ico_tq {
    width: 65px;
}


/*======================================= filter styles- end =======================================*/

.page-module .form-horizontal.eforms h3 {
    float: none !important;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.mr20 {
    margin-right: 20px!important;
}

.input-mini {
    width: 40px;
}

.input-small {
    width: 125px;
}

.input-medium {
    width: 150px;
}

.input-large {
    width: 210px;
}

.input-xlarge {
    width: 270px;
}

.input-xxlarge {
    width: 586px;
}

.height100 {
    height: 100px;
}

.height75 {
    height: 75px;
}


/* added for form  */

#overlay {
    opacity: .8;
    filter: alpha(opacity=80);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
    position: fixed;
    z-index: 99;
    background-color: #000;
}

.muted {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: #999494;
    white-space: normal;
}

#ErrorDiv {
    border: 1px solid #BD7E7E;
    padding: 10px;
    color: #7f0000;
    background: #F7E2E2;
    margin: 10px 0;
    display: none;
}

#ErrorDiv P {
    margin: 0;
    padding-bottom: 10px;
}

#ErrorDiv Ul,
#ErrorDiv Ul LI {
    margin: 0;
    padding: 0;
}

#ErrorDiv Ul LI {
    list-style: none;
    padding-left: 10px;
}

.front_arrow {
    background: url(../../images/icon_sprite.png) no-repeat -81px -3px;
    width: 10px;
    height: 13px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 0px 0 0 5px;
}

.front_arrow_dark {
    background: url(../../images/arrow.png) no-repeat;
    width: 15px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 0px;
}

.back_arrow {
    background: url(../../images/icon_sprite.png) no-repeat -98px -3px;
    width: 10px;
    height: 13px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: -5px 5px 0 0px;
}

.red-arrow-right {
    background: url(../../images/icon-page-rarrow.png) no-repeat 0px -50px;
    width: 10px;
    height: 13px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 0px 5px 0 0px;
}


/* modal */

.modal.fade.in {
    top: 50%;
}

.modal.fade {
    -webkit-transition: opacity .3s linear, top .3s ease-out;
    -moz-transition: opacity .3s linear, top .3s ease-out;
    -o-transition: opacity .3s linear, top .3s ease-out;
    transition: opacity .3s linear, top .3s ease-out;
    top: -25%;
}

.fade.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

.modal {
    position: fixed;
    left: 45%;
    z-index: 999;
    overflow: auto;
    width: 675px;
    margin: -250px 0 0 -280px;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .3);
    *border: 1px solid #999;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.modal .modal-header {
    border-bottom: 1px dotted #ccc6c6;
    padding: 0px 15px;
}

.modal-header h3 {
    border: none!important;
    font-size: 24px!important;
    font-weight: 700;
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}

.modal-body {
    overflow-y: auto;
    min-height: 200px!important;
    max-height: 350px;
    padding: 15px;
}

.companyBorrow-AddOn,
.associatedDiv {
    border-bottom: 1px dotted #ddd;
}

.companyBorrow-AddOn:last-child,
.associatedDiv:last-of-type {
    border: none;
}

.modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    border-top: 1px solid #ddd!important;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 white;
    -moz-box-shadow: inset 0 1px 0 white;
    box-shadow: inset 0 1px 0 white;
}

.btn-panel-close {
    background: url('../../images/icons-s0099f5f8a7.png') no-repeat;
    background-position: 0 -1033px;
    height: 30px;
    width: 30px;
    float: right;
    cursor: pointer;
}


/* accordin */

.smk_accordion {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}


/**--------------------------------------------------------------
 * Section
 * --------------------------------------------------------------*/

.smk_accordion .accordion_in {
    position: relative;
    z-index: 10;
    margin-top: -1px;
    overflow: hidden;
}


/*--------------------------------------------------------------
 * Head
 * --------------------------------------------------------------*/

.smk_accordion .accordion_in .acc_head {
    position: relative;
    padding: 10px;
    font-size: 18px;
    display: block;
    cursor: pointer;
    color: #666363;
}

.smk_accordion .accordion_in .acc_head .acc_icon_expand {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -7px;
    background: url(../../images/plus.png) no-repeat;
}


/*--------------------------------------------------------------
 * Content
 * --------------------------------------------------------------*/

.smk_accordion .accordion_in .acc_content {
    color: #7B7E85;
    padding: 2px 10px;
}

.smk_accordion .accordion_in .acc_content ul li {
    list-style: none;
    margin-left: 0;
}

.smk_accordion .accordion_in .acc_content h1:first-of-type,
.smk_accordion .accordion_in .acc_content h2:first-of-type,
.smk_accordion .accordion_in .acc_content h3:first-of-type,
.smk_accordion .accordion_in .acc_content h4:first-of-type,
.smk_accordion .accordion_in .acc_content h5:first-of-type,
.smk_accordion .accordion_in .acc_content h6:first-of-type {
    margin-top: 5px;
}


/*--------------------------------------------------------------
 * General
 * --------------------------------------------------------------*/

.smk_accordion .accordion_in:first-of-type,
.smk_accordion .accordion_in:first-of-type .acc_head {
    border-radius: 3px 3px 0 0;
}

.smk_accordion .accordion_in:last-of-type,
.smk_accordion .accordion_in:last-of-type .acc_content {
    border-radius: 0 0 3px 3px;
}

.smk_accordion .accordion_in.acc_active>.acc_content {
    display: block;
}

.smk_accordion .accordion_in.acc_active>.acc_head {}

.smk_accordion .accordion_in.acc_active>.acc_head .acc_icon_expand {
    background: url(../../images/minus.png) no-repeat;
}

.smk_accordion.acc_with_icon .accordion_in .acc_head,
.smk_accordion.acc_with_icon .accordion_in .acc_content {
    padding-left: 35px;
}

.headSection h4 {
    margin: 0;
    min-height: 80px;
}

ul.square {
    color: #C00;
    list-style: square;
    margin: 20px 0 20px 20px;
}

ul.square li span {
    color: #101f0f;
}


/* sideModule */

.expand_icon {
    background: url('../../images/plus.png') no-repeat left;
}

.collapse_icon {
    background: url(../../images/minus.png) no-repeat left;
}

.removeFile_icon {
    background: url(../../images/cross.png) no-repeat left;
    width: 14px;
    height: 12px;
    display: inline-block;
    margin: 0px 5px 0 10px;
}

.lock-icon {
    background: url('../../images/icon_sprite.png') no-repeat -153px -24px;
    width: 10px;
    height: 13px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    #cursor: pointer;
    margin: 0px 5px 0 0px;
}

.addElement_icon {
    margin: 8px 0 0 0px;
    padding: 0px;
    width: 20px;
    height: 20px;
    background: url(../../images/icon_sprite.png) -22px -41px no-repeat;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.removeElement_icon {
    margin: 8px 0 0 0px;
    padding: 0px;
    width: 20px;
    height: 20px;
    background: url(../../images/icon_sprite.png) -46px -41px no-repeat;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.help_icon {
    margin: -4px 0 0 0px;
    padding: 0px;
    width: 18px;
    height: 18px;
    background: url(../../images/icon_sprite.png) -47px -18px no-repeat;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.add_icon {
    margin: -8px 0 0 0px;
    padding: 0px;
    width: 18px;
    height: 18px;
    background: url(../../images/icon_sprite.png) -130px 2px no-repeat;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}


/* dropdown */

.select-wrapper {
    float: none;
    display: inline-block;
    border: 1px solid #d8d8d8;
    background: url("../../images/selectarrow.png") no-repeat right center;
    cursor: pointer;
    height: 34px;
    line-height: 34px;
}

.select-wrapper select {
    height: 36px;
    line-height: 36px;
    /*width: auto !important;*/
}

.customSelect {
    height: 36px;
    line-height: 36px;
    padding: 0;
    /*min-width: 102px;*/
    width: 102px;
}

.customSelectSmall {
    /*min-width: 102px;*/
    width: 102px;
}

.select-wrapper .holder {
    display: block;
    margin: 0 35px 0 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 0;
    line-height: 36px;
}

.select-wrapper select {
    margin: 0;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    outline: none;
    opacity: 0;
    _noFocusLine: expression(this.hideFocus=true);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    margin-top: -2px;
}


/* splitter panel */

.splitter-tile input[type="checkbox"] {
    margin: 0;
}

.form-horizontal .splitter-panel .splitter-tile {
    min-height: 400px!important;
    height: auto!important;
    padding-left: 10px;
    padding-right: 10px;
}

.form-horizontal .splitter-panel .splitter-tile>ul {
    margin: 0!important;
}


/*button override*/

.btn {
    font-size: 16px!important;
    font-weight: normal!important;
}


/*file upload button*/

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px 0px !important;
    font-size: 14px!important;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.input-file {
    height: 17px!important;
    line-height: 17px!important;
    margin-top: 10px!important;
}

.btn-file-upload {
    padding: 5px 10px;
    line-height: 16px;
    margin-bottom: 0!important;
    font-size: 14px!important;
    border-bottom: 0 !important;
}

.btn-compute {
    padding: 5px 5px;
    line-height: 12px;
}

.selectedView .btn-file-upload {
    margin-bottom: 10px !important;
}

.form-horizontal table {
    width: 100%!important;
}

.form-horizontal table th {
    text-align: left!important;
}


/*percentage section*/

.controls {
    position: relative;
}

.upload_Bar {
    width: 95%;
    padding: 10px 10px;
    border: #000 1px solid;
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    background: transparent\9;
    background: rgba(0, 0, 0, 0.75);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000);
    zoom: 1;
    color: #fff;
    display: none;
}

.upload_Bar.cloned {
    display: block;
}

.UB_progress {
    width: 100%;
    height: 5px;
}

.UB_progress-wrap {
    background: #FFF;
    /*margin: 20px 0;*/
    overflow: hidden;
    position: relative;
}

.UB_progress-bar {
    background: #C00;
    width: 0px;
    height: 5px;
}

.module-container {
    padding: 10px !important;
    margin-top: 0px !important;
}

.dateToSelect p {
    font-weight: bold;
    margin: 5px 0;
}

.dateToSelect ul {
    margin: 0 auto!important;
}

.dateToSelect ul li {
    padding: 0!important;
    float: left;
    width: 47%;
    border: #ddd 1px solid!important;
    margin-right: 1%!important;
    margin-left: 1%!important;
    margin: 1%!important;
}

.dateToSelect ul li label {
    font-size: 12px;
    margin-left: 10px;
}

.dateToSelect ul li.active {
    background: #C00;
    border: #FFF 1px solid;
    color: #FFF;
    transition: background 2s;
}


/* added out for Scripting */

.txtRight {
    text-align: right;
}

.redText {
    color: #F00;
}

.greenText {
    color: #468847;
}

.control-group.error p.errorMessage {
    display: block;
    transition: display 2s;
}

.control-group .controls label.hide {
    display: none;
    transition: display 2s;
}

.selectedView.error p.errorMessage {
    display: block;
    transition: display 2s;
}

.selectedView.error input.error {
    background: white url("../../images/icn-red-x.png") no-repeat 100% 50%;
    border-color: #7F0000;
    color: #7F0000;
}

.selectedView.error input.success {
    background: white url("../../images/icn-green-check.png") no-repeat 100% 50%;
    color: #468847 !important;
    border-color: #468847;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.selectedView .input-normal {
    width: 62px;
}


/*p.errorMessage{display: block!important;} /*to be removed later*/

.modal.small {
    width: 44%;
    left: 50%;
}

.modal.fade.in.small {
    top: 60%;
}

.modal.small .modal-body {
    min-height: 50px !important;
}

.textareaLarge {
    width: 347px
}

textarea {
    height: 50px;
    width: 273px;
}

.input-file {
    width: 183px;
}


/*updated*/

.radio,
.checkbox {
    padding: 0;
}

.input-file[disabled] {
    width: 190px;
}

.fdsection {
    border-bottom: #ddd 1px dotted;
    margin-bottom: 20px;
}

.fdsection:last-child {
    border-bottom: none
}

input.calender {
    width: 196px;
    margin-right: 10px!important;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px !important
}

#modalWindow_shareholding .labels {
    width: 34%;
    word-wrap: break-word;
}

#modalWindow_shareholding .controls {
    margin: 0;
}

#modalWindow_shareholding tr td {
    vertical-align: top;
}

#modalWindow_shareholding tr td:first-child {
    width: 8%;
}

.modal.large {
    overflow-y: auto;
    overflow-x: hidden;
    width: 910px;
    left: 37%;
}

.modal.fade.in.large {
    top: 55%;
}

.toatalShare {
    font-size: 15px;
    float: right;
}

#modalWindow_shareholding tr {
    border-bottom: 1px solid #ddd;
}

#modalWindow_shareholding tr td {
    padding-top: 10px;
}

#modalWindow_shareholding tr td input {
    margin-top: 0px;
}

#modalWindow_shareholding tr:last-child {
    border-bottom: none;
}

#modalWindow_shareholding select.middle {
    width: 105px;
}


/*Width Modulation */

input {
    width: 260px;
}

input[type="tel"] {
    width: 217px;
}

.select-dependent .input-small {
    width: 142px;
}

.customSelectLarge {
    /*min-width:305px;*/
    width: 305px;
}

.customSelectMedium {
    /*min-width:234px;*/
    width: 234px;
}

.price-dependent .input-small {
    width: 216px;
}

#postalCode,
#newProperty_postalCode {
    width: 210px;
}

#mailID {
    width: 237px
}

.input-normal {
    width: 86px;
}

.splitter-panel .splitter-tile .splitter-tile-overlay.inactive {
    opacity: 0 !important;
    display: none !important;
}


/*GIT Panel to be removed later on actual integration*/

.get-in-touch {
    background-color: transparent;
    border-bottom: 0;
    margin: 0;
    width: 330px;
    margin: 30px 0;
}

.get-in-touch .title {
    position: relative;
    background-color: #c00;
    padding: 20px 20px 10px 20px;
    height: 58px;
}

.get-in-touch .title p {
    font-size: 18px;
    line-height: 25px;
    margin: 0;
    padding: 0;
    color: #300;
    text-shadow: 0 1px 1px #e52e2e;
    height: auto;
    width: 100%;
    white-space: nowrap;
    font-weight: 700\0;
}

.get-in-touch .icn-phone {
    background-image: url("../../images/backgrounds/icn-phone.png");
    background-position: 95% 25%;
    background-repeat: no-repeat;
}

.get-in-touch ul {
    background-color: #100f0f!important;
    font-size: 18px;
    text-shadow: 0 1px 0 #350000;
    line-height: 20px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 0;
    font-weight: 700;
    font-weight: 400\0;
}

.get-in-touch ul a {
    text-decoration: none;
    font-weight: 700;
    color: #fcfcfc;
}

.get-in-touch ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #100f0f;
    line-height: 20px;
    height: auto!important;
}

.get-in-touch ul li img {
    margin: 0;
}

.GIT-container .get-in-touch ul li:hover {
    background-color: #323232!important;
}

.GIT-container .get-in-touch ul li {
    background-color: #100f0f!important;
}

.eforms .control-group.success input[type=checkbox],
.eforms .control-group.error input[type=checkbox] {
    background-image: none !important;
}

.eforms .control-group .controls.success input[type="text"],
.eforms .control-group .controls.error input[type="text"] {
    width: 260px;
}

.control-group.error input {
    width: 260px;
}

.control-group.error .input-file {
    width: 183px;
}

.control-group.error .controls .input-file {
    width: 183px;
}

.control-group .controls .input-file {
    background-image: none;
    border-color: #ccc;
    /*color: #7f0000;*/
    width: 183px;
}

.control-group.error textarea {
    width: 273px;
}

.control-group.error .input-normal {
    width: 86px;
}

.control-group.error .input-mini {
    width: 32px;
}

.control-group.error .input-small {
    width: 216px;
}

.control-group.error .input-medium {
    width: 150px;
}

.control-group.error .input-large {
    width: 210px;
}

.control-group.error .input-xlarge {
    width: 270px;
}

.control-group.error input[type="tel"] {
    width: 216px;
}

.control-group.select-dependent.error input {
    width: 142px;
}

.companyBorrow-AddOn .control-group.companyBorrow-addedSection .controls {
    width: 260px;
}

.assignGurantorHld .personalBorrowings .personalBorrow-AddOn .control-group.personalBorrow-addedSection .controls {
    width: 260px;
}

.additionalGuarantor .control-group.additionalGuarantor-addedSection .controls {
    width: 260px;
}

.control-group.error .success {
    color: #468847 !important;
    border-color: #468847 !important;
    background: #fff url("../../images/icn-green-check.png") no-repeat 100% 50% !important;
}

.control-group .success {
    color: #468847 !important;
    border-color: #468847 !important;
    background: #fff url("../../images/icn-green-check.png") no-repeat 100% 50% !important;
}

.control-group .error {
    background: #fff url("../../images/icn-red-x.png") no-repeat 100% 50% !important;
    border-color: #7f0000 !important;
    color: #7f0000!important;
}

.control-group.error .input-normal {
    background-image: none;
    border-color: #ccc;
}

.selectedView .success {
    color: #468847 !important;
    border-color: #468847 !important;
    background: #fff url("../../images/icn-green-check.png") no-repeat 100% 50% !important;
}

.selectedView .error {
    background: #fff url("../../images/icn-red-x.png") no-repeat 100% 50% !important;
    border-color: #7f0000 !important;
    color: #7f0000;
}

.control-group.select-dependent.error .input-small {
    width: 142px;
    background-image: none;
    border-color: #ccc;
    /*color: #ccc;*/
    color: #555;
    box-shadow: none;
}

.control-group.select-dependent .sucess {
    color: #468847 !important;
    border-color: #468847 !important;
    background: #fff url("../../images/icn-green-check.png") no-repeat 100% 50% !important;
}

.control-group.select-dependent .error {
    background: #fff url("../../images/icn-red-x.png") no-repeat 100% 50% !important;
    border-color: #7f0000 !important;
    color: #7f0000 !important;
}


/*fix for removing clear option from ie10 textboxes*/

input::-ms-clear {
    display: none;
}


/* fix for alignment of cursor and placeholder text in input fields 
input[type="text"], input[type="email"], input[type="tel"] {
    line-height: 16px;
}*/

.eforms .control-group.success input[type=radio],
.eforms .control-group.error input[type=radio] {
    background-image: none !important;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="checkbox"],
input[type="radio"] {
    outline: none !important;
}

input.calender.error,
input.calender.success {
    width: 196px !important;
}

.control-group.error .textareaLarge {
    width: 347px !important;
}


/* shareholder popup validation */

#modalWindow_shareholding input.success {
    color: #468847 !important;
    border-color: #468847 !important;
    background: #fff url("../../images/icn-green-check.png") no-repeat 100% 50% !important;
}

#modalWindow_shareholding input.error {
    background: #fff url("../../images/icn-red-x.png") no-repeat 100% 50% !important;
    border-color: #7f0000 !important;
    color: #7f0000 !important;
}

input.calender.error,
input.calender.success {
    width: 196px;
}


/* IE 8 Browser Fixes */

input[type="text"],
input[type="email"],
input[type="tel"] {
    /*line-height: 16px\0;
    line-height: 24px\9;*/
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0\9;
    border: none\9;
    outline: none\9;
}


/* IE 9
:root input[type="checkbox"],:root input[type="radio"],:root input[type="checkbox"]:checked{
    padding: 0 \;
    border: none !important \;
    background: transparent \;
    outline: none \;
}*/


/* IE9 only */

@media all and (monochrome:0) {
    input[type="checkbox"],
    input[type="radio"] {
        padding: 0\9;
        border: none \9;
        background: transparent\9;
        outline: none\9;
    }
    input[type="checkbox"]:checked,
    input[type="radio"]:checked {
        border: 0\9;
        background: transparent\9;
        box-shadow: none \9;
    }
    .control-group.success input:focus {
        box-shadow: none \9;
    }
}


/* Placeholder */

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder {
    color: #ccc6c6;
}

textarea.placeholder.error,
input.placeholder.error {
    color: #ccc6c6 !important;
}

.page-module .form-horizontal .control-group .radio input[type="radio"] {
    margin-top: -4px;
    margin-top: 0px\9;
    margin-top: 0px\0;
    *margin-top: 0px;
}


/* Mozila Firefox only */

@-moz-document url-prefix() {
    .page-module .form-horizontal .control-group .radio input[type="radio"] {
        margin-top: 0px;
    }
}


/* Tooltip */

#tooltip {
    color: #100F0F;
    background: #FEF8E9;
    padding: 10px;
    -webkit-box-shadow: 1px 2px 5px -1px #444;
    -moz-box-shadow: 1px 2px 5px -1px #444;
    box-shadow: 1px 2px 5px -1px #444;
    border-bottom: 2px solid #DCC2A0;
}

#tooltip:after {
    /*border:0;
    background: url('../../images/tooltip_arrow.png') no-repeat center bottom;
    width: 100%;
    height: 9px;
    position: absolute;
    bottom: -9px;left:0;
    margin-left:0;*/
    position: absolute;
    bottom: -9px;
    border-top: 10px solid #FEF8E9;
}


/* Branch Appointment - Meeting Slots */

.meetingSlotsWrapper {
    border: #C00 1px solid;
}

.meetingSlotsWrapper .accordion_in .acc_head {
    font-size: 14px;
    font-weight: bold;
    color: #C00;
}

.meetingSlotsWrapper .accordion_in .acc_head .acc_icon_expand {
    left: 5px;
}

.meetingSlotsWrapper.acc_with_icon .accordion_in .acc_head {
    padding: 7px 7px 7px 25px;
    border-bottom: 1px solid #C00;
}

.meetingSlotsWrapper.acc_with_icon .accordion_in.last .acc_head,
.meetingSlotsWrapper.acc_with_icon .accordion_in.last .acc_content>a.meetingDateSlot.last {
    border-bottom: 0;
}

.meetingSlotsWrapper.acc_with_icon .accordion_in.acc_active .acc_head,
a.meetingDateSlot.last {
    border-bottom: 1px solid #C00;
}

.meetingSlotsWrapper.acc_with_icon .accordion_in .acc_content {
    padding: 0px;
}

a.meetingDateSlot,
a.noMeetingDateSlot {
    padding: 7px 7px 7px 25px;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    color: #000;
    display: block;
}

a.meetingDateSlot:hover,
a.noMeetingDateSlot:hover {
    background-color: #eee;
    text-decoration: none;
}

textarea {
    resize: none;
}

textarea:focus {
    outline: none;
}

.control-group .labels .control-label {
    float: right;
}

#progress-bar ul li {
    float: left;
}


/* Safari Only */

@media screen and (-webkit-min-device-pixel-ratio:0) {
     ::i-block-chrome,
    input[type="text"],
     ::i-block-chrome,
    input[type="email"],
     ::i-block-chrome,
    input[type="tel"] {
        line-height: 16px;
    }
     ::i-block-chrome,
    button.sendotp {
        margin-top: 0 !important;
    }
}

.control-group select.success,
.control-group select.error {
    /*color: #555 !important;*/
    border-color: #BBB !important;
    background: none !important;
}

.control-group .select-wrapper.success,
.control-group .select-wrapper.error {
    background: url("../../images/selectarrow.png") no-repeat right center !important;
}

.control-group.success .select-wrapper.success {
    border-color: #468847 !important;
}

.control-group.success .select-wrapper.success>.holder {
    color: #468847 !important;
}

.control-group.error .select-wrapper.error {
    border-color: #7f0000 !important;
}

.control-group.error .select-wrapper.error>.holder {
    color: #7f0000 !important;
}

.select-wrapper.success {
    border-color: #468847 !important;
}

.select-wrapper.success>.holder {
    color: #468847 !important;
}

.select-wrapper.error {
    border-color: #7f0000 !important;
}

.select-wrapper.error>.holder {
    color: #7f0000 !important;
}

.btn:focus,
.btn:active {
    outline: none;
}

#modalWindow_confirmBRN>div.modal-body>div.control-group {
    margin-bottom: 0;
}

div.modal-footer button.btn {
    margin-bottom: 0;
}

.control-group.success input[type="checkbox"]:checked {
    border-color: #468847;
}

#ErrorDiv p {
    padding-bottom: 0;
}


/************submit documents*******/

#upload_DIV .input-file[disabled] {
    color: #000 !important;
    background-color: #eee !important;
}

#upload_DIV.submitBlock .comments.error {
    background: #fff url("../../images/icn-red-x.png") no-repeat 100% 50% !important;
    border-color: #7f0000 !important;
    color: #7f0000 !important;
}

#upload_DIV.submitBlock .comments.success {
    color: #468847 !important;
    border-color: #468847 !important;
    background: #fff url("../../images/icn-green-check.png") no-repeat 100% 50% !important;
}

.additionalList li {
    border-bottom: 1px dotted #C1C1C1;
    margin-top: 10px;
}


/*.personalBorrowingList li:last-child{
    border-bottom: 0;   
}*/

.additionalList .control-group {
    margin-bottom: 10px;
}

.deleteGuarantor ul {
    margin-top: 0;
}


/* bala */

.ind30 {
    margin-left: 30px;
}

.selectedViewArrow .success,
.selectedViewArrow .error {
    background: url("../../images/selectarrow.png") no-repeat right center !important;
}

.selectedViewArrow.error input.error,
.selectedViewArrow.success input.error {
    background: white url("../../images/icn-red-x.png") no-repeat 100% 50% !important;
}

.selectedViewArrow.error input.success,
.selectedViewArrow.success input.success {
    background: white url("../../images/icn-green-check.png") no-repeat 100% 50% !important;
}


/* bala */

#turnover {
    width: 304px;
}

#coll-hk {
    width: 241px !important;
}

#coll-hk label {
    margin-top: 0px !important;
}

#coll-ctrl-hk {
    margin-left: 260px !important;
}

#hkid {
    float: left !important;
}

#hkid-controls {
    margin-left: 0px !important;
}

#hk-lable {
    width: 103px;
}

#other-text .labels .control-label {
    margin-top: -4px !important;
}

#collateralDetails {
    padding-top: 70px;
}

#incorporation,
#dateOfBusinessCommenced {
    width: 216px !important;
}

#companytype,
#District {
    width: 305px !important;
}

#occ {
    float: none !important;
}

#pin {
    width: 18%;
}

.hide {
    display: none !important;
}

#officeNumber {
    margin-top: 10px;
    margin-left: -101px;
    width: 46%;
}

#mobileNumber {
    margin-top: 10px;
    margin-left: -101px;
    width: 46%;
}

#tax-tile {
    min-height: 270px !important;
}

#other-tile {
    min-height: 270px !important;
}

#shareholder-data td p {
    margin-left: -192px;
    margin-bottom: 0px !important;
}

#upload_DIV .controls .input-file {
    width: 162px !important;
}

.txt-hight {
    height: 100px !important;
}

#sales-turn .select-wrapper {
    width: 304px !important;
}

.ws-popover-opener {
    display: none !important;
}

.input-button-size-1.month-input-buttons,
.input-button-size-1.date-input-buttons,
.input-button-size-1.datetime-local-input-buttons {
    margin-left: -26px !important;
}

#check-loan {
    margin-left: 17px;
    font-size: 18px !important;
    font-weight: bold;
}

.flat,
.floor,
.block {
    width: 14% !important;
}