<div class="form-group">
    <h5 *ngIf="selectedField.tooltip" style="    font-style: italic;">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        <span [innerHtml]="selectedField.tooltip"></span>
    </h5>
    <h4 for="Title">Title:</h4>
    <span *ngIf="selectedField.type == 'local_data'; else elseNameBlock">
        <input type="text" class="form-control" [(ngModel)]="selectedField.name"> 
    <!--<span *ngIf="selectedField.isEditable; else elseEditableBlock"><input type="text" class="form-control" [(ngModel)]="selectedField.value"></span>
    <ng-template #elseEditableBlock><input type="text" class="form-control" [(ngModel)]="selectedField.name"></ng-template>-->
    </span>
    <ng-template #elseNameBlock>
        <simple-tiny [elementId]="'my-editor-id'" [(content)]="selectedField.name" *ngIf="selectedField.type == 'rich_text'">
        </simple-tiny>
        <input type="text" class="form-control" [(ngModel)]="selectedField.name" *ngIf="selectedField.type != 'rich_text'">
    </ng-template>
    <h4>Row Continue: <input type="checkbox" [(ngModel)]="selectedField.isRowContinued" /> </h4>
    <h4 *ngIf="selectedField.type == 'text'">Required: <input type="checkbox" [(ngModel)]="selectedField.isRequired" /> </h4>

</div>
<div class="checkbox" *ngIf="selectedField.isEditable">
    <div class="checkbox i-checks">
        <label>
            <input type="checkbox"  [checked]="selectedField.shouldEdit" (change)="selectedField.shouldEdit = !selectedField.shouldEdit" ><i></i>  Is Editable
        </label>
    </div>
    <!--<label><input type="checkbox" [checked]="selectedField.shouldEdit" (change)="selectedField.shouldEdit = !selectedField.shouldEdit">Is Editable</label>-->
</div>
<div class="form-group" *ngIf="selectedField.type == 'radio' || selectedField.type == 'checkbox' || selectedField.type == 'dropdown'">
    <h4 style="">Options: <button class="btn btn-sm pull-right " (click)="onAddFieldOptionClicked()">+</button></h4>

    <section *ngFor="let op of selectedField.options; let i=index" style="margin-top: 10px;" [@flyInOut]="'in'">
        <div class="input-group">
            <input type="text" [(ngModel)]="op.value" style="" class="form-control" placeholder="">
            <span class="input-group-addon cursor-pointer" (click)="onFieldOptionRemoveClicked(i)"><i class="fa fa-times fa-fw"></i></span>

        </div>
        <div *ngIf="selectedField.type == 'radio'" class="row" style="    margin-top: 10px;">
            <div class="col-md-4">
                <label>Link to: </label>
            </div>
            <div class="col-md-8">
                <ng-select [allowClear]="false" [(ngModel)]="op.link" [items]="getLinkingQuestions()" (selected)="onFieldOptionLinkSelected(op, $event)" placeholder="">
                </ng-select>
            </div>


        </div>
    </section>


    <!--<ul class="list-group m-t">
        <li class="list-group-item" *ngFor="let op of selectedField.options; let i=index">

            <span class="pull-right m-l">
                                <button class="btn-link" (click)="onFieldOptionRemoveClicked(i)"><i class="fa fa-times fa-fw"></i></button>
                            </span>
            <span class="pull-left m-r">{{i + 1}}</span>

            <div class="clear">
                <input type="text" [(ngModel)]="op.value" style="width: 80%;" class="form-control" placeholder="">
            </div>
            <div *ngIf="selectedField.type == 'radio'">
                <label>Link to: </label>
                <ng-select [allowClear]="false" [items]="getLinkedQuestions()" (selected)="onFieldOptionLinkSelected(op, $event)" placeholder="">
                </ng-select>
            </div>
        </li>

    </ul>-->
</div>
<div class="form-group" *ngIf="selectedField.type == 'number' || selectedField.type == 'slider'">
    <h4 for="">Min:</h4>
    <input type="number" class="form-control" [(ngModel)]="selectedField.min">
    <h4 for="">Max:</h4>
    <input type="number" class="form-control" [(ngModel)]="selectedField.max">
    <h4 for="">Step:</h4>
    <input type="number" class="form-control" [(ngModel)]="selectedField.step">
    <h4 for="">From:</h4>
    <input type="number" class="form-control" [(ngModel)]="selectedField.from">
</div>
<div class="form-group" *ngIf="selectedField.type == 'submit_button'">
    <h4 for="">Action URL:</h4>
    <input type="text" class="form-control">
    <h4 for="">Method:</h4>
    <select class="form-control">
        <option>GET</option>
        <option selected>POST</option>
    </select>
</div>
<div class="text-right">
    <button class="btn">Add to favorite</button>
</div>